[2014-03-12 01:01] guaka opened #2 "LICENSE?"
MIT makes most sense

[2014-05-23 02:43] wanderer opened #6 "mixed uppercase and lowercase hex strings"
Some of the hex strings are [uppercase](https://github.com/ethereum/tests/blob/master/rlptest.json#L56) and some are [lowercase](https://github.com/ethereum/tests/blob/master/rlptest.json#L20). It would be nice if it was consistent one way or the other.

[2015-02-02 05:47] kumavis opened #51 "RPC Test Suite"
@wanderer and I were thinking that there should be generic RPC tests for the ethereum clients.

[2015-02-07 16:22] romanman opened #52 "modulus of negative"
(-5) mod 3 = 1

need to fix that:

https://github.com/ethereum/tests/blob/develop/VMTests/vmArithmeticTest.json#L345

[2015-02-07 17:16] romanman opened #53 "5 mod (-3) == 2 ?"
in the test it check for 5 ?

https://github.com/ethereum/tests/blob/develop/VMTests/vmArithmeticTest.json#L479

[2015-02-07 17:35] CJentzsch commented on #52
No, its correct. Signed modulo is mathematically not defined. Python (and may be Java) compilers will give (-5) mod 3 = 1. C++ , Fortran, Go and some others will calculate (-5) mod 3 = 2. Since signed modulo is not defined and differs for every compiler, I defined it like the C style compilers. See YP: (-5) mod 3 = sgn(-5)*|-5| mod 3 = - (5 mod 3) = 2.

[2015-02-07 17:35] #52 closed

[2015-02-07 17:35] CJentzsch commented on #53
see https://github.com/ethereum/tests/issues/52

[2015-02-07 17:35] #53 closed

[2015-02-07 17:56] romanman commented on #52
so you define it like this:

[code]
how do you define: x mod y : x < 0  and y < 0 ?

[2015-02-07 18:22] CJentzsch commented on #52
you take the absolute value of y. In the YP it says: µ[0] mod µ[1] = sgn(µ[0]) |µ[0]| mod |µ[1]| . And this always clearly defined.

[2015-02-07 18:23] romanman commented on #52
got you thanks

[2015-02-07 22:28] romanman opened #54 "have problem to run VMTests suite in cli"
[code]

also tried

[code]
is it a valid syntax ?

[2015-02-07 23:03] chfast commented on #54
Try `userDefinedStateFile`. But I'm not sure.

[2015-02-08 16:01] romanman commented on #54
@CJentzsch @chfast  :  found the problem the sufix of --run_test should be also VM for vm testing
`--run_test=VMTests/userDefinedFileVM`

[2015-02-08 16:01] #54 closed

[2015-02-08 17:46] romanman opened #55 "VMTest => createNameRegistrator"
2 questions:

 + Why do you omit the address of a ~created~ contract:[`945304eb96065b2a98b57a48a06ae28d285a71b5`]
https://github.com/ethereum/tests/blob/develop/VMTests/vmSystemOperationsTest.json#L1501

 + Why the nonce of the creator doesn't increase:
https://github.com/ethereum/tests/blob/develop/VMTests/vmSystemOperationsTest.json#L1532

[2015-02-09 06:58] CJentzsch commented on #55
1. The to address (=destination) of a creation is always empty.

2. In the vm test we can bot even know if the creation was successfull because we do not execute the init code. The increment of the nonce is a task of the state abd is not done in vm test.

I admit, this are just definitions for the vm tests, because we do not execute calls and creates in vm test, instead we just make a "callcreate"

[2015-02-09 12:35] #55 closed

[2015-02-09 12:35] romanman commented on #55
@CJentzsch : thanks CJ, I will
align my testing structure that way.

[2015-02-10 10:57] romanman opened #56 "ADDMOD - another question"
Still missing something:

https://github.com/ethereum/tests/blob/develop/VMTests/vmArithmeticTest.json#L269

testing for: `addmod(-1, -2, 2)`

according  to this `µ[0] mod µ[1] = sgn(µ[0]) |µ[0]| mod |µ[1]|` the result should be: `-1`
but the expectation is for `1` :confused:

Please advice
Thanks in advance.

[2015-02-10 11:31] CJentzsch commented on #56
We do not have signed add mod. So you can not have negative numbers as input.  The real input in your case is 0xfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffe . And you can interprete those bytes as -1 (if it should be interpreted as a signed  number, such as the case for SMOD, SDIV, ...) or as 2^256-1. For addmod the meaning of those bytes is 2^256-1. The input are always 32 byt

[2015-02-10 11:31] #56 closed

[2015-02-10 11:36] romanman commented on #56
@CJentzsch : sorry still missing something :
so if you do `addmod(-1, -2, 2)` and pass `0xff...ff`, `0xff...fe`, `0x00...02`
according the encoding , how addmod should interpret
the `0xff..ff` ?

[2015-02-10 11:55] CJentzsch commented on #56
((2**256-1)+(2**256-2))%2 = 1

[2015-02-10 12:08] romanman commented on #56
@CJentzsch :+1: thanks done with arithmetic
all pass now.

[2015-02-10 13:54] romanman opened #57 "vmEnvironmentalInfoTest.ExtCodeSizeAddressInputTooBigRightMyAddress"
https://github.com/ethereum/tests/blob/develop/VMTests/vmEnvironmentalInfoTest.json#L80

That test emitates code approach
by a wrong address, the result is
creation of that address, is it the
correct way?

`572e5295c57f15886f9b263e2f6d2d6c7b5ec6aa`

does cpp do it in the live state run  ?

[2015-02-10 14:43] CJentzsch commented on #57
Creation of the address is the wrong word. Every address exists, but has only zero entries. Here in the vm tests in the pre and post state there is no coinbase, sender, ... . They exist, but we do not need them for that test so we ignore them. In state tests we mention every existing (in use) account.
In this particluar test, we ask for the size of the code of an empty address. The size is zero. T

[2015-02-10 14:43] #57 closed

[2015-02-10 14:46] romanman commented on #57
I mean you have the pre and post different:
so you expect repository to keep track that
such an account was approached.

[code]

[2015-02-10 14:50] CJentzsch commented on #57
I agree that this is a subtle point. Basically I print the accounts which are in the cache, so accounts which have been used in the execution of the test. All you need to do is to check, that your client has the same values (balance, code, nonce, storage) for every accout in the post state. So if you ask your database for the values of the account 572..., they need to be zero.

[2015-02-10 14:55] romanman commented on #57
@CJentzsch : you see my implementation is probably slide
different , if I init the test case I will put in the db only
pre section addresses.

 So I guess the fix for me is just to add the accounts
that was approached by `getBalance` or `getNonce` or `getCode`
if they are not exist.

 + It still stays with 2 questions , is it the same in the State testing ?
 + is it affects the trie on the live ru

[2015-02-10 16:16] CJentzsch commented on #57
It is not the same in state testing. Thats one of the reason why I didn't like the vm tests and "invented" the  state tests. In state tests pre and post give you the complete state. The root of that state would be part of the block header. In vm tests, only "needed" addresses are put in. Therefore you do need to check if this exactly matches with your state, but check that the accounts mentioned i

[2015-02-10 16:40] romanman commented on #57
@CJentzsch : Let's summarized just to see that I
got all correct:

1. VMTest each new approached account will be in the post state
event if it was only `getBalance()` and no set so the all values will
remain zeroes

2. StateTest only the account that actually do a `setBalance()` or `increaseNonce()`
or any other change are the only one who are going to be in the post in addition to
pre accounts.

[2015-02-10 16:42] CJentzsch commented on #57
correct!

[2015-02-10 16:42] romanman commented on #57
:+1:

[2015-02-11 03:16] wanderer opened #58 "invalid tx tests"
some of the tx tests are invalid
[Here](https://github.com/ethereum/tests/blob/develop/TransactionTests/ttTransactionTest.json#L40-L41) the signatures are the wrong length, so there is no way for this to be a valid tx.

Also [RLPElementsWithZeros](https://github.com/ethereum/tests/blob/develop/TransactionTests/ttTransactionTest.json#L17) isn't working out for me. Would love it if some one could do

[2015-02-11 18:37] #58 closed

[2015-02-21 20:50] wanderer opened #61 "Transaction; Can the Address field be less than 20?"
How can this be valid?  https://github.com/ethereum/tests/blob/develop/TransactionTests/ttTransactionTest.json#L12

I'm pretty sure that the yellow paper defines addresses as 160bits

[2015-02-21 21:00] CJentzsch commented on #61
It does. The cpp client fills up the remaining bytes with 0's. But  I am not sure if this is correct behavior according to YP. @gavofyork

[2015-02-21 21:10] wanderer commented on #61
even if the cpp fills the remaining bytes after its done parsing the Tx it should produce
`0x000000000000000000000000000b9331677e6ebf`
and not `b9331677e6ebf`

[2015-02-21 21:26] wanderer commented on #61
and If we are remove the leading zeros from fields with a know length then this one is wrong https://github.com/ethereum/tests/blob/develop/TransactionTests/ttTransactionTest.json#L18 and conflicts with this test https://github.com/ethereum/tests/blob/develop/TransactionTests/ttWrongRLPTransaction.json#L11

[2015-02-22 19:23] wanderer opened #62 "Balance Overflows"
should [this](https://github.com/ethereum/tests/blob/develop/StateTests/stTransactionTest.json#L1289) be `115792089237316195423570985008687907853269984665640564039457584007913129640035` ?
I See that the balance is overflowing but is this correct behavior?

[2015-02-23 04:41] wanderer opened #63 "statetest: nonce maybe wrong"
this nonce maybe wrong https://github.com/ethereum/tests/blob/develop/StateTests/stSolidityTest.json#L226

I think it should be 2. The nonce gets incremented once for sending the transaction and once again for the creation of [2adc25665018aa1fe0e6bc666dac8fc2697ff9ba](https://github.com/ethereum/tests/blob/develop/StateTests/stSolidityTest.json#L216)

[2015-02-23 04:45] swaldman opened #64 "trietest.json: jeff test permutations?"
It looks as though the tests in `tests/TrieTests/trietest.json` are intended to be permuted, with deletions tacked onto the end to ensure that all bindings both added and deleted end up deleted. (Or maybe I'm wrong? I'm trying to follow along from e.g. [here](https://github.com/ethereum/pyethereum/blob/d442c114b694439a85a89bb3b06d5115243d3067/tests/test_trie.py).)

That works fine for most of the

[2015-02-23 04:50] wanderer commented on #64
im not exactly sure of your question. But you are suppose to apply each each key/value pair in the `in` array to the trie. Your resulting stateroot should then match `root`

[2015-02-23 05:10] swaldman commented on #64
Yes. And that works great! And thanks for the quick response!

I'm trying to crib from you guys carefully, and and the [python](https://github.com/ethereum/pyethereum/blob/d442c114b694439a85a89bb3b06d5115243d3067/tests/test_trie.py) implementation seems to run these tests not just by applying each k/v pair in order, but also by permuting the order of those operations many times and expecting the s

[2015-02-23 05:23] wanderer commented on #64
confirming [this](https://github.com/ethereum/tests/blob/4d37c1cea2ca2999e8dd442ee137c942755697f6/TrieTests/trieanyorder.json#L28-L29) can't be right. @gavofyork can we change these to ordered arrays as well?

[2015-02-23 05:59] swaldman commented on #64
Thanks very much again for your quick response!

For now I'll just exclude `foo` in `trieanyorder.json`, and `jeff` in `trietest.json` from permutation testing. But I'd like to follow along with however you guys decide to resolve this. (If you are curious, I'm implementing bits and pieces of ethereum in Scala [here](https://github.com/swaldman/consuela).)

[2015-02-23 06:35] CJentzsch commented on #63
The YP says: " nonce: A scalar value equal to the number of transactions
sent from this address or, in the case
of accounts with associated code, the number of
contract-creations made by this account". The "or" is important here. Sine this is a contract, the nonce only gets updated when it creates another contract. But the test case here will likely never happen. Because after creating a contract

[2015-02-23 06:35] #63 closed

[2015-02-23 06:44] CJentzsch commented on #62
It is correct behaviour, but again will never occur in real life. The balance belongs to the set B_256. So it can never be larger than 2^256-1. And therfore have to overflow in that way. But we will never have pre state with a balance like that, or a transaction which could lead to balance (or nonce) overflow.

[2015-02-23 06:44] #62 closed

[2015-02-23 08:26] CJentzsch commented on #64
tests/TrieTests/trietest.json should not be permuted and  tests/TrieTests/trieanyorder.json should be permuted.

[2015-02-23 08:42] swaldman commented on #64
(i guess that permuting the `trietest.json` tests but appending all deletes was a pyethereum innovation. it does work okay, except for test `jeff`.)

[2015-02-23 08:53] CJentzsch commented on #64
I also updated `tests/TrieTests/trieanyorder.json` (https://github.com/ethereum/tests/commit/8b79ae6695c9d0a84542df8a02dc45b35fbf560e)

[2015-02-23 08:54] #64 closed

[2015-02-23 08:57] swaldman commented on #64
Thanks again for the quick responses and work. I really appreciate it.

[2015-02-23 09:01] CJentzsch commented on #64
Thanks for pointing this issue out.

[2015-02-23 09:01] winsvega commented on #63
2adc25665018aa1fe0e6bc666dac8fc2697ff9ba is currentbase
acoount has tried to create contracts but this operation run out of gas
and as it was executing itself by a transaction, it's nonce incremented by 1

[2015-02-23 09:44] #61 closed

[2015-03-06 13:09] faizkhan00 opened #72 "refund_CallA"
In the trace for this test, it seems there is no output relating to how the ending balances ended up in that state:

Java
[code]

Cpp
[code]

And yet, even with the spent gas at 830, the testcase says:

Post:
[code]

Is this right?

[2015-03-09 10:42] romanman opened #73 "poc-9 genesis"
https://github.com/ethereum/tests/blob/develop/BasicTests/genesishashestest.json

is this genesis for this premine ?

https://github.com/ethereum/cpp-ethereum/blob/f8c06e92f7ea5d30074274580119d72ac35af5ee/libethereum/GenesisInfo.cpp

@CJentzsch

[2015-03-09 11:13] CJentzsch commented on #73
This is: https://github.com/ethereum/cpp-ethereum/blob/develop/libethereum/GenesisInfo.cpp
 in accordnace with the test and
https://github.com/ethereum/common/blob/master/genesis.json

[2015-03-09 11:13] #73 closed

[2015-03-09 11:15] romanman commented on #73
cool thanks

[2015-03-10 22:59] wanderer opened #74 "[vmArithmeticTest exp1] gas calculation problem"
so im having a problem a with gas calculation on the `exp1` test. From the yellow paper gas cost is
`Gexp + Gexpbyte * (1 + floor(log256(exponent)))`;
The exponent in the exp1 test is `fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffe`. With Gexp and Gexpbyte set to 10  the cost works out to be 340. CPP is giving 330. So I wonder if there is a rounding error somewhere. log256(expone

[2015-03-10 23:05] wanderer commented on #74
also all other test involving EXP are succeeding for me. So its just this one edge case

[2015-03-11 01:18] wanderer commented on #74
yep can conferm rounding error on my part

[2015-03-11 01:18] #74 closed

[2015-03-11 07:51] CJentzsch commented on #72
This test is outdated (new gasprices). If you still have an issue with the updated tests, reopen the issue.

[2015-03-11 07:51] #72 closed

[2015-03-14 17:42] romanman opened #76 "last block hash is not present in any of blocks"
https://github.com/ethereum/tests/blob/develop/BlockchainTests/basicBlockChain.json

` "lastBlock": "9d0a03fd264306a8ccf624bbd52430c18016dd734f982f8e15a94e27c6a252d5",`

that hash isn't any of existing blocks, am I missing anything ?

[2015-03-14 17:44] romanman opened #77 "`allotment` is not described on the wiki"
https://github.com/ethereum/tests/wiki/Blockchain-Tests

`allotment` data is not described on the wiki ,
is it `pre` or `post` values ?

[2015-03-14 18:18] wanderer commented on #76
hey @romanman that is my fault, Will update soon

[2015-03-14 18:19] wanderer commented on #77
this is the initial genesis allotment. But it needs to be changed to the Canonical format

[2015-03-14 20:13] romanman commented on #77
@wanderer : thanks man,

[2015-03-14 20:14] romanman commented on #76
@wanderer : in this set of tests the `hash` is not part of the header
as it is in the second set of block chain tests:
https://github.com/ethereum/tests/blob/develop/BlockTests/bcBlockChainTest.json#L48

do you want to make it one type data structure ?

[2015-03-14 20:26] wanderer commented on #76
yes that is a good idea we should do that

[2015-03-14 20:26] romanman commented on #76
:+1:

[2015-03-14 20:30] romanman commented on #76
@CJentzsch : I guess we need your approve here.

[2015-03-16 17:09] romanman commented on #76
@wanderer : can you pull that one ?
https://github.com/ethereum/tests/pull/79

[2015-04-09 10:39] faizkhan00 opened #81 "Some incorrect post-repo values"
Issue with post repository on these tests:
[code]

logging from these is very similar:
[code]
versus what we're seeing in Java and Cpp
[code]

[2015-04-09 10:42] faizkhan00 commented on #81
Similar issue seen with wrongDifficulty:

[code]

[code]

[2015-04-09 10:46] faizkhan00 commented on #81
Some issue with wrongTimestamp: it throws on CPP with InvalidDifficulty exception, possibly need to make sure that this test is updated

[code]

[2015-04-11 19:05] faizkhan00 commented on #81
We updated our test runner so this isn't really such an issue - although that wrongTimestamp issue might still be .

[2015-04-11 19:05] #81 closed

[2015-06-07 07:10] romanman opened #82 "Call precompiled contract by transaction"
The call for `000...01 - 000...04` addresses strict from
regular transaction is not tested yet , I can contribute several
examples, but don't sure in which section include them. @CJentzsch

[2015-06-07 14:15] romanman commented on #82
e.g : http://pastebin.com/raw.php?i=KSq8uGMz

[2015-06-07 14:53] romanman opened #83 "can't parse odd number of characters as byte representation"
[2 issues]
https://github.com/ethereum/tests/blob/develop/StateTests/stCallCreateCallCodeTest.json#L229
https://github.com/ethereum/tests/blob/develop/StateTests/stCallCreateCallCodeTest.json#L392

`0xfffffffffffffffffffffffffffffff (31)` => `0xffffffffffffffffffffffffffffffff (32)`

[2015-06-08 06:18] CJentzsch commented on #82
Thanks for that important hint!
You can include those tests in https://github.com/ethereum/tests/blob/develop/StateTests/stPreCompiledContracts.json
or create your own file. Which is probably better, since this file could be overwritten now and then by the automatic filling of tests.
Even better, you include it in the cpp filler files (the same test, but without post, postStateRoot, logs and out s

[2015-06-08 11:20] romanman commented on #82
@CJentzsch :

pushed that one:
https://github.com/romanman/tests/commit/5f5851103db9cff1e2304cd273e17d92af2c5c7a

if all good will do pull request.

what is the filler for ?

[2015-06-08 11:34] CJentzsch commented on #82
Because back in the days the protocol changed often and because it dont't want to manually calculate the stateRoot I have filler files, which only define the "pre"-state, the envirnomnet and the transaction. Out of them the current clients creates the test using testeth (https://github.com/ethereum/tests/wiki/Using-Testeth)

[2015-06-08 11:34] CJentzsch commented on #82
sure, make a PR, it looks good.

[2015-06-24 22:28] wanderer opened #85 "consistent formating"
https://github.com/ethereum/tests/blob/develop/BlockchainTests/bcForkBlockTest.json#L9-L24
i give you hex strings! decimal strings! hex strings prefixed with `0x`! hex strings with out prefixes! welcome to the format zoo!

[2015-06-24 22:29] wanderer commented on #85
issue #6 is related

[2015-06-25 05:47] CJentzsch commented on #85
@winsvega this is your test :-) , please fix formatting!

[2015-06-25 08:23] wanderer commented on #85
also this file https://github.com/ethereum/tests/blob/develop/BlockchainTests/bcInvalidRLPTest.json#L11-L25

[2015-06-25 14:35] wanderer opened #86 "invalid padding on transactions"
In this test https://github.com/ethereum/tests/blob/develop/TransactionTests/ttTransactionTest.json#L422
There is padding on the end of R value. I believe that you are not suppose to produce padding on TX fields.

[2015-06-25 14:54] winsvega commented on #85
those were created before all test fields to hex implementation. and as they are not in test Fillers, fields in those tests were not replaced.
The current filed format options are:

"hexstrng" - for hashes and addresses.
"0xhexstring" - for variables

[2015-06-25 14:56] winsvega commented on #86
what does "padding" means in this context?

[2015-06-25 15:03] CJentzsch commented on #85
still needs updating

[2015-06-25 16:43] wanderer commented on #86
this `00` at the being of the R value

[2015-06-25 19:33] winsvega commented on #85
updated

[2015-06-25 19:38] wanderer commented on #85
thanks @winsvega !

[2015-06-25 19:38] #85 closed

[2015-06-26 14:09] wanderer opened #87 "Invalid Total difficultly test"
https://github.com/ethereum/tests/blob/develop/BlockchainTests/bcTotalDifficultyTest.json#L2836-L2926

The last two block have the same difficulty but the first one according to the test should be head at the end. I believe the Yellow Paper doesn't specify which should head when blocks have the same TD.

[2015-06-26 14:09] wanderer commented on #86
@winsvega does this make sense to you?

[2015-06-26 14:11] wanderer commented on #83
i would just add a check for this in my test runner

[2015-06-26 14:13] #6 closed

[2015-06-26 14:14] wanderer commented on #51
RPC tests are in a seprate repo

[2015-06-26 14:14] #51 closed

[2015-06-26 14:15] wanderer commented on #77
this is now post and pre and is described in the wiki

[2015-06-26 14:15] #77 closed

[2015-06-26 14:16] #76 closed

[2015-06-26 14:23] #82 closed

[2015-07-04 10:31] wanderer commented on #86
@winsvega ping :P

[2015-07-04 10:33] wanderer opened #88 "invalid JSON"
this is invalid https://github.com/ethereum/tests/blob/65b710628dddce040a463323ec7d12ea0447a8c1/BasicTests/RandomRLPTests/example.json#L5

and this is invalid
https://github.com/ethereum/tests/blob/65b710628dddce040a463323ec7d12ea0447a8c1/BasicTests/invalidRLPtest.json#L10

[2015-07-10 06:53] romanman opened #89 "pre-compiled contract doesn't get endowment"
`0000..0004` is called with `tx.value = 19` but no such account with +19 in post
https://github.com/ethereum/tests/blob/develop/StateTests/stPreCompiledContracts.json#L1083

@CJentzsch

[2015-07-10 07:34] CJentzsch commented on #89
It does not get called. CALLCODE is used, so only the code gets executed, but the value transfer is going to the sender.

[2015-07-10 07:34] #89 closed

[2015-07-10 08:06] romanman commented on #89
@CJentzsch : ok guess my bug :

so what is the rule : if I call CALLCODE to `00..002` from

[code]

who is get paid ?

[2015-07-10 09:00] CJentzsch commented on #89
the caller, so he needs to have the balance on the account for the CALLCODE to succeed, but his balance does not change.

[2015-07-12 15:37] wanderer commented on #88
fixed thanks

[2015-07-12 15:37] #88 closed

[2015-07-23 10:45] romanman commented on #87
@wanderer : the last one has one uncle so the cumulative difficulty is higher

@CJentzsch : I think that one should be fixed:

`[testcase: uncleBlockAtBlock3AfterBlock3]`

I get that result :

[code]

last block `8e6260` that is importated as best
cause it has higher TD but the test looking for
the `34de11` to be there, any advise

[2015-07-24 04:45] romanman commented on #87
@winsvega : can you take a look please, on that topic

[2015-07-27 07:53] romanman commented on #87
@CJentzsch : glad you are back ,
can you please take a slight look
over that subject :+1:

[2015-07-27 08:06] CJentzsch commented on #87
Uncles do not contribute to the TD (see YP eq. 136, this was changed since PoC9). Therefore the TD is the same for both blocks. In that case you take the first block that you receive, and do not reorganise you blockchain because of a block with the same TD.

[2015-07-27 08:06] #87 closed

[2015-08-17 15:10] wanderer commented on #86
i think this good now

[2015-08-17 15:10] #86 closed

[2015-09-10 14:51] CJentzsch opened #100 "CODECOPY before, inside and after CALL/ *CALLCODE* /CREATE"
need some tests for that

[2015-09-13 09:20] winsvega commented on #100
here is some test scenarios that I am currently doing fillers for:

Note: when callcode is working it using caller's storage.
Correct schemas (contract subcalls)
(x)<call> <call>
(x)<call> <callcode>
(x)<callcode> <call>
(x)<callcode> <callcode>  (4 correct tests)

(x)<call> <call> <call>
(x)<call> <call> <callcode>
(x)<call> <callcode> <call>
(x)<call> <callcode> <callcode>
(x)<callcode> <call> <

[2015-12-12 01:13] wanderer opened #103 "Invalid difficulty in blockchain tests"
the difficulty looks wrong here https://github.com/ethereum/tests/blob/develop/BlockchainTests/bcBlockGasLimitTest.json#L8
since its the same as the genesis; here
https://github.com/ethereum/tests/blob/develop/BlockchainTests/bcBlockGasLimitTest.json#L110

[2015-12-12 13:46] CJentzsch commented on #103
the difficulty would go down, if there would not be the minimal difficulty: https://github.com/ethereum/common/blob/master/params.json#L6

[2015-12-12 13:46] #103 closed, assigned to nobody

[2016-01-05 19:45] Nashatyrev opened #105 "Incorrect JSON: BasicTests/difficulty*.json"
Guys, could you please fix the JSON files so parsers don't fail on them:
`BasicTests/difficultyXXX.json` has an extra comma at the end of the testcases list.

[2016-01-06 23:13] Nashatyrev commented on #105
Thanks!

[2016-03-01 01:23] Nashatyrev commented on #105
The same issue with at least `difficultyFrontier.json` and `difficultyHomestead.json`
Guess some script needs to be fixed

[2016-03-01 11:32] winsvega commented on #105
updated and fixed

[2016-03-01 12:04] konradkonrad commented on #105
Here's my minimal test-script for the tests:
- for humans

[code]
- for machines/travis

[code]

[2016-03-11 10:46] heikoheiko opened #108 "Delete "Homestead" branch to avoid confusion"

[2016-03-15 07:32] RomanZacharia opened #109 "Block numbers in the Homestead tests are less than 1150000"
Block numbers in the Homestead difficulty tests are less than 1150000
https://github.com/ethereum/tests/blob/develop/BasicTests/difficultyHomestead.json

[2016-03-15 12:06] romanman opened #110 "Eliptic curve param validations"
Guys ,

Can you please add testing for that one:

https://github.com/ethereum/ethereumj/issues/353

[2016-03-17 02:38] Nashatyrev opened #111 "Multiple homicide test"
Would be nice to add a test for the case described here: http://martin.swende.se/blog/Another_ethereum_vulnerability.html
Thanks!

[2016-04-07 02:41] RomanZacharia opened #112 "Invalid test data"
[The compiled contract code](https://github.com/ethereum/rpc-tests/blob/master/lib/config.js#L19)

does not contain the receipt log topic ('0000000000000000000000000000000000000000000000000000000000000001') which is [encoded in the rlp](https://github.com/ethereum/tests/blob/25912e023e7cf25c33ed6dff078df0c941f2c7d6/BlockchainTests/bcRPC_API_Test.json#L948).

The topic value '0000000000000000000000

[2016-06-29 10:46] winsvega commented on #109
http://ethdocs.org/en/latest/contracts-and-transactions/ethereum-tests/difficulty_tests/index.html?highlight=difficultyHomestead

Tests for homestead difficulty (regardless of the block number)

[2016-06-29 10:46] #109 closed, assigned to nobody

[2016-06-29 11:02] winsvega commented on #108
done. the latest branch for most recent tests is always develop.

[2016-06-29 11:02] #108 closed, assigned to nobody

[2016-06-29 11:04] winsvega commented on #105
tests are executed by  libethereum/testeth via json_spirit lib.

[2016-06-29 11:23] #100 closed

[2016-06-29 11:24] winsvega commented on #83
outdated

[2016-06-29 11:24] #83 closed

[2016-06-29 11:26] #105 closed, assigned to nobody

[2016-07-07 08:41] winsvega commented on #112
Wait. Why this contract should contain the receipt log topic?
Those RLP in json represent block.

[2016-07-07 11:42] winsvega commented on #111
https://github.com/ethereum/libethereum/pull/313

[2016-07-07 11:42] #111 closed, assigned to winsvega

[2016-07-08 14:19] konradkonrad opened #114 "GasLimitHigherThan2p63m1 uses GasLimit of exactly `2 ^ 63 - 1`"
Can I get clarification on this test?

The gas limit is set to `0x7fffffffffffffff` or `2 ^ 63 - 1` here:
https://github.com/ethereum/tests/blob/develop/BlockchainTests/bcInvalidHeaderTest.json#L249

Judging from the test name `GasLimitHigherThan2p63m1` I would expect at least `0x8000000000000000` or `2 ^ 63` here.

[2016-07-08 14:50] konradkonrad commented on #114
Nevermind, I got it.

[2016-07-08 14:50] #114 closed, assigned to nobody

[2016-07-11 11:36] konradkonrad opened #115 "Some testcases use invalid gaslimits"
With the implementation of [EIP106](https://github.com/ethereum/EIPs/issues/106) several testcases use invalid block prestate data (with gaslimits above `2 ^ 63 - 1`).

Here is a list of the offending json files: https://gist.github.com/konradkonrad/8c34d8fb660771758606f7912ad841d0

reference: https://github.com/ethereum/pyethereum/issues/390

[2016-07-25 15:46] konradkonrad commented on #115
should be fixed with e30e87d8ef8cd87575927c65cdb2f0c96c82fc52

[2016-07-25 15:46] #115 closed, assigned to winsvega

[2016-07-29 09:55] winsvega commented on #110
There are tests that check v,r,s conditions for precompiled contract ECRecover
http://gavwood.com/paper.pdf (212)

Here it is
https://github.com/ethereum/tests/blob/develop/StateTests/stPreCompiledContracts.json
https://github.com/ethereum/tests/blob/develop/StateTests/Homestead/stPreCompiledContracts.json

As well as transaction signature validation tests
https://github.com/ethereum/tests/blob/de

[2016-07-29 09:55] #110 closed, assigned to nobody

[2016-09-12 13:10] axic opened #118 "Extend the contract ABI test suite"
It consists currently only of [3 tests](https://github.com/ethereum/tests/blob/develop/ABITests/basic_abi_tests.json).

It could be extended with the tests from web3.js, ethereumjs-abi and go-ethereum/abigen. Perhaps there are other implementations which have additional tests which could be imported.

[2016-10-04 04:02] danfinlay opened #119 "RPC Tests?"
Would it be possible to extend this suite to also test the RPC API responses for the different clients?

Ideally I could submit a blockchain state, and a query, and compare the responses of every client.

[2016-10-05 10:14] chriseth commented on #119
We are planning to do this inside http://github.com/ethreum/interfaces or as part of the hive project. The reason is that this repository requires the test runner to be implemented in the clients themselves, while hive provides a generic interface to run the clients.

[2016-10-05 10:16] frozeman commented on #119
The rpc test currently require the client to load a BC state and it teste against those. It should also already work with at least cpp and geth.

But if we can do that better in hive, im all for it :P

[2016-10-19 11:27] winsvega commented on #118
I think its related to solidity.
https://github.com/ethereum/solidity/tree/develop/test

which now has it separate test suite.

[2016-10-19 11:42] axic commented on #118
Solidity doesn't have a dedicated ABI encoding/decoding test suite (which could be useful though).

However it is not only Solidity which uses the ABI, but all the tools interacting with contracts.

[2016-11-25 14:35] Nashatyrev opened #127 "Another suicide testcase to cover"
When a contract is suicided in a call which is then failed refund for this suicide should be reverted.
This case led to the conflict of EthereumJ impl when executing Tx https://etherscan.io/tx/0xdaa8cbac16a3e92fb3206c8f3e06815d8fc51da714184ec6ed8e957a32beb2b3 while all TCK tests are passed.
Here is reference Solidity code:
[code]

[2016-12-15 10:26] pirapira opened #128 "Missing call_creates field in test case mulUnderFlow"
In `VMTests/vmArithmeticTest.json`, the test case `mulUnderFlow` has no field `callcreates` although all other test cases have it.  Is this intended?

[2016-12-15 13:42] pirapira commented on #128
Now I see this is common in other files.

[2016-12-15 13:42] #128 closed, assigned to nobody

[2016-12-27 09:51] winsvega commented on #127
https://github.com/ethereum/tests/blob/develop/src/GeneralStateTestsFiller/stRevertTest/NashatyrevSuicideRevertFiller.json

[2016-12-27 09:51] #127 closed, assigned to nobody

[2017-01-06 10:08] pirapira opened #130 "VM test missing for CODECOPY on STOP instruction"
In `VMTest`, there are no test that performs `CODECOPY` that copies `STOP` (in the code) into the memory (I tried only those tests that run only one account).

Also, `RETURN`, `DELEGATECALL` and `SUICIDE` are never `CODECOPY`ed.

[2017-01-06 10:13] pirapira opened #131 "VM tests missing for block numbers after Spurious Dragon"
The test cases in `VMTests` assume small block numbers.  No tests try the gas calculation after the Spurious Dragon changes.

This means only the older gas calculation is tested especially for EXTCODE, BALANCE and SLOAD.

[2017-01-06 10:59] pirapira opened #132 "VM tests missing for insufficient stack height for ADDMOD or MULMOD"
No VM tests try `ADDMOD` or `MULMOD` with insufficient stack heights.

(I haven't checked the 24 test cases that run multiple contracts.)

[2017-01-06 11:02] pirapira opened #133 "VM tests missing for JUMPI with insufficient stack height"
No VM test tries `JUMPI` with stack height less than two.

(I haven't checked the 24 VM tests that run multiple contracts.)

[2017-01-06 11:04] pirapira opened #134 "VM tests missing for CALL with insufficient funds"
No VM test tries CALL with insufficient funds.

(I haven't checked the 24 tests that run multiple contracts.)

[2017-01-06 11:06] pirapira opened #135 "VM tests missing for CALL, CREATE, RETURN and CALLCODE with insufficient number of stack elements"
No VM tests try `CALL`, `CREATE`, `RETURN` or `CALLCODE` with insufficient number of stack elements.

(I haven't checked the 24 test cases that run multiple contracts.)

[2017-01-06 11:08] pirapira opened #136 "VM tests missing for DELEGATECALL"
No VM tests execute `DELEGATECALL`.

(On the 24 test cases that run multiple contracts, I only checked the original message call up to the point it makes a call.)

[2017-01-06 11:11] pirapira opened #137 "VM tests missing for successful CALLCODE"
No VM tests use `CALLCODE` in a successful way.

(On the 24 test cases that run multiple contracts, I only checked the original message call up to the point it makes a message call.)

[2017-01-06 11:15] pirapira commented on #137
`callcodeToReturn1` should be doing this.

[2017-01-06 11:15] #137 closed, assigned to nobody

[2017-01-06 11:22] pirapira opened #138 "VM tests missing for MLOAD and MSTORE8 with insufficient number of stack elements"
No VM tests try MLOAD or MSTORE8 with insufficient number of stack elements.

(I haven't checked the 24 test cases that run multiple contracts.)

[2017-01-06 11:25] pirapira commented on #138
<del>I checked the number of stack elements before entering these funcitons.  That's why the coverage seems low.</del> That was not the case.

[2017-01-06 11:25] pirapira commented on #132
<del>I checked the number of stack elements before entering these funcitons. That's why the coverage seems low.</del> That was not the case.

[2017-01-06 11:26] pirapira commented on #135
<del>I checked the number of stack elements before entering these funcitons. That's why the coverage seems low.</del> That was not the case.

[2017-01-06 11:26] pirapira commented on #133
<del>I checked the number of stack elements before entering these funcitons. That's why the coverage seems low.</del>  That was not the case.

[2017-02-01 10:59] Nashatyrev opened #142 "Missing CHAIN_ID > 127 tests for EIP155"
It seems Geth and Parity implementations support `CHAIN_ID` > 127. EthereumJ didn't support and we caught the corresponding bug. Please check my comment for details: https://github.com/ethereum/EIPs/issues/155#issuecomment-276075645
Whether or not `V` value in transaction could be > 8bit we need corresponding tests on that (positive or negative)

[2017-02-06 15:26] Nashatyrev opened #143 "The case wanted when the SUICIDE refund > spent gas / 2 during contract creation"
EthereumJ hit the consensus issue with that transaction: https://testnet.etherscan.io/tx/0x8ec445380649f6c75a042a438ea9256c2fab2a6a3437904c9e5a712fcbf8a54a
Check here for some more details: https://github.com/ethereum/ethereumj/issues/724
The transaction creates a contract which creates a lot of small contracts which suicide in their constructor. The final `SUICIDE refund > spent gas / 2`. For the

[2017-04-26 13:51] axic opened #160 "Include VM test for every invalid opcode"
All of them should result in exceptional halt. This is to ensure that no compliant VM implement a random opcode for other purposes.

cc @chfast

[2017-04-26 13:52] axic commented on #2
Can anyone put in the license file? 😉

[2017-04-26 13:54] chfast commented on #160
I think they should be in form of `PUSH(0) PUSH(0) ... INVALID_OPCODE_X` to provide some fake arguments in case they require them.

[2017-04-28 11:05] gsalgado opened #164 "Duplicated tests in BlockchainTests/GeneralStateTests/stWalletTest"
All test files in [BlockchainTests/GeneralStateTests/stWalletTest](https://github.com/ethereum/tests/tree/develop/BlockchainTests/GeneralStateTests/stWalletTest) seem to be duplicated; for every .json file, there's a copy (although not identical) with the same name but containing a space before the .json extension.

[2017-05-05 13:54] kitsunde opened #166 "The bounty website has a broken link to this repo."
On: https://bounty.ethereum.org/
Links to: https://github.com/ethereum/tests/blob/develop/StateTests/stExample.json
Doesn't exist.

I couldn't tell which repo is the is the bounty website, so maybe someone here can fix it.

[2017-05-18 08:48] pirapira opened #169 "Travis CI seems to be failing for all PRs"
Currently, Travis CI seems to fail on all PRs like this: https://travis-ci.org/ethereum/tests/builds/233281939?utm_source=github_status&utm_medium=notification

@winsvega agreed that the test script should check the grammar of the final tests (without `Filler.json` suffix), but not necessarily on the fillers.

[2017-06-05 17:07] maaktweluit opened #177 "Link to testFillers dead in README.md"
Hi Ethereum Testers,

When starting to get to know the project i found the link to the testFillers ( the second in the README.md ) is dead, i think they have moved in cpp-ethereum.

I'd love to fix it but i do not know where they have moved.

I've checked open issues and PR's and do not see any other report like this.

Have a good one!

Maaktweluit

[2017-06-05 17:12] maaktweluit commented on #177
Maybe they live here now: https://github.com/ethereum/cpp-ethereum/tree/develop/test/tools/jsontests

[2017-06-15 14:22] winsvega commented on #164
resolved

[2017-06-15 14:22] #164 closed, assigned to nobody

[2017-06-15 14:23] winsvega commented on #169
should be working now

[2017-06-15 14:25] #177 closed, assigned to nobody

[2017-06-15 14:30] winsvega opened #183 "More information in tests"
Lets add a new section in the result test files with more information about the test. So each test case inside result .json file would have a section like:
[code]

[2017-06-15 14:48] pirapira commented on #183
I agree with adding the "filledwith" information.

Why is the "comment" section inside the "clientinfo"?

[2017-06-15 14:50] winsvega commented on #183
so clientinfo is because it should be on top of the .json file.  (letter c)
comment is because many people requested more comments to the tests

[2017-06-15 14:50] pirapira commented on #183
So, "simple test for CREATE2 opcode" is not about the client, but it's about the test case.  I think this comment should be somewhere out of "clientinfo".

[2017-06-15 14:52] winsvega commented on #183
perhaps the section should be named.
"_info":

[2017-06-15 14:53] pirapira commented on #183
OK!

[2017-06-15 15:01] pirapira commented on #169
I noticed this started working a while ago.

[2017-06-15 15:01] #169 closed, assigned to nobody

[2017-06-16 13:33] winsvega commented on #183
https://github.com/ethereum/cpp-ethereum/pull/4152

[2017-06-16 13:55] pirapira commented on #183
@winsvega what about adding the git revision hash of `tests` repository, where the source is taken from.

[2017-06-17 14:58] pirapira opened #185 "Benchmark modexp precompiled contract in different clients"
There is [an opinion](https://github.com/ethereum/EIPs/pull/198#issuecomment-305906876) that the gas cost formula of modexp precompiled contract can be improved.  To find out the reasonal gas cost formula we need to benchmark modexp contract of different clients up to blockgaslimit.

[2017-06-17 15:12] timxor commented on #185
@pirapira i can take that, looks fun. will work on it tonight

[2017-06-17 15:20] pirapira commented on #185
Great.  You can choose

* to prepare and run a BlockchainTest on each client

or

* to call a routine in each client
    * https://github.com/obscuren/go-ethereum/blob/f0f23fc1739fbef5759802faad564e3e65b79395/core/vm/contracts.go#L180
    * https://github.com/ethereum/cpp-ethereum/blob/develop/libethcore/Precompiled.cpp#L123
    * https://github.com/paritytech/parity/pull/4926/files#diff-f01cea79b

[2017-06-17 21:51] cdetrio opened #186 "some test case names not unique"
Non-unique test names are inconvenient since it requires printing the whole path in order to distinguish test cases in results. For instance, the name `callcallcallcode_001` is used for three different test cases: [stCallCodes](https://github.com/ethereum/tests/blob/7a7e0770db6519acdbe1b17c847e5bff62bc1260/src/GeneralStateTestsFiller/stCallCodes/callcallcallcode_001Filler.json#L2), [stCallDelegate

[2017-06-18 06:11] timxor commented on #185
@pirapira what option do you think would be better? Go it solo or join forces....maybe solo because then it goes horizontal not vertical :)

[2017-06-18 07:56] pirapira commented on #185
That's what I thought.  The second option will be the quickest.

[2017-06-18 08:23] timxor commented on #185
agreed. on it.

[2017-06-18 14:05] winsvega commented on #183
this is not what testeth could reliably get from the system. that would require tests to be in a git repository and system to have a git installed

[2017-06-18 14:09] winsvega commented on #186
thats because of a copypaste that was used back when those tests were created.
Actually I suppose that now with generalStateTests  we could merge some copied tests back together.
(but that would requie a lot of work)

as for the test names. you could manually rename such tests. there are so many tests in those test cases so I didn't bother with the test names from some point.
the tests are all com

[2017-06-18 14:21] pirapira commented on #183
OK, then what about the keccak hash of the filler file?

[2017-06-19 12:01] pirapira opened #188 "Add a GeneralStateTest that RETURNDATACOPYs data from REVERT"

[2017-06-19 12:05] pirapira opened #189 "Describe new fields in the Transaction Tests page in the wiki"
@winsvega told me that there should be some new fields added in the wiki page https://github.com/ethereum/tests/wiki/Transaction-Tests

[2017-06-19 19:37] holiman commented on #185
I have a geth-benchmark implementation for modexp at https://github.com/holiman/go-ethereum/tree/benchmark_metro , the only thing I'm missing now are some proper values to use in testing. And I guess the other clients ought to use the same. Have either of you located any good inputs? I've found a few from the EIP examples, but I don't think they're very representative.

[2017-06-19 20:59] timxor commented on #185
This is awesome thanks for sharing, can we make a generator for testing all ranges or what do you think the best way to test it? Are there already tests in the [test repo](https://github.com/tcsiwula/tests) that we can use? @holiman

[2017-06-22 12:58] holiman commented on #185
I've added some inputs to my branch the other day

[2017-06-22 12:59] holiman commented on #185
https://gist.github.com/holiman/d2a59ebc9353baffaf21389e296987c1#gistcomment-2128792

[2017-06-27 23:29] winsvega opened #197 "general blockchain tests"
Split blockchain test file with many test cases into separate files.
1 test **source** file = 1 test case
add expect section into bc source file as it is in general state tests (checking different results depending on a network)

a blockchain test format is the same
add network field to the blockchain test defining which network it should be run on
the finale test file might have many tests. (cont

[2017-06-28 11:17] pirapira commented on #197
I think this issue describes multiple changes.  Please split them into different issues.

* splitting blockchaintest filler files
* adding expect section into blockchaintest fillers
* adding network field to blcokchaintest fillers

[2017-06-30 13:08] gumb0 commented on #185
@tcsiwula Hi, is there any update from you on this?

[2017-06-30 13:31] fjl opened #203 "General State Tests contain transactions with invalid encoding"
The transaction value field should use RPC quantity encoding.

Specifically,

* `0x` should not be used to encode numeric values. Please use `0x0` to encode tx value zero.
* For non-zero value, the field should not contain leading zero digits after `0x`.

Other fields should use RPC data encoding. Hex data should have `0x` prefix, it's missing for transaction input data in `stRevertTest/RevertDept

[2017-07-01 17:41] cdetrio commented on #197
@winsvega before pushing this new format to the repo, can we resume [tagging release versions](https://github.com/ethereum/tests/releases)? A changelog for each release would be helpful too.

[2017-07-01 17:52] cdetrio opened #204 "JSON schema for state tests"
Create a [JSON schema](http://json-schema.org/) for the General State Tests format https://github.com/ethereum/EIPs/issues/176. Also add a step in [travis](https://github.com/ethereum/tests/blob/develop/.travis.yml) to validate the state tests against the schema.

See also https://github.com/ethereum/tests/issues/203

[2017-07-02 07:26] pirapira commented on #197
I thought these changes are only on the filler files but not on the test files that other clients use.  @winsvega is this correct?

[2017-07-03 09:02] jwasinger commented on #204
I can take on this issue.  Translating EIP#176 into JSON schema looks straightforward.

[2017-07-03 11:20] pirapira opened #205 "Test files should contain chainParams"
Currently, the chain params information is not included in the test files.  However, since different directories use different chain params, this information should be present in the test files.

By chain params, I mean this kind of parameters:
[code]

@fjl pointed this out to me.

[2017-07-03 11:30] pirapira opened #206 "Unused field "previousHash""
Many GeneralStateTest filler files and VMTest filler files contain `previousHash` field.  However, this field is never used in the cpp-client.  The unused field should be removed.

@fjl pointed this out to me.

@winsvega do you have an idea why `previousHash` exists in the fillers?

[2017-07-05 19:00] timxor commented on #185
Hey @gumb0, I should have the parity one done by friday this week. I was interviewing for jobs the last two weeks. Is the c++ client still in active development? cc: @pirapira

[2017-07-06 08:50] pirapira commented on #185
@tcsiwula I sent you an email.

[2017-07-06 09:52] pirapira commented on #206
@winsvega also told me this field is not used anymore.

[2017-07-06 16:43] ehildenb opened #216 "Malformed VMTest?"
VM Test `loop_stacklimit_1021` seems to be malformed (see file https://github.com/ethereum/tests/blob/develop/VMTests/vmIOandFlowOperationsTest.json).

It has an `expect` node which indicates that the account in question should have something it its storage at the end of execution, but there are no opcodes in the test that can store anything to account storage.

[2017-07-11 10:51] pirapira opened #223 "GeneralStateTest `RevertDepthCreateAddressCollision` fails in Hive with go-ethereum"
See https://github.com/ethereum/go-ethereum/issues/14756 for the phenomenon.

[2017-07-11 12:31] pirapira opened #224 "codesizeOOGInvalidSize_d0g0v0_Frontier fails for go-ethereum in hive"
http://hivetests.ethstats.net/#displayLog=artefacts/20170705_054621-go-ethereum%3Amaster/client-598b70b7.log

[2017-07-11 12:58] pirapira commented on #224
In go-ethereum, the balance of the transaction sender does not even decrease.  Maybe the transaction is signed using EIP155 style replay protection.

[2017-07-11 13:00] pirapira commented on #205
Currently go-ethereum hard-codes these numbers.  https://github.com/ethereum/go-ethereum/blob/225de7ca0a9e861696a5a43b666090b574c4c769/tests/block_test.go#L41

[2017-07-11 16:08] pirapira opened #225 "Test cases (or fillers) can contain the related EIPs as metadata"
Senthil asked me how to look up the test cases related to a particular EIP, but I could not answer.  Is it a good idea to include the related EIPs as metadata in the test cases?

[2017-07-12 15:36] pirapira commented on #224
No, that cannot be, because it works fine for EIP150 and EIP158.

[2017-07-13 09:35] pirapira opened #227 "stTransactionTest/OverflowGasRequire\.json` // gasLimit > 256 bits"
go-ethereum:master   tests/state_test.go has the following line
[code]

This issue keeps track of fixing the test or anything until this line can be removed.

[2017-07-13 09:36] pirapira opened #228 "stStackTests/shallowStackOK\.json` // bad hex encoding"
go-ethereum:master   tests/state_test.go has the following line
[code]

This issue keeps track of fixing the test or anything until this line can be removed.

[2017-07-13 09:53] pirapira commented on #228
This problem should be gone after #209.

[2017-07-13 10:03] pirapira opened #229 "stCallCreateCallCodeTest/createJS_ExampleContract\.json`, "bug in test""
go-ethereum:master   tests/state_test.go contains a line
[code]

This PR keeps track of fixing the test and anything until this line is removed.

[2017-07-13 10:14] pirapira commented on #224
It turns out go-ethereum applies the max code size rule for all blocks.

[2017-07-13 10:20] pirapira opened #230 "createJS_ExampleContract_d0g0v0_EIP158 fails on hive on go-ethereum:master"
Like this: http://hivetests.ethstats.net/#displayLog=artefacts/20170705_054621-go-ethereum%3Amaster/client-f2455ecd.log

This issue keeps track of fixing the test so that this failure disappears from hive.

[2017-07-13 10:43] pirapira commented on #230
I'm seeing

https://travis-ci.org/pirapira/go-ethereum/jobs/253153501

[2017-07-14 09:41] pirapira opened #233 "Add a test case to see if EIP-155 style transactions are refused before Spurious Dragon"
As noticed in https://github.com/ethereum/cpp-ethereum/pull/4255#issuecomment-315207079, no tests break when cpp-ethereum stops accepting EIP-155-style transactions before Spurious Dragon.  There should be test cases that try the clients on EIP-155-style transactions before Spurious Dragon.

[2017-07-14 09:45] pirapira opened #234 "codesizeOOGInvalidSize_d0g0v0_EIP158 fails on hive on Parity:master"
As seen in Log permalink: http://hivetests.ethstats.net/#displayLog=artefacts/20170704_212723-parity%3Amaster/client-c9099087.log, the codesizeOOGInvalidSize_d0g0v0_EIP158 test fails on hive on `Parity:master`.

[2017-07-14 21:41] winsvega commented on #197
technically yes. but some tests moved to a different folders.

[2017-07-18 15:21] #230 closed, assigned to pirapira

[2017-07-19 14:39] feliam opened #235 "Wrong EXTCODECOPY test"
The following test checks for a new fffffffffffffffff account created at the end but no CREATE instruction in it. Right? (vmInputLimitsLight.json)

    "12a1f52c36a8dae436b0d2d354614b5c30deb77a7d104cbf22f6b8ef8c42429c" : {
        "callcreates" : [
        ],
        "env" : {
            "currentCoinbase" : "2adc25665018aa1fe0e6bc666dac8fc2697ff9ba",
            "currentDifficulty" : "0xfffffffff

[2017-07-24 08:39] pirapira commented on #228
So, the next step is to remove the line in `go-ethereum`.

[2017-07-24 08:41] pirapira commented on #223
Now `ethereum/tests` should have been fixed.

The next step is to try to un-skip this test in go-ethereum.

[2017-07-26 13:58] pirapira commented on #235
Which file is this from?

[2017-07-26 14:00] feliam commented on #235
$ grep 12a1f52c36a8dae436b0d2d354614b5c30deb77a7d104cbf22f6b8ef8c42429c . -Rn
./vmInputLimitsLight.json:27344:    "12a1f52c36a8dae436b0d2d354614b5c30deb77a7d104cbf22f6b8ef8c42429c" : {
./vmInputLimits.json:104523:    "12a1f52c36a8dae436b0d2d354614b5c30deb77a7d104cbf22f6b8ef8c42429c" : {

[2017-07-26 14:10] pirapira commented on #216
I agree that the case is malformed.  `expect` sections should not exist in VMTests.  Instead, `post` section should be present.

[2017-07-26 14:35] pirapira commented on #235
I think `testeth` should detect this https://github.com/ethereum/cpp-ethereum/issues/4281.  And then we will need to fix the violating tests including this one.

[2017-07-27 20:22] cdetrio commented on #204
test JSON format is also being discussed at https://github.com/ethereum/EIPs/issues/633 and https://github.com/ethereum/cpp-ethereum/pull/4263.  Per https://github.com/ethereum/cpp-ethereum/pull/4263, state test format is frozen until after Metropolis.

[2017-07-31 07:14] holgerd77 commented on #225
At least this is a question which comes up again and again (``ethereumjs-vm``development perspective).

[2017-07-31 08:19] winsvega commented on #185
to test benchmark we have to run a scenario with calling a function/opcode on different range of input parameters and eventually build up a graph   "exec time / input parameters value"
I think making a static contract in state test is not a best option for determining the reasonable gas cost formula

[2017-07-31 08:26] winsvega commented on #188
is it done?

[2017-07-31 08:27] winsvega commented on #189
that is a pretty old wiki page. actually where is the latest ethereum cpp docs ?

[2017-07-31 08:27] #197 closed, assigned to nobody

[2017-07-31 08:30] winsvega commented on #203
We must come to a standart describing  hashes, hex encodings of bytes and integers in the .json tests.
as well as the length and leading zeroes. (0x0 vs 0x00 and   0x00000001   values)

[2017-07-31 08:33] winsvega commented on #205
we have network identificators for that. we just have to agree which params correspond to
Frontier, Homestead, EIP150, EIP158, Metropolis   and so on network names from the tests.
(BlockchainTests and GeneralStateTests)

Transaction tests by default use mainnetwork params and have a blocknumber.

[2017-07-31 08:36] winsvega commented on #216
Maybe it was filled wrong. The VM tests fillers could have expect section but it should be erased from the final test if the test generation went without errors.

[2017-07-31 08:37] winsvega commented on #223
I am  updating the tests now.

[2017-07-31 08:39] winsvega commented on #225
we should fill this form in the test fillers to resolve such question.
https://github.com/ethereum/tests/issues/183

the issue is that usually we don't bother filling up the description field for a test case...

[2017-07-31 08:42] winsvega commented on #233
this test cases should be added as TransactionTests
https://github.com/ethereum/tests/blob/develop/src/TransactionTestsFiller/Metropolis/ttTransactionTestFiller.json

the reason no test breaks is because transaction tests are not general transaction tests.
each test case is run on a defined net rules only.

[2017-07-31 08:44] winsvega commented on #234
updating the tests now. last time hive tests were updated was like a month ago.
I think it is good to run  --filltests --fillchain  each time we update a state test. so it will be updated both for develop and hive. adding a blockchain tests check for a tests generated from state tests would force this approach.

it might add 10 minutes to the test run on hive though

[2017-08-01 08:22] pirapira commented on #205
@winsvega are you suggesting that it should be possible to erase the hard-coded block numbers from the go-ethereum codebase?

[2017-08-01 08:23] pirapira commented on #189
Here https://github.com/ethereum/cpp-ethereum/tree/develop/doc

[2017-08-01 08:25] pirapira commented on #188
No, I believe not.

[2017-08-01 08:26] pirapira commented on #188
I think I'm going to split Metropolis into two this week.

[2017-08-01 08:28] pirapira commented on #160
I think I can start this roughly in seven weeks.

[2017-08-01 09:04] rtkaczyk commented on #235
EXTCODECOPY may create new accounts in these tests. [More details here](https://github.com/ethereum/cpp-ethereum/issues/4281#issuecomment-319312644).

[2017-08-01 14:31] winsvega opened #239 "LOGS are too huge"
revently revived logs for the state tests produce test files with over 50MB size
unable to commit such files to github and it is too much for a test file.

[2017-08-01 14:33] pirapira commented on #239
By logs, do you mean logged events by `LOG0, LOG1, LOG2, LOG3, LOG4` instructions, or something else?

[2017-08-01 14:35] winsvega commented on #239
by logs I mean this section
https://github.com/ethereum/tests/blob/develop/GeneralStateTests/stLogTests/log3_MaxTopic.json#L26

[2017-08-01 14:38] pirapira commented on #239
@fjl  is it OK if we make the `logs` field optional in the GeneralStateTest?

@winsvega So, in this bigger-than-50MB, how much bytes are spent for `logs`?  More than half?

[2017-08-01 14:43] winsvega commented on #239
48mb in some cases. (in random state tests)

[2017-08-01 18:53] pirapira commented on #234
The failure is still visible as of now.

[2017-08-03 08:57] pirapira commented on #228
When I update the `ethereum/tests` submodule in `go-ethereum`, I see other failures.

[2017-08-03 15:16] pirapira opened #240 "go-ethereum fails walletReorganizeOwners_EIP158 test"
When I update `ethereum/tests` in `go-ethereum:master`, I [get](https://travis-ci.org/pirapira/go-ethereum/jobs/260625267) the following error (among many others):

[code]

[2017-08-04 09:15] pirapira commented on #228
#240 needs to be fixed first.

[2017-08-04 10:23] pirapira opened #242 "There should be a GeneralStateTest where a contract's init code does SSTORE"
When I made [a mistake](https://github.com/ethereum/cpp-ethereum/commit/14a42be5f025ccfe4b03ab19eea3097642ccf0ec) clearing the storage after the init code execution, only those test cases about address collision cases failed.

There should be more test cases performing SSTORE in the contract init code.

[2017-08-04 10:24] pirapira opened #243 "testeth should show the filename when `o.count("post") > 0` fails"
I saw the following error message, but had no idea which test file is causing the error.  The error message should contain the name of the file.
[code]

[2017-08-04 10:28] pirapira commented on #243
Moved to https://github.com/ethereum/cpp-ethereum/issues/4304

[2017-08-04 10:28] #243 closed, assigned to nobody

[2017-08-04 17:00] pirapira opened #247 "Some VM test fillers contain odd-length hex strings representing data"
On `cpp-ethereum:develop` and `tests:develop` I see the following phenomenon:

[code]

[2017-08-04 19:50] fjl commented on #239
Sorry ;)

We can also include hash of logs.

[2017-08-04 20:45] cdetrio opened #249 "towards a standard EVM trace format"
## Towards a standard EVM trace format

The purpose of this standard trace format is to facilitate automated equivalence testing of different EVM implementations.

* steps are logged with the state of the environment (stack, gas remaining, program counter, etc.) immediately _before_ execution of the opcode.
* call stack depth starts at zero

### Temporary workarounds
* steps that result in excepti

[2017-08-05 08:23] debris commented on #249
I like the idea of standarization very much! 👍

But if we are about to do that, there can't be any *temporary workarounds*. Can't a single operation result in two logs? One created before operation execution with the operation itself and the other one with result of the operation.

[2017-08-05 18:53] #247 closed, assigned to pirapira

[2017-08-07 11:49] pirapira opened #252 "src/GeneralStateTestsFiller/stZeroKnowledge/pairingTestFiller.json contains duplicate "data" field"
See [my comment](https://github.com/ethereum/tests/pull/250#discussion_r131634287).

[2017-08-07 13:02] pirapira commented on #227
#240 has to be fixed first.

[2017-08-08 16:00] cdetrio commented on #249
@debris this is to document a work-in-progress, so hopefully it will see incremental improvement.

If a single operation resulted in two logs, lots of information would be duplicated. I do like the idea of an error field, which would tell whether an operation failed due to an OOG or some other exception. But that would complicate the tracing logic quite a bit, and it would be non-trivial to implem

[2017-08-08 16:01] cdetrio commented on #249
see also https://github.com/ethereum/go-ethereum/pull/14900

[2017-08-08 17:00] chfast commented on #249
Yes, please.

[2017-08-08 17:03] chfast commented on #249
Can you describe what data is logged? Is logging the stack and memory feasible?

[2017-08-08 17:07] cdetrio commented on #249
The stack is logged on every step. Logging the memory should be feasible, but at the moment its not included in the equivalence test.

[2017-08-08 17:15] chfast commented on #249
Full stack is logged or only the changes?
I need to design the VM trace API. Dumping full stack and memory every step seems like a waste of resources. The listener can reconstruct the stack and the memory on its own.

[2017-08-08 18:08] cdetrio commented on #249
The full stack is logged. I agree that just the changes would be more compact.

[2017-08-09 10:43] winsvega commented on #252
rename it with  "//data"  ?

[2017-08-09 10:57] winsvega commented on #242
there is indirect sstore in init code:

https://github.com/ethereum/tests/blob/develop/src/GeneralStateTestsFiller/stCreateTest/CREATE_ContractSuicideDuringInitFiller.json#L72

it calls to a contract in init code so it to make a SSTORE operation.

[2017-08-09 11:01] pirapira commented on #242
Thank you.  Let me investigate why my mistake (linked above) didn't cause a failure there.

[2017-08-09 11:05] winsvega commented on #240
this wallet test is a tricky one. it has a solidity contract and 200+ blocks. did it failed to insert the first block?
need to check that geth uses the latest update.  however on EIP158 there should be no change.

[2017-08-09 11:11] pirapira commented on #240
Thank you for pointing that out it's a difficult one.  In that case, I move on to the next error.  There are many easier bugs and when I fix them, this one might disappear.

[2017-08-09 12:20] pirapira opened #256 "go-ethereum fails timestampTooLow test"
When I update `ethereum/tests` in `go-ethereum:master`, I see the following error when I try
`go run build/ci.go test -coverage -misspell`.

[code]

[2017-08-09 17:17] gcolvin commented on #249
There is always a STOP opcode, if you count the virtual extension of the code with an indefinite number of zeros.  So geth may be right.  I suspect eth will also report a STOP for that reason, but am on the road and can't check the code right now.

[2017-08-09 17:30] gcolvin commented on #249
Yes, logging the full stack is horrible.  For eth the stack grows towards low addresses, so the code has to copy it all out backwards.  Only the changes should be logged.

[2017-08-10 00:25] cdetrio opened #257 "filled tests should note lllc version"
Filled tests have some metadata noting which cpp-ethereum version was used to fill them, for [example](https://github.com/ethereum/tests/blob/74431cab7b8e8a0ccf457ad2fbc4b25f6c3e1f7f/GeneralStateTests/stReturnDataTest/returndatacopy_following_revert.json#L5):
[code]

However, the [filler file](https://github.com/ethereum/tests/blob/74431cab7b8e8a0ccf457ad2fbc4b25f6c3e1f7f/src/GeneralStateTestsFill

[2017-08-11 10:56] #256 closed, assigned to nobody

[2017-08-11 10:56] fjl commented on #256
Can't reproduce this. Tests are updated in ethereum/go-ethereum#14964 and this test doesn't fail.

[2017-08-11 12:26] #229 closed, assigned to nobody

[2017-08-11 12:26] fjl commented on #229
It seems to be fixed now.

[2017-08-11 12:27] pirapira commented on #229
Thank you.

[2017-08-11 13:30] timxor commented on #185
Hello everyone, here is an update from me. Let me know where I should focus my attention/efforts next. =)

My most recent (August 9th) parity [benchmark results](https://gist.github.com/tcsiwula/cc3501ede410bcaaf7fe39fd55a65cfc) for {bn_128_add, bn_128_mul, ...}.

Here are [the steps](https://gist.github.com/tcsiwula/5f292c9c4efb978cc2a0502f0b0225b2) to recreate and run it locally on your computer

[2017-08-11 13:42] pirapira commented on #185
On my machine, I get 6 times different numbers for ecadd from
[go-ethereum](https://gist.github.com/pirapira/423d5e8478e16695338962db02b0005d)
[code]
and [Parity](https://gist.github.com/pirapira/fa4b4a41a600bf463b2449f7b124e4a3)
[code]
(will edit with links to steps)

[2017-08-11 13:52] pirapira commented on #185
The original purpose of this issue has been accomplished, as `modexp` gas formula has been determined.

Since we are here, maybe we can open issues for remaining problems and paste links here.

[2017-08-11 15:38] pirapira commented on #240
Now I cannot reproduce this anymore.

[2017-08-11 15:38] #240 closed, assigned to nobody

[2017-08-11 15:39] pirapira commented on #228
The line in `state_test.go` has been removed in `go-ethereum:master`.

[2017-08-11 15:39] #228 closed, assigned to pirapira

[2017-08-11 15:49] pirapira commented on #242
Ah, the SSTORE must be in the account where the init code runs.

[2017-08-11 15:52] pirapira commented on #216
@ehildenb the test in question has changed.  Please check if your problem still stays.

[2017-08-11 17:07] pirapira commented on #188
https://github.com/ethereum/tests/pull/255 fixed this.

[2017-08-11 17:07] #188 closed, assigned to nobody

[2017-08-11 21:11] ehildenb commented on #216
@pirapira indeed the expect node is removed. However, in file `vmEnironmentalInfoTest.json` there is still an `expet` node and an `export` node. I suspect similar issues with these tests.
https://github.com/ethereum/tests/blob/a3880f58b3862ef25e9973b1e1043685ed45fc47/VMTests/vmEnvironmentalInfoTest.json#L396
https://github.com/ethereum/tests/blob/a3880f58b3862ef25e9973b1e1043685ed45fc47/VMTests/vm

[2017-08-13 19:49] timxor commented on #185
@pirapira wonderful, yeah that sounds good to me. What other precompile benchmarks would be useful to have that would give us a complete and accurate picture?

[2017-08-13 20:04] pirapira commented on #185
@tcsiwula since `ecadd` and `ecmul` are supposed to be of constant gas costs, it would be great if we can come up with some numbers already.

[2017-08-14 08:47] pirapira commented on #216
@ehildenb thank you.  I'm starting a relevant cleanup: instead of copying the filler and modifying it, building the output from the empty JSON.

[2017-08-14 12:06] pirapira commented on #227
Formatwise, gasLimit can be of arbitrary length.  However, if there is an upper limit for the gasLimit's value, maybe limiting the length altogether is not a bad idea.

[2017-08-14 12:09] pirapira commented on #227
OK, the block's gasLimit sets the upper limit.  What is the largest possible value of the block's `gasLimit`?

[2017-08-14 12:12] pirapira commented on #227
There is not limit either on a block's gas limit.  So this theoretically remains a problem.

[2017-08-14 15:19] pirapira opened #259 "testeth -d option with --fillchain is not effective"
On `develop`, when I try to specify the data index 28
[code]
`testeth` still fills irrelevant BlockchainTests such as `../../../BlockchainTests/GeneralStateTests/stPreCompiledContracts/modexp_d0g0v0.json`

[2017-08-17 14:49] gcolvin commented on #185
@tcsiwula just pointed me at this issue.  I've been working with @s-matthew-english on improving the test suite at https://github.com/ethereum/cpp-ethereum/tree/develop/test/unittests/performance so that more opcodes and precompiles and more clients can be easily added to the suite.  The more the merrier.  The advantage of this suite is that it will work with any client with a command-line program

[2017-08-18 12:50] chfast commented on #249
# VM trace data:

1. **pc** `int64` (aka _instruction counter_) -- number of instructions executed so far in the current call.
2. **opcode** `int64` -- the numeric id of the opcode to be executed.
3. **depth** `int64` -- the current call depth, starting with 0.
4. **gas** `int64` -- the current value of the gas counter. Descending.
5. **opcode gas cost** `int64` -- the full cost of executing the c

[2017-08-18 17:56] axic commented on #249
I think it would make sense naming it differently since usually pc (program counter) refers to the byte offset.

Would name it gas left or gas remaining.

[2017-08-21 10:11] chfast commented on #249
I think I confused `pc`. In C++ there are `steps` and `pc` being the current opcode index in the code. I agree PC is bad name, probably meaningful only for devs ever touching assembly.

[2017-08-21 20:21] axic commented on #249
How about instead of the flat stack array:
[code]

[2017-08-21 20:25] axic commented on #249
Please specify how the values are represented:
- which values are represented as numbers in JSON and which as strings
- include zero padding in hexadecimals or truncate them (in this case: truncate to nibbles or not?)
- include the `0x` prefix in or not

[2017-08-23 11:21] pirapira opened #270 "Remove expectExceptions from futureUncleTimestampDifficultyDrop2Filler.json"
If we specify the correct state roots, `expectException` fields in `futureUncleTimestampDifficultyDrop2Filler.json ` should not be necessary.

See https://github.com/ethereum/tests/pull/269#discussion_r134722457

[2017-08-23 11:24] pirapira commented on #270
Also
* [x] uncleBloomNot0_2Filler.json
* [x] uncleHeaderAtBlock2MetropolisFiller.json

[2017-08-23 11:38] winsvega commented on #270
the thing is that state root might be different on different forks.  (before and after metropolis)
tho fix that I created a copy. 1 copy passes the block before metropolis and fails on metropolis. 2 copy only on metropolis but fails on other forks.

[2017-08-23 14:27] pirapira commented on #270
This has been done on `eip649` branch.

[2017-08-23 14:27] #270 closed, assigned to nobody

[2017-08-23 21:06] holgerd77 opened #272 "Move test documentation files to this repo / own hosting (ReadTheDocs)"
The [test documentation](http://www.ethdocs.org/en/latest/contracts-and-transactions/ethereum-tests/index.html) feels somewhat misplaced in the generic Homestead docs being too detailed for the end user/dapp dev and also being too hidden in the tree structure there.

Placing the documentation files directly here in a ``docs`` folder and hosting it separately (probably also on ReadTheDocs) from the

[2017-08-28 09:25] pirapira commented on #272
I think it's a good idea to equip `ethereum/tests` with its own documentation.

[2017-08-28 09:27] pirapira commented on #259
It's a testeth problem, so moved to https://github.com/ethereum/cpp-ethereum/issues/4414

[2017-08-28 09:27] #259 closed, assigned to nobody

[2017-08-28 15:59] pirapira commented on #239
This can be closed now.

[2017-08-28 15:59] #239 closed, assigned to nobody

[2017-08-28 16:47] holgerd77 commented on #272
@pirapira What I stumbled upon when experimenting with it: do you guys accept non-rebased PRs?

Background: I'm just cloning the repo and realized just how big it is. If people have to actually clone it locally to do a rebase on a previously made PR on doc changes, then not much is actually won since this is taking too much time. Without the need for rebase doc changes can just be done with the Gi

[2017-08-28 16:52] pirapira commented on #272
We don't strictly require rebases.  You can see many branches running parallel in the hisotry. Still, when there are conflicts I say "please rebase" instead of "please merge develop".  It helps `git bisect` easier.

Regarding the size of the repo, [git clone --depth 1](https://git-scm.com/docs/git-clone#git-clone---depthltdepthgt) might help.

[2017-08-28 17:05] holgerd77 commented on #272
@pirapira Yes, that helped, thank you.

[2017-08-29 13:05] pirapira commented on #216
@ehildenb I searched for `expet` and `export`, and now they are gone from VMTests.

I'd appreciate if you try again.

[2017-08-31 12:17] pirapira opened #294 "Misspellt network name in a filler"
In one file, `Homestead` is spellt `Homstead`.
[code]

* [x] make sure `testeth -- --filltests` fail on this filler for the spelling mistake https://github.com/ethereum/cpp-ethereum/pull/4435
* [ ] fix the spelling mistake in this file

[2017-09-01 15:29] jamesray1 opened #298 "Doesn't mention using lllc or running with a docker file"
So searching for lll or docker on https://ethereum-tests.readthedocs.io/en/latest/index.html yields no results. So it seems that the documentation doesn't mention using lllc, testrpc, or running with a docker file. Is this something that should be added?

[2017-09-01 16:19] #294 closed, assigned to nobody

[2017-09-04 08:47] pirapira opened #300 "`env not set!` in `stBadOpcode`"
On `cpp-ethereum:063c972725bddc544039d8cf3df67518123edc95` and `tests:2c33cdcfe5faa62915e75fbcc92f087c24583c69` (both commits taken from `develop`),

I see an error message
[code]

[2017-09-04 10:16] pirapira commented on #300
@jwasinger will you have a look?

[2017-09-05 11:03] pirapira commented on #300
This is fixed by now.

[2017-09-05 11:03] #300 closed, assigned to jwasinger

[2017-09-05 11:05] pirapira commented on #298
* `lllc`: yes, when we document the filler files.  The filled tests do not contain LLL.
* docker: maybe not because that's about a specific client
* testrpc: maybe not because that's about a specific client

[2017-09-05 11:43] #298 closed, assigned to nobody

[2017-09-05 12:49] pirapira opened #305 "test/testeth -t BlockchainTests -- --singletest BadStateRootTxBC --filltests errors"
On `cpp-ethereum:0b2b4ec20a96a9b476e5a09c870f9eaeb36b7cb9` and `tests:c4f7cb47a01f4be98ec4685b97380b0a4c54f7ec`, I see an error
[code]

[2017-09-05 12:59] pirapira commented on #305
Similar errors appear for
* `blockhashTests_Byzantium`
* `OOGStateCopyContainingDeletedContract_Byzantium`
* `multimpleBalanceInstruction_Byzantium`
* ... (still running testeth)

[2017-09-05 15:35] axic opened #306 "Replace LLL/Solidity source code with Yul"
Benefit:
- lower level code than LLL/Solidity, but still more readable than LLL
- as a result it should be more easy to audit

[2017-09-05 21:53] pirapira commented on #305
cpp-ethereum:84b2e6404862657b5c73f8a7b245042e0f0e4730 is the first commit with the error on BadStateRootTxBC.  It makes sense, so the filler should be modified.

[2017-09-06 09:01] pirapira opened #308 "testeth -- --filltests should not write the filled file when an error occurs"
Currently, `testeth` writes the filled file to the filesystem even when the `expect` section is wrong in the filler.

For example, when I reproduce https://github.com/ethereum/tests/issues/305, the filled file is written to disk.

[2017-09-06 09:02] pirapira commented on #308
@winsvega do you think the filled file should be written even when the filler is wrong?

[2017-09-06 09:03] pirapira commented on #308
Moved to https://github.com/ethereum/cpp-ethereum/issues/4464

[2017-09-06 09:03] #308 closed, assigned to nobody

[2017-09-08 12:41] pirapira opened #314 "Test cases missing for invalid g1 in pairing checker precompiled contract"
@arkpar pointed out missing checks in the cpp implementation.  There were no failing tests because of that.

[2017-09-11 22:34] feliam opened #317 "TESTS. Caller account does not exists in pre/posts"
As this is a transaction. Should not it have the caller account in both pre/post to show that the balance of both the accounts change?
https://github.com/ethereum/tests/blob/develop/VMTests/vmArithmeticTest/add0.json

[2017-09-12 13:06] winsvega commented on #306
I suggest to keep lllc support and implement julia as an option

[2017-09-12 13:08] winsvega commented on #305
so is this gas change expected ?
if so then we could change expect section in the filler and this error will disappear.
otherwise we should investigate the cause

[2017-09-12 13:17] winsvega opened #318 "make a difficulty blockchain tests separated and genesis block > 0"
Currently all blockchain tests are using mining to calculate the correct difficulty for the block.
however we only need a set of tests for the difficulty rules and other tests could just skip mining and difficulty check. switch to noProof rules.

this should increase the speed of blockchain tests generation by x100 times.

to test the difficulty we will be using new set of tests in blockchain test

[2017-09-12 13:20] winsvega commented on #227
the max block gasLimit is set to 2^63-1
any other blocks are considered to be invalid. thus any state test with block gas limit > 2**63-1  is invalid state test and should be corrected.

blockchain tests however could have a larger block gas limit for testing purposes. such tests should represent such block as invalid and only print its rlp.  (if only rlp of a block is printed in the .json the blo

[2017-09-12 13:21] winsvega commented on #206
need to check if it is still present in some tests or not and remove it if it does

[2017-09-12 14:07] #272 closed, assigned to nobody

[2017-09-12 14:45] winsvega commented on #257
https://github.com/ethereum/cpp-ethereum/pull/4490

[2017-09-12 15:14] pirapira commented on #305
Yes, expected.

[2017-09-12 15:19] pirapira commented on #317
I doubt VM tests contain transactions.  I can have a look how it is in a few weeks.

[2017-09-13 09:44] #242 closed, assigned to nobody

[2017-09-13 09:51] winsvega commented on #2
@axic how this should be done?

[2017-09-13 10:02] #112 closed, assigned to nobody

[2017-09-13 10:03] winsvega commented on #118
@axic is this the topic for solidity tests?

[2017-09-13 10:05] winsvega commented on #119
@cdetrio @holiman @karalabe
does this implemented on hive?

I have some work done in this direction for cpp client RPC tests:
https://github.com/ethereum/tests/tree/develop/RPCTests

[2017-09-13 10:06] winsvega commented on #130
@pirapira  status?

[2017-09-13 10:07] winsvega commented on #131
VMTests does not run on other forks other then the Homestead, right?

[2017-09-13 10:07] karalabe commented on #119
The old suite is on hive, but that's not maintained. Bas wrote a new suite that I think is a pending PR on hi e.

[2017-09-13 10:08] winsvega commented on #132
@pirapira status?

[2017-09-13 10:08] winsvega commented on #133
@pirapira  status?

[2017-09-13 10:09] winsvega commented on #134
@pirapira  status?

[2017-09-13 10:09] winsvega commented on #135
@pirapira  status?

[2017-09-13 10:10] winsvega commented on #136
@pirapira
so the VM tests. maybe we should switch it from Hometstead rules to the latest fork available so the VM tests would always represent a set of thest for the most recent EVM changes?

[2017-09-13 10:11] winsvega commented on #138
@pirapira  status?

[2017-09-13 10:22] axic commented on #2
All (major) contributors (https://github.com/ethereum/tests/graphs/contributors) should be asked here to acknowledge. Just tag everyone here.  Seems like MIT is a good choice since there is already some agreement above.

[2017-09-13 10:25] holiman commented on #131
That's my interpretation aswell.

[2017-09-13 10:30] axic commented on #306
What is the main benefit having LLL and Solidity?

Apart from the potential that it has less bugs than Julia, but the main point of Julia is to be small and auditable and the output easily verifiable (when compared to the other two).

[2017-09-13 10:31] axic commented on #118
No, it is not related to Solidity. It is about a test suite for the ABI specification.

All ABI implementers have their own test suite (Solidity, web3.js, ethereumjs-abi, ethjs-abi, etc.), but there is no common base all these implementations test for.

[2017-09-13 10:51] winsvega commented on #2
@chriseth @chfast  @gumb0 @pirapira

[2017-09-13 10:53] winsvega commented on #306
It is not about the benefits. It is about that we already have a lot of tests in LLL

[2017-09-13 11:18] chriseth commented on #2
I'm fine with MIT for my contribution.

[2017-09-13 12:28] pirapira commented on #2
:+1: for MIT.

[2017-09-13 12:29] chfast commented on #2
I don't care (I will agree with any decision).

[2017-09-13 12:33] pirapira commented on #138
Open.

[2017-09-13 12:36] pirapira commented on #136
I think the least disruptive path is the following:

1. add `"network" : "Homestead"` in each test.
2. add one test with `"network" : "EIP158"`
3. clients start parsing `"network"` field
4. change more tests into `"network" : "EIP158"`.

[2017-09-13 12:36] pirapira commented on #134
Open.

[2017-09-13 12:37] pirapira commented on #133
Open.

[2017-09-13 12:37] pirapira commented on #132
Open.

[2017-09-13 12:38] pirapira commented on #130
Open.

[2017-09-13 12:44] gumb0 commented on #2
I'm fine with MIT

[2017-09-13 12:46] winsvega commented on #136
isnt it better to implement VMTests General?

[2017-09-13 12:48] winsvega commented on #2
ok, what now?

[2017-09-13 12:56] chfast commented on #2
1. Decide who the "copyright holder" is.
2. Copy the template https://opensource.org/licenses/MIT to LICENSE file.
3. Fill up the placeholders in the LICENSE file.
4. Commit & push.

[2017-09-13 13:02] chriseth commented on #2
I think we should also get a confirmation from @CJentzsch

[2017-09-13 13:19] CJentzsch commented on #2
I am fine with MIT

[2017-09-13 14:06] winsvega commented on #142
https://github.com/ethereum/tests/pull/321

[2017-09-13 14:07] #142 closed, assigned to nobody

[2017-09-13 14:15] winsvega commented on #143
@Nashatyrev is this the transaction ?
https://ropsten.etherscan.io/tx/0x8ec445380649f6c75a042a438ea9256c2fab2a6a3437904c9e5a712fcbf8a54a

[2017-09-13 14:20] Nashatyrev commented on #143
@winsvega Yep

[2017-09-13 14:53] winsvega commented on #143
https://github.com/ethereum/tests/pull/322

[2017-09-13 15:06] winsvega commented on #2
hm.. I don't like this point
`and/or sell copies of the Software`

[2017-09-13 15:07] winsvega commented on #2
https://github.com/ethereum/tests/pull/323

[2017-09-13 16:21] winsvega commented on #143
@Nashatyrev  please check if the test reproduce the same behavior on your client

[2017-09-13 16:57] winsvega commented on #318
@pirapira @holiman @fjl

[2017-09-13 17:50] axic commented on #306
It still can be a goal to eventually replace those old ones.

[2017-09-13 17:54] axic commented on #160
cc @cdetrio @jwasinger

[2017-09-13 17:54] cdetrio commented on #318
Supporting a "genesis" state with block number > 0 is easiest for clients that already support a "snapshot import" (where the snapshot is a json list of accounts https://github.com/ethereum/EIPs/issues/227), which I think is only pyethereum.

It would be best if clients added support for importing a state snapshot as a way to sync to the mainnet (i.e. a user exposed feature). Then the new test for

[2017-09-13 17:57] holiman commented on #318
In a whitebox/custom test setting, it would be pretty simple, I should think. Don't think we could do it through hive, though

[2017-09-13 18:03] gumb0 commented on #318
Having non-zero genesis to signal special sealing mode looks like a hack, why couldn't we just have a special setting in tests to enable/disable mining?

[2017-09-13 19:05] winsvega commented on #318
right we could have a special setting in a config json file to signal that mining difficulty should be checked.
but we still need a support for genesis != 0

no need to change smth on hive. this should be done on clients when starting node.
so hive might just change the configuration a bit.

[2017-09-14 09:42] #2 closed

[2017-09-14 19:04] jwasinger commented on #160
@axic I'm not very familiar with VM tests.  We have state tests for all bad opcodes: https://github.com/ethereum/tests/blob/develop/GeneralStateTests/stBadOpcode/badOpcodes.json

Would there be a reason to add VM tests for these as well?

[2017-09-14 20:11] chfast commented on #160
I'm not sure this is needed in case we have state tests. Are they in form of `PUSH(0) PUSH(0) ... INVALID_OPCODE_X`?

[2017-09-14 21:34] jwasinger commented on #160
Yes. They are in this form:

[code]

[2017-09-14 21:36] chfast commented on #160
I would push more before `XX`, but let it be.

[2017-09-14 21:36] #160 closed, assigned to pirapira

[2017-09-15 11:58] holiman commented on #166
Fixed, check bounty again.

[2017-09-15 11:59] holiman commented on #166
Actually, I only fixed the wiki-link, not example. What should I point it to?

[2017-09-15 12:03] winsvega commented on #166
https://ethereum-tests.readthedocs.io/en/latest/
and there is a link to missing test file.

[2017-09-17 08:18] holiman commented on #166
Ok, I've removed the dead link, and pointed to the official correct documentation. LMK if you want it some other way.

[2017-09-17 08:18] #166 closed, assigned to nobody

[2017-09-18 10:36] pirapira commented on #318
@winsvega can we separate genesis != 0 and NoProof in two different issues?

[2017-09-18 10:38] winsvega commented on #318
yes. so lets say if blockchaintest.json has "sealEngine" : "NoProof" then difficulty should not be calculated.
if .json has "sealEngine" : "Ethash" then it works as usual.
if .json has no "sealEngine" field then it should fail as the test is outdated

[2017-09-18 10:44] pirapira opened #325 "Introduce BlockchainTests without mining"
https://github.com/ethereum/tests/issues/318#issuecomment-330183221

[2017-09-18 10:45] pirapira commented on #318
@winsvega I created https://github.com/ethereum/tests/issues/325 for blockchain tests without mining.  This issue is now about enabling genesis block with non-zero block numbers.

[2017-09-18 10:48] #183 closed, assigned to nobody

[2017-09-18 10:53] winsvega commented on #185
@pirapira  status?

[2017-09-18 11:52] pirapira commented on #185
No idea.

[2017-09-18 11:53] winsvega commented on #185
I thought we came to the final gas price for this contract. @holiman

[2017-09-18 12:19] holiman commented on #185
Yes, for all precompiles. I think we can close this ticket.. (?)

[2017-09-18 12:21] pirapira commented on #185
OK.

[2017-09-18 12:21] #185 closed, assigned to nobody

[2017-09-18 12:26] winsvega commented on #189
transaction tests are pretty described
https://ethereum-tests.readthedocs.io/en/latest/test_types/transaction_tests.html

[2017-09-18 12:26] #189 closed, assigned to nobody

[2017-09-18 15:34] #257 closed, assigned to pirapira

[2017-09-18 15:35] winsvega commented on #224
@holiman  I guess this one is fixed on go. cpp and geth are on consensus on this one.

[2017-09-18 15:36] winsvega commented on #206
@pirapira  I guess there are no such fields anymore

[2017-09-18 15:46] winsvega commented on #204
@jwasinger do we need this issue open?

[2017-09-18 15:50] pirapira commented on #206
That's right.

[2017-09-18 15:50] #206 closed, assigned to nobody

[2017-09-18 15:59] winsvega commented on #317
btw we have a test for caller transaction from an account that does not exist in a state.
https://github.com/ethereum/tests/blob/develop/src/BlockchainTestsFiller/bcStateTests/transactionFromNotExistingAccountFiller.json

such thing could occur with gasPrice = 0.

[2017-09-18 16:01] pirapira commented on #306
I find a subset of LLL much more intuitive than Julia or any language with variables. I don't like lllc because writing a compiler in C++ sounds weird.

[2017-09-18 16:13] winsvega commented on #234
I saw Parity provided 0 errors on Hive

[2017-09-18 16:19] winsvega commented on #227
ok. so that test
`st.skipLoad(`^stTransactionTest/OverflowGasRequire\.json`) `

assumes that transaction will be invalid and this wont be executed. so the post state should stay the same. it is kind of a transaction test that is being implemented as a blockchain test

[2017-09-18 16:25] winsvega commented on #223
@holiman  does this test still fails on hive?

[2017-09-18 16:27] pirapira commented on #234
OK.

[2017-09-18 16:27] #234 closed, assigned to nobody

[2017-09-18 17:13] jwasinger commented on #204
@winsvega this is old.  Closing it.

[2017-09-18 17:13] #204 closed, assigned to nobody

[2017-09-18 19:40] cdetrio commented on #204
for reference, schemas were merged here https://github.com/ethereum/tests/pull/213  with all schemas passing at the time.

[2017-09-19 14:29] winsvega commented on #205
I mean we could like add a chainParams.json file somewhere in the test repo
and clone cpp configs into it. then each test should have like a "network" field

[2017-09-19 16:17] #143 closed, assigned to winsvega

[2017-09-19 16:23] #216 closed, assigned to ehildenb

[2017-09-19 16:27] winsvega opened #332 "make more comments in the test filler"
in the test fillers there should be added a new section

"_info" : {
      "comment" : "Test Desctiption"
}

describing what this test is actually about and how it works. such section will translate this comment into final test by testeth.
additional comments could be done by adding
`"//cooment1": "comment"`
`"//cooment2": "comment"`
fields. such fields must have unique id for the .json scheme and

[2017-09-19 16:27] winsvega commented on #225
moved to https://github.com/ethereum/tests/issues/332

[2017-09-19 16:27] #225 closed, assigned to nobody

[2017-09-19 16:29] winsvega commented on #235
added some tests around it https://github.com/ethereum/tests/pull/329
the related issue is probably about VMTests only.

[2017-09-20 12:32] holiman commented on #223
This does not fail in hive for geth.

[2017-09-20 12:32] #223 closed, assigned to pirapira

[2017-09-20 12:46] holiman commented on #224
Yeah, can be closed due to https://github.com/ethereum/go-ethereum/pull/15072

[2017-09-20 12:46] #224 closed, assigned to pirapira

[2017-09-20 15:33] winsvega commented on #314
was this PR about this issue?
https://github.com/ethereum/tests/pull/328

[2017-09-20 15:41] pirapira commented on #314
Yes.

[2017-09-20 15:41] #314 closed, assigned to pirapira

[2017-09-21 12:00] winsvega commented on #252
https://github.com/ethereum/tests/pull/335

[2017-09-21 12:28] #252 closed, assigned to nobody

[2017-09-21 20:29] cdetrio commented on #249
Note that the "standardized trace" now also logs a `stateRoot` at the end of the trace. Here's an example from a cpp-ethereum trace for `stZeroKnowledge/ecmul_0-3_9_21000_96`:

[code]

[2017-09-22 17:55] chfast commented on #249
Because the the step report describes the EVM state before the opcode execution:
1. Can we report consumed stack items instead of full stack?
2. How do you want to report calls, in particular the CALL gas cost?

[2017-09-25 09:42] pirapira opened #340 "Add _info: comment field in BasicTests"
Currently, some files in BasicTests do not have any comments.  This issue keeps track of adding comments.

Perheps
[code]
is a good format.

[2017-09-26 04:09] gcolvin commented on #249
I still want very much to report only changes to the stack.

[2017-09-26 14:46] winsvega commented on #340
duplicate of https://github.com/ethereum/tests/issues/332

[2017-09-26 14:47] winsvega commented on #325
so @holiman  said that having such a blockchain tests will require other clients to disable consensus critical  part of the code. and Hive is designed to be a black box tester providing tests as if it was on a real network.
it was agreed to optimize cpp blockchain tests generation instead and keep blockchain tests mining on the lowest allowed difficulty.

[2017-09-26 14:47] #325 closed, assigned to nobody

[2017-09-26 14:52] winsvega commented on #318
Curren approach is to dave difficulty formula tests
like here difficulty*.json
https://github.com/ethereum/tests/tree/develop/BasicTests

 * because we don't have much time to implement difficulty tests in a blockchain test form.
 * and because this way we could cover much more test cases then with difficulty based on blockchain tests.
 * and I guess difficulty formula wont test the exact situatio

[2017-09-26 14:54] winsvega commented on #305
@pirapira  is this issue resolved?

[2017-09-26 15:00] winsvega commented on #203
@pirapira  what is the current state of .json encoding.
I was trying to keep an EIP but we end up in a state we are currently are.

So it looks like this
[code]

[2017-09-26 15:07] pirapira commented on #305
I will try the command again to see if the error has disappeared.

[2017-09-26 15:08] pirapira commented on #203
I think we can make @jwasinger 's syntax checker stricter and stricter.  Then we'll hear opinions.

[2017-09-26 17:30] pirapira commented on #305
I don't see this problem anymore.

[2017-09-26 17:30] #305 closed, assigned to pirapira

[2017-10-02 16:27] chfast commented on #249
If the execution of an instruction will cause OOG, should this instruction still be reported in the trace as the last step?

[2017-10-06 19:25] cdetrio commented on #249
@chfast I think so, yes. instructions are logged _before_ execution, whether the last step in the call depth (if the call OOGs), or the last step in the whole trace.

[2017-10-06 19:33] cdetrio commented on #249
@chfast sure, feel free to prototype this.

I'm not sure its worth the trouble to log the gas cost of a step/instruction, since it can be calculated anyway from the difference in gas remaining between two steps. Currently for equivalence testing, we don't use the gas cost of a step that some clients include in the trace. We only use gas remaining.

[2017-10-08 13:08] chfast commented on #249
@cdetrio, ok, but "gas remaining" should also be lowered by the cost of the just-to-be-executed instruction. So in case of an instruction resulting in OOG, the gas remaining must be negative. And in case of a call, we don't know the cost up front, so we only can take the "gas" argument of the call into consideration (C++ does it this way - a call cost it the basic CALL instruction cost + value tra

[2017-10-08 23:06] cdetrio commented on #249
Each step is logged with all values just _before_ the execution, so the gas remaining should never be negative.

[2017-10-09 11:55] mkalinin opened #348 "Test missing for Internal Tx logs check if REVERT has been executed"
A simple test case where Internal Tx executes `LOGN` and does `REVERT` after that. Maybe this is actual not only for Internal Txes.

[2017-10-09 20:55] chfast commented on #249
So in case an instruction is causing an exception, this step is not logged?

[2017-10-09 23:26] cdetrio commented on #249
@chfast The only exception is invalid opcode steps, technically these could be logged too but currently they're filtered from the canonicalized trace (before doing the equivalence comparison check, for fuzz testing). This helps accommodate clients that don't log invalid opcodes, or that only log a generic exception but not the opcode itself. I can't remember which client (maybe pyeth).

All other

[2017-10-11 15:43] chfast commented on #249
I think the term "just before execution" is a bit misleading. So in case of `PUSH0 SLOAD` with 100 units of gas the trace will be:

[code]

not

[code]

[2017-10-11 19:18] cdetrio commented on #249
@chfast the trace would be
[code]
because on each step, its the gas remaining before execution and before gas deduction.

[2017-10-12 09:48] Max-Pano opened #351 "Hi all, how can I use the .json file or this project to test a go-ethereum client, need help!"
I have read the docs of this project and I can't figure out how to use it to test a go-ethereum.
Maybe because I'm not familiar with .json or something, but I really appreciate some information or a little guide.
Thanks a lot, guys!!.
I really want to know and try out this, beyond this I only know a test framework called "[blockbench](https://github.com/ooibc88/blockbench)", which has some problem

[2017-10-12 12:55] winsvega commented on #351
so recently geth team added an option to evm binary which allows to execute a custom GeneralStateTest.json file.

``` evm statetest <file> ```

You could generate state test .json files using testeth

[2017-10-14 08:03] pirapira opened #357 "An outdated test"
In the daily `--all` run, I see

[code]

[2017-10-18 11:31] winsvega commented on #357
resolved

[2017-10-18 11:31] #357 closed, assigned to nobody

[2017-10-23 17:27] pirapira opened #364 "Some improvements on call_ecrec_success_empty_then_returndatasize"
The test call_ecrec_success_empty_then-returndatasize has some possible improvements.

* the prestate can contain non-zero values in the storage.  This way, it's clear that zero is written to the storage.
* the expectations can be writtten in the filler.

https://github.com/ethereum/tests/pull/362/files#diff-14fa7f288ed243634d91b202f38c67df

[2017-11-16 16:53] axic commented on #306
One doesn't need to use variables are higher level features of Julia (or not even Julia, just plain Solidity assembly).

The main reason compared to a new language for Solidity assembly/Julia is that a compiler exists for it.

[2017-11-16 16:54] axic opened #369 "Consider using YAML for the test sources"
As discussed at Devcon with @winsvega this would eliminate the problem of new lines for test source codes (i.e. for LLL and Solidity) and likely would make the sources way more readable than now.

The generated test cases would still be in JSON not to break compatibility for the clients, but that part must be machine readable, while the YAML would be for humans writing the test cases.

[2017-11-19 18:26] cdetrio commented on #249
The json trace output from clients should be `JSONL` ([JSON Lines](http://jsonlines.org/examples/)).

[2017-11-25 11:02] #351 closed, assigned to nobody

[2017-11-25 11:06] winsvega commented on #369
This one?

http://yaml.org/
https://github.com/jbeder/yaml-cpp/
https://github.com/jbeder/yaml-cpp/wiki/How-To-Parse-A-Document-(Old-API)

[2017-11-27 23:10] winsvega opened #373 "General Transaction Tests"
This is an isuue describing new transaction tests format for the upcoming changes.
Because we plan to change transaction protocol for the scheduled forks, transaction tests would also be generalized.

A new transaction test format is following:

[code]

Just read the rlp and compare this transaction hash and sender fields to one in the forks section.
If transaction is rejected(invalid) on a certai

[2017-12-01 01:45] winsvega commented on #373
folder structure https://github.com/ethereum/tests/tree/gentransact/TransactionTests

[2017-12-03 11:30] winsvega commented on #136
and actually @pirapira as I remember VM tests does not  perform call execution.
what is expected behaviour with delegatecall in VMTests ?

[2017-12-04 07:44] chfast commented on #373
Is it possible to create JSON schema for this new format?

[2017-12-04 15:31] pirapira commented on #136
@winsvega you're right.

[2017-12-04 15:31] #136 closed, assigned to nobody

[2017-12-07 11:05] pirapira opened #377 "RPC Test fails"
With cpp-ethereum 8f8cdc8b1a33b6b2ef1947ef4bab7c9b241269fe, and tests 262da2df5f4038790aa857ce61b9694a647de4d5, I get the following errors during RPC test

[code]

A relevant conversation https://github.com/ethereum/tests/pull/376#issuecomment-349799774

[2017-12-08 10:31] chfast opened #380 "Use randomStatetest647 as basis for more RETURNDATACOPY tests"
[code]

This is the only test that detects problems with RETURNDATACOPY in EVMJIT. We should have more tests like that and they should not be in "random" suite.

[2017-12-10 22:55] winsvega commented on #373
yes. it should be. @jwasinger ?

[2017-12-10 23:02] winsvega commented on #369
So this is entangled with converting LLL into Julia.
One thing to keep in mind is that we already have a dependency on two different Json packages in cpp.
And now adding a third one on Yaml...
@chfast I guess would recommend against it.
@pirapira ?

[2017-12-11 10:16] winsvega commented on #377
This tests show OK if author is magically set.
But if you run it on a fresh system then a script alone is not enough to set author. even though all flags are set for client init command.

[2017-12-11 10:26] chfast commented on #369
I'm not against it. I like YAML.

yaml-cpp is in transition from Boost based one (v0.5.x) to C++11 based one not depending on Boost. I would like to go to the newer API straight away. Can you contact the author @jbeder ask when they are planning to release a new version?

Hunter package: https://docs.hunter.sh/en/latest/packages/pkg/yaml-cpp.html.

[2017-12-11 10:28] winsvega commented on #369
we can't remove existing jsonspirit, though. other clients depend on tests to be .json

[2017-12-11 15:27] Matthalp-zz commented on #373
Overall this seems like a good win in that transaction validation can be done on a milestone-by-milestone basis. However, one benefit of the old TransactionTest format was that it could test transaction RLP serialization and deserialization separately since the expected transaction fields were also provided.

Could you provide your rationale for removing the transaction fields? Would you be agains

[2017-12-11 19:57] winsvega commented on #373
The rationality is a test size. The transaction structure might change over fork.
So if I print transaction rlp deserialization for each fork it would make the test pretty large.
but I think it is enough to check transaction hash as it should be the same on each client.

[2017-12-12 09:31] pirapira commented on #369
LLL is my favorite language on EVM.

[2017-12-12 09:33] pirapira commented on #369
YAML vs JSON.  KEVM team has already invested efforts to parse and print JSON.  They cannot parse YAML at all.  Isn't it the case more languages have JSON libraries?

[2017-12-12 09:35] pirapira commented on #369
I believe there should be many tools that can convert test sources into final test cases.  So, the format should be accessible in more programming languages.

[2017-12-12 09:36] pirapira commented on #377
@winsvega do you know how to invoke the magic to set an author?

[2017-12-12 10:20] axic commented on #369
The test outputs should remain unchanged and in JSON. This issue is about the sources used for test generation, which could be YAML to improve the ability to source test case sources (LLL, Solidity, Julia, .etc) intact with new lines and formatting.

[2017-12-12 10:51] pirapira commented on #369
@axic yes, I understand this.  I think we should try to generate test cases not by C++ but by KEVM.

[2017-12-12 16:12] winsvega commented on #364
could this issue be resolved and closed now?

[2017-12-12 16:16] winsvega commented on #318
another issue with disabling mining on blockchain tests. as @holiman  said such tests would not then be blind and we can't port them to Hive.

I guess this issue could be closed and resolved with

1) use custom difficulty .json tests in the test repository (done)
2) generating blockchain tests on threads (done)
3) optimize mining in cpp

[2017-12-14 02:02] carver opened #383 "Test uses an invalid block gasLimit < 125000"
The minimum allowed `gasLimit` on a block is 125000 (according to the yellow paper):
![gas limit](https://files.gitter.im/ethereum/py-evm/7NV3/image.png)

But this test uses a `gasLimit` of `0xba96` == `47766` and expects the block to be valid: https://github.com/ethereum/tests/blob/develop/BlockchainTests/GeneralStateTests/stStaticCall/static_InternalCallHittingGasLimit2_d0g0v0.json#L17

The poss

[2017-12-14 02:57] hwwhww commented on #383
This PR may be related:
Fix minGasLimit to 5000 https://github.com/ethereum/yellowpaper/pull/393

[2017-12-14 12:51] #373 closed, assigned to nobody

[2017-12-14 12:51] winsvega commented on #369
no comments in yaml multiline string (
https://stackoverflow.com/questions/20890445/yaml-comments-in-multi-line-strings
however if julya code itself could have comments I think this is not an issue
the issue is that yaml does not use tab.

[2017-12-14 13:23] pirapira commented on #383
I think the yellow paper is wrong just because all others say 5000.

[2017-12-14 13:23] #383 closed, assigned to pirapira

[2017-12-15 00:15] winsvega opened #385 ".yaml test Filler format"
I've studied yaml format and could tell that a test format could look like this:

[code]

[2017-12-15 10:34] pirapira commented on #385
Oh, you can have proper comments!

[2017-12-15 14:43] jwasinger commented on #369
So the idea is that we would try to support yaml as an option for writing test fillers?  Or are we intending to migrate existing test fillers to yaml as well?

[2017-12-15 14:45] jwasinger commented on #369
I assume that because yaml is a superset of json (and we are probably not using yaml specific features?), we can still use json schema to lint the yaml fillers by converting fillers to json before running them through the linter.

[2017-12-15 14:47] ehildenb commented on #369
Is YAML format indentation sensitive? If it's not, we probably can make KEVM parse YAML directly. If it is indentation sensitive, the current K parser probably can't handle it.

[2017-12-15 15:28] pirapira commented on #369
It is indentation sensitive.  http://yaml.org/spec/1.2/spec.html See "Example 2.16.  Indentation determines scope"

[2017-12-15 15:29] pirapira commented on #369
But I guess YAML->JSON conversion is reliable enough.

[2017-12-15 16:05] axic commented on #369
Note: YAML is a superset of JSON. If we don't use YAML specific features it will be bidirectionally convertible without loss though.

Also here's an interactive tool: https://www.json2yaml.com

[2017-12-15 16:32] gumb0 commented on #385
How would a multi-line code look in there?

[2017-12-15 17:59] winsvega commented on #385
[code]

[code]

[2017-12-15 22:20] winsvega commented on #369
the easiest way from the code perspective would be to just convert yaml source into json before running testeth logic on it.
eventually when we disable LLLC most test sources would be rewritten anyway. so why not to rewrite it in yaml. we just have to devide which yaml structure to use in test files.

hmm. let me try the tool
ok. it's a bit different from my format. we still have to change the cod

[2017-12-17 22:22] axic commented on #369
That should be up entirely to the YAML library you are using.

[2017-12-18 15:06] pirapira commented on #369
@axic Is YAML really a superset of JSON?   In JSON you can distinguish `gas: -1` (an integer) and `gas: "-1"` (a string).  Can you do that in YAML?

[2017-12-18 15:09] axic commented on #369
@pirapira you can make it a quoted string, `'-1'` or `"-1"`.

[2017-12-18 15:17] pirapira commented on #369
@axic that should solve the problem here https://github.com/ethereum/cpp-ethereum/pull/4698#discussion_r157506109

[2017-12-18 15:18] chfast commented on #369
@pirapira YAML has types. `hello` is string, `"hello"` is string, `123423544256436534` is integer, `"123423544256436534"` is string.

This is the reason we have to write `xcode: "9.0"` not `xcode: 9.0` in https://github.com/ethereum/cpp-ethereum/blob/develop/circle.yml#L160.

[2017-12-18 15:21] pirapira commented on #369
@chfast I see. So there should be no good reason to accept strings for integer fields suddenly in  https://github.com/ethereum/cpp-ethereum/pull/4698#discussion_r157470718

[2017-12-18 16:24] chfast commented on #369
I'm not sure it helps @pirapira, but YAML supports arbitrary precision integers so we can also get rid of hexing numbers there. However, I'm not sure if and how implementations supports this.

[2017-12-18 18:30] winsvega commented on #385
updated test format. this is automatic jsonToYaml converter output;
https://www.json2yaml.com/

if the field is int it should be prefixed like
```data: !!int -1```

all other fields are assumed to be json string fields.

[2017-12-18 18:51] winsvega commented on #385
ok. here is one of the downsides of yml format:
although I think data could be passed as array in one line. this is the result of automatic convertion.
and you have to manually add !!int to each integer field after json2yaml convert tool

[code]

[2017-12-19 10:27] pirapira commented on #385
@winsvega can we annotate which line belongs to which index?

[2017-12-20 01:24] winsvega commented on #385
yes you could use yaml comments. also you could split each line into multiline string using ``` : >- ```

[2017-12-20 01:26] winsvega commented on #385
this also works:
[code]

``` data: [!!int 1, !!int 2, !!int 3, !!int 4] ```

[2017-12-20 01:38] winsvega commented on #377
no. it's like always being reset with 00000.
I did event insert a commit into .cpp file about that issue.

[2017-12-20 01:41] winsvega commented on #369
https://github.com/ethereum/tests/issues/385

[2017-12-20 01:42] #369 closed, assigned to nobody

[2018-01-16 14:07] pirapira opened #399 "Cutting off uninteresting test cases?"
This repository is getting bigger and bigger.

* do we want, at some point, to reduce contents of this repository?
* if yes, how do we choose which tests to keep and which to throw away?

[2018-01-16 14:17] winsvega commented on #399
I suggest to compile tests only for those forks that are defined at expect section.

So if there is an expect section for Metropolis. then the test is being generated on metropolis fork rules.
if there expect section saying ALL then it will be generated for all fork rules.
transaction indexes should not count.

This way we could specify on which forks to check the test and reduce the amount of tes

[2018-01-16 16:39] pirapira commented on #399
@chfast came up with one way to detect probably duplicate tests. Tests on different versions can be marked if they have the same input and the same post state hash.  I think that's a relatively safe way to cut down many tests.  With this, we can run more interesting tests on limited resources.

[2018-01-16 16:51] winsvega commented on #399
so if test has the same results on fork1/fork2/fork3
which version of the test should we keep?
this is a tricky one. we could break something but on fork2 and not on fork3 and this test would work just fine but the client will stop syncing.

[2018-01-16 17:45] pirapira commented on #399
@winsvega fork1.  It's better to break the sync at fork2 than fork1.

[2018-01-29 15:49] pirapira opened #404 "Documentation is missing: how to generate difficulty tests"
This repository contains difficulty tests, but it doesn't contain a documentation how these tests are generated.

Each time the ice age is delayed, the difficulty tests need to be generated again, so it's good to share the procedure.

[2018-01-30 11:30] chfast opened #408 "Rename "develop" branch to "master""

[2018-01-30 13:32] axic opened #411 "Move the linting/schema verification to a script"
These: https://github.com/ethereum/tests/blob/develop/.travis.yml

Reason: it can be run locally before pushing. Travis should just use the script.

[2018-01-30 15:16] #404 closed, assigned to nobody

[2018-02-13 02:42] axic commented on #408
@winsvega @pirapira any reason not to?

[2018-02-13 10:19] pirapira commented on #408
None except laziness on my part, and those who have to change the urls to pull.

[2018-02-13 10:54] axic commented on #408
You mean users as submodules? That actually refers to commit hashes - the branch name is only for convenience when running a manual pull to update the revisions.

[2018-02-13 11:14] pirapira commented on #408
I was referring to those manual pulls.

[2018-02-13 12:47] pirapira opened #415 "Remove VM tests with CALL, CREATE, SELFDESTRUCT and the like, translating them into GeneralStateTests"

[2018-02-14 18:56] veox opened #416 "Tests for no-gas-refunded in case of REVERT causing stack underflow"
Question raised on [ethereum/solidity-dev gitter channel](https://gitter.im/ethereum/solidity-dev?at=5a8475644a6b0dd32bcf4642):

(And `REVERT` consumes two items from the stack.)

From the yellowpaper (BYZANTIUM REVISION (6066b2d - 2018-01-19); section 8):

I tried searching for such a test case (query: [`"code" : "0xfd"`](https://github.com/ethereum/tests/search?utf8=%E2%9C%93&q=%22code%22+%3A+%2

[2018-02-15 15:25] cdetrio opened #417 "create validation rule for expect section indices"
Some test cases are filled to empty because their filler files are missing expect section indexes. For instance, [TransactionCollisionToEmptyButCode_d0g0v0.json](https://github.com/ethereum/tests/blob/53b5d386fa2bceeceacafa2915d5beb374794039/BlockchainTests/GeneralStateTests/stCreateTest/TransactionCollisionToEmptyButCode_d0g0v0.json) is filled, but [TransactionCollisionToEmptyButCode_d0g0v1.json]

[2018-02-19 09:31] winsvega commented on #408
why we need to rename?

[2018-02-22 10:38] winsvega commented on #417
so the testeth could do it on a filling stage. no particular need to implement in as a scheme check.

[2018-02-22 10:41] winsvega commented on #399
https://github.com/ethereum/tests/pull/412
https://github.com/ethereum/tests/pull/413
https://github.com/ethereum/tests/pull/418

[2018-02-22 10:41] #399 closed, assigned to nobody

[2018-03-06 09:10] pirapira opened #425 "Travis should fail when there are multiple fields of the same name in a JSON object"
See https://github.com/ethereum/tests/pull/421#issuecomment-370712897

[2018-03-06 09:16] pirapira opened #426 "Max length of test file names?"
@winsvega says test names should be at most 50 characters.  I want longer names because I want to put EVM machine words in names.

[2018-03-06 09:20] pirapira commented on #426
https://github.com/ethereum/tests/pull/421#issuecomment-370714606

We wanted it to be at least < 50. or even shorter.

[2018-03-06 09:20] pirapira commented on #426
https://github.com/ethereum/tests/pull/421#discussion_r172452712

[2018-03-06 09:21] pirapira commented on #425
@winsvega do you want to fix this?

[2018-03-06 09:21] pirapira commented on #426
I should look at the current lengths of file names, and ask if anybody is complaining about it.

[2018-03-06 09:35] winsvega commented on #426
I guess Python client had complains about it. would it be a good idea to build a test database where we address a unique identificator for a test. like testA0012D43  and if you ask the database where are SHL case implemented it will tell you test identificators with such cases.

[2018-03-06 09:40] pirapira commented on #426
I don't like meaningless IDs.

[2018-03-06 09:43] pirapira commented on #426
You can keep the test names meaningful and still use the database.  That combination is better than the combination of meaningless IDs and the database.  So the database thing is another unrelated issue.  Please create another GitHub issue for the database thing.

[2018-03-06 09:45] pirapira commented on #426
@winsvega how can I test the python client?

[2018-03-06 09:52] winsvega commented on #426
not sure if they still have custom test tool supported. (smth like testeth for python)
well it should not really matter because we ask the clients to implement test rpc and retesteth will run the tests.

[2018-03-06 09:54] pirapira commented on #426
Is there a shorter way to say 0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff?

[2018-03-06 09:55] pirapira commented on #426
Maybe `negative1`.  Then the test names become like `shl_negative1_1`.

[2018-03-06 09:59] winsvega commented on #426
u256m1

[2018-03-06 10:00] pirapira commented on #426
`u256 - 1` does not make sense because `u256` is not a number.

[2018-03-06 10:00] winsvega commented on #426
u256maxM1 ?

[2018-03-06 10:01] winsvega commented on #426
there are tests with similar names already

[2018-03-06 10:02] pirapira commented on #426
@winsvega we should rename them to less cryptic names.

[2018-03-06 10:04] pirapira commented on #426
@winsvega I cannot find any test files with 'u256' in its name.

[2018-03-06 10:05] pirapira commented on #426
If `shl_2^256-1_1Filler.json` is fine, I can live within 50 characters.

[2018-03-06 10:11] winsvega commented on #426
[code]

I am scared to use '^' '-' always have a feeling that at some CL or shell it wouldn't be parsed correctly.
https://stackoverflow.com/questions/1976007/what-characters-are-forbidden-in-windows-and-linux-directory-names

[2018-03-06 10:15] pirapira opened #427 "Add ByzantiumToConstantinopleAt5 schedule"
@holiman pointed out that it's missing.

[2018-03-06 10:25] pirapira commented on #426
https://en.wikipedia.org/wiki/Filename

`-` should be fine if it is not the first character.

`^` is not usual.

Then I go with `shl_-1_1Filler.json`

[2018-03-06 10:25] #426 closed, assigned to nobody

[2018-03-15 13:51] winsvega commented on #425
you mean fixinf the json schema? I thought @jwasinger maintains the schema for tests. is he?

[2018-03-15 13:52] winsvega commented on #426
I think Python team was complaining about filename length. But it was a long time ago.
Now tests are run by Hive and testeth.

[2018-03-15 13:56] pirapira commented on #425
Then I will.

[2018-03-16 14:47] chfast opened #430 "Add test cases"

[2018-03-16 15:11] #430 closed, assigned to nobody

[2018-03-16 21:25] chfast opened #431 "Add selfdestruct test cases"
Add these 3 test cases. They are HF independent, except for pricing. Use optimized runtime code from solidity.

[code]

[2018-03-19 19:43] pirapira opened #433 "Turn the LLL code in comments into actual use"
Currently, some test cases contain LLL code as comments, followed by bytecode.

[code]

However, this should simply be
[code]

**edit**

Sometimes, the LLL code only describes a part of the bytecode, so the result should be
[code]

[2018-03-19 19:43] #425 closed, assigned to pirapira

[2018-03-19 22:27] winsvega commented on #433
Some tests contain lll code of bytecode that is put into lll code.

[2018-03-20 09:10] pirapira commented on #433
@winsvega  What do you mean when you say "bytecode that is put into lll code"?  Does anybody translate bytecode into LLL?

[2018-03-20 10:34] winsvega commented on #433
in some tests I did it like this
[code]

[2018-03-20 10:35] pirapira commented on #433
I see.  So the comments might be outdated.  Then, we should duplicate the test cases.  One as it is now, and the other puts the comment into actual use.

[2018-03-20 10:40] winsvega commented on #433
what you mean?

[2018-03-20 10:42] pirapira commented on #433
If we have a test like
[code]

we should clone the test into two: one with
[code]
and the other with
[code]

[2018-03-20 10:43] winsvega commented on #433
no. why?
it was not meant to be that way.

the
`//data: "{(SSTORE 0 1)}",`
is a source of
`(MSTORE 0 0x6001600055)`

[2018-03-20 10:44] pirapira commented on #433
Hmm. Isn't there an LLL feature like `(MSTORE 0 (lll (SSTORE 0 1)))`?

[2018-03-20 10:45] winsvega commented on #433
that was before I knew about that feature

[2018-03-20 10:50] pirapira commented on #433
So I edited the first comment of this issue.

[2018-03-22 11:02] pirapira opened #436 "Travis run in this repository should run cpp-ethereum on the test cases"
Currently, people sometimes file PRs to cpp-ethereum or testeth repository, just to see we are not breaking tests.  This is not the correct workflow.  Travis run in this repository should take care of that.

[2018-03-23 11:09] axic commented on #408
Who is doing a manual pull? And if they do, wouldn't they notice that the branch has changed?

[2018-03-23 11:11] axic commented on #408
There is no git workflow (see http://nvie.com/posts/a-successful-git-branching-model/) used here which would require a `develop`, `release` and `master`, since there are no release made here :(

[2018-03-23 11:14] pirapira commented on #408
@axic

I do `git pull` on `develop` when I start a new branch on `ethereum/tests`.

[2018-03-23 11:14] pirapira commented on #408
@axic I've never seen this workflow thing.

[2018-03-23 13:01] pirapira commented on #408
@axic I also type `git rebase -i develop`  So branch names are part of the interface.  It's not like people never see the names of branches.

[2018-03-23 14:31] winsvega commented on #408
also I am afraid that some scripts are configured to use develop.

[2018-03-26 12:44] chfast opened #438 "EXTCODECOPY edge case"
Please make a separate state test out of stRandom2/randomStatetest571. This is the only test covering some edge case of EXTCODECOPY (code index is big, but truncated to size_t is 0).

[2018-03-26 14:42] chfast opened #439 "Make a test for contract with code size > 0x6000"
Ref: https://github.com/ethereum/evmjit/pull/172#discussion_r177112916

[2018-03-26 17:53] axic commented on #439
It should be enabled for every hard fork before Spurious Dragon.

[2018-03-27 20:55] winsvega commented on #438
so as I understand the case is covered. You just want it to be more explicit and to have more tests around the same field?

[2018-03-27 20:58] winsvega commented on #439
https://github.com/ethereum/tests/blob/develop/src/GeneralStateTestsFiller/stCodeSizeLimit/codesizeOOGInvalidSizeFiller.json

[2018-03-27 21:04] axic opened #441 "Better test descriptions and tool to generate test list"
The state tests have a `_info` section with a `comment` field, however that rarely contains anything.

It would be nice if there would be a mandatory `description` field explaining what the test supposed to do **and** a tool run on the CI would actually generate a table of test name + description + path 😉

[2018-03-27 21:12] axic commented on #441
Example:

| name                   | description                                                         | path                                              |
|------------------------|---------------------------------------------------------------------|---------------------------------------------------|
| codesizeOOGInvalidSize | Create oversized (400000 bytes) contract via a creation transacti

[2018-04-02 22:07] ehildenb commented on #415
@pirapira any recent thoughts on this? I don't think we should do away with VMTests, but perhaps could limit their scope. It doesn't feel good to have KEVM have two versions of several opcodes, one just for VMTests.

Perhaps the VMTests that only deal with VM-related stuff could remain (eg. arithmetic, local memory ops, program counter ops), and anything that deals with Ethereum-specific state cou

[2018-04-02 22:09] ehildenb commented on #415
Note that I do like having the VMTests around as an early target for implementers who have only made it through implementing the basic VM functionality. Similarly, someone might implement a wasm VM without making it extend to the ewasm, and would want to be able to run the wasm test-set without worrying about the extra host-functions added for ethereum.

[2018-04-03 07:52] pirapira commented on #415
@ehildenb I have exactly the same reasons for keeping VMtests.  I changed the title of this issue, to remove only those problematic opcodes from VMtests.

[2018-04-03 16:47] ehildenb commented on #415
Ok, then I guess we should discuss which tests should specifically be removed from the test-suite. At least the ones dealing with `CALL*`, `CREATE`, and `SELFDESTRUCT` I think. I will try to run the VMTests in non-VMTEST mode on KEVM and get a list of tests that break then post them here.

[2018-04-03 17:00] ehildenb commented on #415
Here is a list of tests that fail when I disable all VMTESTS specific stuff: [disable-vmtests-mode-initial.txt](https://github.com/ethereum/tests/files/1872541/disable-vmtests-mode-initial.txt)

There are 40 total (including BLOCKHASH tests as well).

[2018-04-03 18:11] ehildenb commented on #415
Full list of "problematic" opcodes: `BALANCE`, `EXTCODESIZE`, `EXTCODECOPY`, `CALL*`, `CREATE`. Actually doesn't seem to be any problem with `SELFDESTRUCT`.

[2018-04-03 19:15] ehildenb commented on #415
So I have removed most of the dependencies of KEVM on VMTESTS mode (and disabled the relevant tests, which is coming to about 70ish now). One final issue remains, which is that the executing account's balance is asserted in the post-state of the VMTests. Because there is no transaction, there isn't a `gasPrice` to use, so a default `gasPrice = 1` is assumed.

I think that the post-state of the acc

[2018-04-03 21:18] winsvega commented on #415
Just to note.
Storage is used in state tests as a mean to check the execution result.
In VMTests gasUsed is the indicator of bytecode execution results.
The storage check was added later and is used when generating the tests.

[2018-04-04 08:49] #416 closed, assigned to pirapira

[2018-04-04 13:09] pirapira commented on #415
I picked the first one
[code]

I'll see if this is worth translating to GeneralStateTest, and work accordingly.  With the feedback on this one, I can continue with the others.

EDIT: well, this one looks like just testing the blockhash mock for the VM tests.  I'm going to remove these, no translations.

[2018-04-04 13:20] pirapira commented on #415
@ehildenb why is VMTests/vmRandomTest/201503120909PYTHON.json listed?  Is it because of `CALLVALUE` and `CALLDATALOAD`?

[2018-04-04 15:16] ehildenb commented on #415
Commit which drops VMTESTS mode from KEVM semantics: https://github.com/kframework/evm-semantics/pull/178/commits/902a7ed1401ebbfd430f1d78c8e9ead5ee68ad94

[2018-04-05 09:20] pirapira commented on #415
I tried the branch, and I can see some of the listed VM tests can stay, like https://github.com/pirapira/evm-semantics/commit/e350e757173ab5c34058a96c8e54533dfb5982ca

[2018-04-05 09:22] pirapira commented on #415
* [x] #444  VMTests/vmBlockInfoTest/blockhash258Block.json
* [x] #444 VMTests/vmBlockInfoTest/blockhash257Block.json
* [x] #444 VMTests/vmBlockInfoTest/blockhashMyBlock.json
* [x] #444 VMTests/vmBlockInfoTest/blockhashOutOfRange.json
* [x] #444 VMTests/vmBlockInfoTest/blockhashInRange.json
* [x] #444 VMTests/vmBlockInfoTest/blockhashNotExistingBlock.json
* [x] can stay VMTests/vmRandomTest/2015031

[2018-04-06 10:46] holgerd77 commented on #441
I would very much support this and go as far to suggest that you should make this one of your projects with strategic priority (whatever this means, sounded great 😄 ).

This ``ethereum/tests`` repository is wonderful and one of technical parts of the Ethereum ecosystem I admire the most for its thought-throughness and clarity. And this was probably the starting point for various clients to be impl

[2018-04-10 08:33] pirapira opened #446 "Compare `CODESIZE` and `ADDRESS; EXTCODESIZE` in init code"
In the contract creation code, the first should return (usually) zero, and the second should return the size of the init code.  These behaviors should be tested.

[2018-04-10 16:30] pirapira commented on #431
`DoubleSelfdestructTest` seems to behave differently in {Frontier, Homestead} from in {EIP 150, etc}.

[2018-04-10 16:31] pirapira commented on #431
Ah, maybe because `SELFDESTRUCT` got more expensive there.

[2018-04-10 17:57] pirapira commented on #431
Solidity assumes the output is used after EIP150, so its output does not work for Homestead and Frontier.

[2018-04-12 10:54] pirapira opened #448 "There should be a VM test that uses a return value of BYTE in arithmeticss"
https://github.com/ethereumjs/ethereumjs-vm/pull/293#discussion_r181039997

[2018-04-13 08:33] pirapira opened #449 "Remove 'callcreates' field from VM tests"
Now that VM tests should not access the world state, the field 'callcreates' should be always empty.  So we should remove the field.

Original idea: https://github.com/ethereum/tests/pull/444#issuecomment-380975726

[2018-04-17 21:14] jwasinger commented on #446
@pirapira @winsvega I'll write these two cases.

[2018-04-18 00:40] jwasinger commented on #446
My test case indicates that for cpp-ethereum `codesize` returns the size of the init code and `address extcodesize` returns 0.  https://github.com/ethereum/tests/pull/451

[2018-04-18 07:47] ldct opened #452 "VMTests "logs" field not correctly documented"
In the documentation at http://ethereum-tests.readthedocs.io/en/latest/test_types/vm_tests.html#the-logs-section, it is claimed that

However, it seems like in the actual JSON files, the logs section are just hex strings.

https://github.com/ethereum/tests/blob/develop/VMTests/vmArithmeticTest/add0.json#L30
https://github.com/ethereum/tests/blob/develop/VMTests/vmArithmeticTest/sdiv6.json#L30
http

[2018-04-18 07:53] ldct opened #453 "Some VMTests have missing `post` sections"
The documentation suggests that the VMTests should have a mandatory `posts` section:

However, a few tests lack this section, eg https://github.com/ethereum/tests/blob/develop/VMTests/vmTests/mktx.json. I can't quite tell what the testfiller is meant to test in this case, but it doesn't look like any accounts are deleted.

[2018-04-18 11:10] jwasinger commented on #448
fixed by https://github.com/ethereum/tests/pull/454

[2018-04-19 14:28] pirapira commented on #431
`DoubleSelfdestructTest2` behaves differently in `EIP150` only, in `testeth`.  Investigating.

[2018-04-19 14:59] pirapira commented on #431
That was just because Solidity's output doesn't work before EIP150, adn EIP158 changed the behavior of zero-transfer.

[2018-04-20 15:16] pirapira opened #456 "Schema checking on YAML"
Every pull-request on this repository is checked with a schema validator, but it works only on `.json` files not on `.yml` files.

[2018-04-20 15:43] pirapira opened #457 "README should contain links to documents in `docs` directory"
Currently, people need to notice the `docs` directory in the file tree.

[2018-04-20 15:46] pirapira commented on #249
@winsvega perhaps `retesteth` should call debug_trace methods and check the format of the trace.

[2018-04-20 18:56] winsvega commented on #249
you mean compare logs instead of root hashes?

[2018-04-20 22:49] axic opened #458 "Create script to generate test cases combining all arithmetic/logic/bitwise instructions"
From https://github.com/ethereum/tests/pull/454#issuecomment-382352633:

[2018-04-23 08:53] pirapira commented on #249
I suggested adding a new kind of test.  I did not suggest replacing any existing tests that compare root hashes.

[2018-04-23 11:51] winsvega commented on #249
the goal is actually to get rid of different test types and come to a general test format.

[2018-04-23 11:53] pirapira commented on #249
@winsvega please use a separate GitHub issue for the most general test format.

[2018-04-25 16:31] ldct commented on #457
don't those docs get generated into http://ethereum-tests.readthedocs.io/en/latest/ ?

[2018-04-26 07:52] pirapira commented on #457
I see.  I didn't know that.

[2018-04-26 07:52] #457 closed, assigned to nobody

[2018-04-26 10:52] axic opened #459 "Missing div/mod by zero in state tests"
According to code coverage in ethereumjs-vm (https://coveralls.io/builds/16676962/source?filename=lib%2FopFns.js) the state tests are missing cases for div-by-zero, mod-by-zero and mulmod-by-zero. Apparently sdiv, smod and addmod are covered.

[2018-04-26 11:21] axic commented on #441
Related: #340.

[2018-05-08 08:21] ldct commented on #452
@pirapira do you happen to know the cause of these? I was trying to make pyethereum run the VMTests again (it used to, but the format seems to have changed since). Similarly for #453.

[2018-05-08 08:23] pirapira commented on #452
I don't remember any changes to the format of VM tests, so probably the document has been wrong all along.

[2018-05-09 14:10] #439 closed, assigned to nobody

[2018-05-09 14:19] winsvega commented on #436
A PR here running cpp build ?

[2018-05-09 14:21] winsvega commented on #377
shoul be fixed now. although we don't have nightly test runs anymore...

[2018-05-09 14:24] pirapira commented on #436
Yes, that's not too bad.  It doesn't take more than 20 minutes for pirapira/bamboo.

[2018-05-09 14:31] winsvega commented on #436
like reverse test run?
how do you set a branch

[2018-05-09 15:47] pirapira commented on #436
In pirapira/bamboo it's always `develop`.  Here, people need to change the Travis script so `whomever/cpp-ethereum` is checked out.

[2018-05-09 16:08] winsvega commented on #436
and if it works they merge to develop?

[2018-05-09 16:11] pirapira commented on #436
ethereum/cpp-ethereum is like any other clients.  They can choose to update the test and implement the changes.

[2018-05-09 16:13] winsvega commented on #436
I mean the test develop branch contains actual tests. (the most updated ones)
if someone running testeth travis job on his own client and get is green. it does not mean it is ok to merge it into develop.

[2018-05-09 16:16] pirapira commented on #436
Right. We'll be also reading this somebody's client.

[2018-05-09 16:17] winsvega commented on #436
is it that you want to remove travis job from cpp repository then?

[2018-05-09 16:18] pirapira commented on #436
No.

[2018-05-10 13:42] winsvega commented on #385
Implemented

[2018-05-10 13:42] #385 closed, assigned to nobody

[2018-05-10 13:48] winsvega commented on #119
A topic is to be implemented with retesteth.

[2018-05-10 13:52] winsvega commented on #131
@pirapira removes ethereum related tests from VMTests.
So that VM only test the basic logic without (SLOAD, CREATE, CALL, BLOCKHASH) and so on.
So it seems that blocknumber is not needed.

[2018-05-10 13:53] winsvega commented on #134
No more CALL instruction in VMTests?

[2018-05-10 13:54] winsvega commented on #135
No such opcodes in VM tests anymore?

[2018-05-10 13:57] winsvega commented on #205
well tests could contain chain params.
the issue is that every client has it's own chain params scheme

[2018-05-10 13:59] winsvega commented on #227
should be fixed with retesteth as every transaction is being send via rpc.

[2018-05-10 13:59] #235 closed, assigned to nobody

[2018-05-11 08:21] pirapira commented on #134
Right. No more.

[2018-05-11 08:21] #134 closed, assigned to nobody

[2018-05-11 08:21] pirapira commented on #135
Right. This is not planned anymore.

[2018-05-11 08:21] #135 closed, assigned to pirapira

[2018-05-11 10:35] chfast commented on #249
@cdetrio @holiman I'm back to this issue because I want finally to implement this in EVMC.

I still believe it would be more convenient to report the _effect_ of the instruction execution, not the state _before_ the execution. In this case it might be enough to only report the top stack item being the result of the execution of the current opcode. Also the cost of the execution and exceptions can

[2018-05-29 22:17] ehildenb opened #463 "Better knowledge of which tests need to be re-filled"
Currently re-filling test cases takes quite a while, so they are re-filled manually instead.

It would be better if we could detect when they need to be refilled automatically, and even better if this was done by the CI server for us automatically on every PR. I would settle for a way to automatically only refill tests that need to be refilled though.

A simple solution: include (in the filled out

[2018-05-29 22:19] axic commented on #433
Were any of these old LLL cases converted?

[2018-05-29 22:20] ehildenb commented on #463
Also note that it would be easy to enforce that tests are filled correctly with a CI server using the hashing method.

[2018-05-29 22:23] ehildenb commented on #463
One problem with the hashing method as described above: you would have to parse the filled test JSON to find out what hash to look at. Parsing JSON is relatively slow.

Instead, could store a separate file with a list of `filledFileName: fillerHash`. Would be quicker to cycle through, and clients wouldn't have to change testing infrastructure to deal with new `fillerHash` field in filled tests.

[2018-05-30 10:55] winsvega commented on #463
Test filling operation is dangerous. if filling went wrong - you loose the test. Thats why it is done manually.
You have to analyze what has changed after test refill and why it has changed. Usually expect section prevents from critical damage to the test.

You dont have to rerun the test filling process unless you want to change the test.

[2018-05-30 13:11] winsvega opened #464 "Blockchain Tests Format Changes"
A small change to the blockchain test format is needed.
This format is used by have and many clients so I want to keep the changes at minimum.
However we do not have any agreed format scheme so far. I think some fields could be removed as it is obsolite.

The current blockchain format looks like this:
[code]

I have found out that this genesis fields are the minimum of information that is required

[2018-05-30 13:14] winsvega commented on #464
https://github.com/ethereum/EIPs/issues/1085

[2018-05-30 15:14] ehildenb commented on #463
This proposal is just about maintaining a list of which tests have been filled with which fillers. This would make it simple for a tool to report back "these tests need to be refilled", and would also make it easy for the CI server to make sure that if fillers are changed then the tests have been refilled before merging into master.

[2018-05-30 17:38] winsvega commented on #463
ok then we already have it.
a filled test has _info section with a path to the filler.json and a hash of that filler.
if test source is changed then  test tool report that such test is outdated and needs to be regenerated.

[2018-05-30 17:40] ehildenb commented on #463
Ah I see. I guess the one benefit of a separate file is it would be much quicker to run than parsing JSON, but I guess that isn't the bottleneck anyway. Closing.

[2018-05-30 17:51] ehildenb commented on #463
@winsvega actually, reopening. If this information is already present, I think it would be useful for the CI on this repo to fail if tests need to be refilled, and to print out the list of tests which need to be refilled. What do you think?

[2018-05-30 18:41] winsvega commented on #463
hm. usually new tests are added by running the testeth which do the checks.
a condition for the test to be added is that cpp CI run must be green (it runs testeth) but that is in cpp-repo
@jwasinger @pirapira  also suggest that testeth run should somehow be performed in the test repo.
The CI check of the hashes here could be usefull but it is not needed that much.

[2018-05-30 18:56] ehildenb commented on #463
I am integrating it into the (very quick) `./test.py` checks on #461 . That way it doesn't depend on other repos.

[2018-05-30 19:18] ehildenb commented on #441
#461 is now checking that the `_info` block with the fields `source` and `sourceHash` are present. @zixuanzh can look into supporting the remaining fields and fixing tests that do not have them.

Also, since the script `./test.py` is now asserting that those fields exist, we can have a reliable way to list this information in the same tool, using `./test.py info` instead of `./test.py list`.

[2018-06-09 09:06] jjyr commented on #452
Seems related to this PR https://github.com/ethereum/cpp-ethereum/pull/4376
But I don't know how to calculate log series hash.

[2018-06-22 08:27] chfast opened #473 "Test request: CREATE failure due to deployment cost"
There is an edge case of CREATE failure where the init code finishes with a success and returns the code to be deployed. The CREATE still can fail if there is not enough gas left to deploy the code. We should have some test cases targeting this case, especially together with REVERT and RETURNDATA instructions.

Why this is important? In go-ethereum CREATE implementation returns the runtime code to

[2018-07-01 20:07] Matthalp-zz opened #474 "General Improvements To Ethereum Reference Test Suite"
I am a core developer of Pantheon, the Java-based Ethereum client being developed at PegaSys/ConsenSys. My main area of focus has been on block processing/importing where I’ve spent a lot of time working with the various Ethereum reference tests.

There Ethereum reference tests have been invaluable getting our block processing capabilities online and I am grateful for all of the effort everyone ha

[2018-07-01 20:14] Matthalp-zz commented on #474
If I was to summarize this, it would be to make the Ethereum reference tests more systematic in a way that lowers the barrier to implementing a client from scratch, which include more granular test suites as well as a road map for how implementers should go about bringing capabilities online and testing them. Additionally there are opportunities to add conventions/consistency amongst test suites s

[2018-07-03 08:52] chfast commented on #473
@winsvega @axic is it possible to write a test in solidity assembly?

[2018-07-03 09:29] winsvega commented on #474
[code]

The idea on this one is to make a uniform test format which will make it easier to parse the tests.
Another idea is that client developers should not bother about different test formats. testing should be done through the test RPC interface.

[code]
Need a free hands on that

[code]
A guide on ethereum client develop process would be nice. +1 free hands here.

[2018-07-03 12:55] winsvega commented on #473
here is the test https://github.com/ethereum/tests/pull/475

[2018-07-03 13:26] Matthalp-zz commented on #474
@winsvega I'm on vacation the next few days, but will double back next week to reply about next steps, etc.

[2018-08-07 01:47] axic commented on #473
So this can be closed now?

[2018-08-07 10:17] #473 closed, assigned to nobody

[2018-08-07 10:22] winsvega opened #480 "Blockchain tests without PoW"
A small change to the blockchain test format.
It could now have field:

[code]

meaning that it is the ordinarty PoW test.
And another option is

[code]

Meaning that blocks in the test shoul not be checked for difficutly check.
If there is no sealEngine field then difficulty check should be performed.

**Rationaly**:
Most of the blockchain tests does not meant to check the actual difficulty calcu

[2018-08-07 10:25] winsvega commented on #463
One thing i dont like about current model is that one test source filler change require to regenerate all the tests that come from this filler. When you actually just want a Byzantium version to be refilled. you change the filler. and that requires you to regenerate the test for Homestead as well.
That might lead to some information being lost. (if Homestead regenerated test will be different from

[2018-08-07 10:26] #446 closed, assigned to jwasinger

[2018-08-07 10:46] holiman commented on #480
If we _do_ change this, it means that it'll break all clients genesis parsing. Otoh, if we just start shipping invalid PoW (or a static `deadc0de` nonce), and modify e.g. hive to run clients with `--no-verify` during import, nothing will break... Just sayin...

[2018-08-07 12:33] winsvega commented on #480
not the genesis  parsing but block verification. the blocks in tests will have invalid nonce / difficulty

[2018-08-07 17:37] holiman commented on #480
As for hive, the actual json in the blockchain test is ignored -- only the block RLP is used, so the only way to configure anything is to use the node-specific genesis/config. Or, alternatively, to modify each node-specific bootstrap script to make the node ignore PoW. Geth, parity and ethereumJ supports this, from what I can tell, so that should be ok. I don't know if blockchain tests are used, i

[2018-08-07 17:59] winsvega commented on #480
well the script that read block RLP from json could configure the node then.

[2018-08-08 13:19] chfast opened #483 "Storage change tests"
In preparation for EIP-1087.

For a single SSTORE of a given key, we have following cases:
- z: 0 -> 0 (zero),
- a: 0 -> X (added),
- d: X -> 0 (deleted),
- m: X -> Y (modified).
- u: X -> X (unchanged).

Make sure we have proper tests for all cases (probably yes).

Now let's create a set of test cases where we combine each possibility into sequence of two SSTORES:

- zz: 0 -> 0 -> 0
- za: 0 -> 0

[2018-08-10 13:49] winsvega commented on #483
Added to the list
https://docs.google.com/spreadsheets/d/1xat7UI8GtB4ZGVdlK5_XQSHJZaMThi4SrlcL8XMZb5Q/edit?pli=1#gid=878289780

[2018-08-15 18:46] winsvega opened #487 "Thunder ideas for testing the EVM"
Rough outline of factors this contract should test for:
built in functions

* big state writes
* many state writes
* big state reads
* many state reads
* state reads from very old data
* many EVM operations (TODO outline diff types of EVM operations)
* failing

Note 1: that each of these functions should be dependent on some input data such that we can chain it with read operations to simulate wai

[2018-08-22 11:37] chfast commented on #438
Yes.

[2018-08-24 00:12] sorpaas commented on #483
Two additional test cases for reset and set again:

* ada: 0 -> X -> 0 -> X
* dad: X -> 0 -> X -> 0

[2018-08-24 16:11] pipermerriam opened #488 "Rename EIP150 and EIP158 to TangerineWhistle and SpuriousDragon respectively"
I would like to propose renaming the strings we use to refer to the forks currently referred to as `"EIP150"` and `"EIP158"`

- `EIP150 -> TangerineWhistle`
- `EIP158 -> SpuriousDragon`

My motivation is as follows:

- EIP158 is not even the correct EIP number as it was replaced with EIP160
- Using the EIP to reference it is somewhat confusing as most forks contain multiple EIPs, TangerineWhistle

[2018-08-28 19:16] dwightguth opened #492 "Inconsistent behavior of storage on address collision in Constantinople"
I have been looking into the test suite for the purposes of trying to implement the CREATE2 opcode in [KEVM](https://github.com/kframework/evm-semantics), and it seems to me that there is an inconsistency in the behavior of storage with respect to address collisions. In the stCreate2/create2collisionStorage test, it seems to be assumed that when an address collision occurs with an account that has

[2018-08-30 15:53] masonforest opened #493 "Testcase needed for `CODECOPY` where `code_size=0`"
We at [Mana](https://github.com/poanetwork/mana) ran into a consensus breaking bug in our client at [block #116524](https://etherscan.io/block/116524). The issue was that when `code_size` was set to `0` when running the opcode `CODECOPY`  we would push a `0` onto the stack instead of leaving the state unchanged. This was a bug in our implementation and was fixed in commit https://github.com/poanet

[2018-08-30 15:58] holiman commented on #493
Looking at the fix, you mean `CODECOPY`, not `CALLCODE`, right?

[2018-08-30 16:02] masonforest commented on #493
Whoops, yep. Updated 👍

[2018-08-31 12:09] axic commented on #493
Can the new test case also cover `EXTCODECOPY` please?

[2018-08-31 12:31] axic commented on #488
Also adding to this: the "meta" EIPs describing these hardforks kind of codified these "fancy names" as the ones used to refer to them.

[2018-08-31 15:22] pipermerriam commented on #488
@winsvega how hard would this be?

[2018-08-31 15:23] pipermerriam commented on #488
Oh, I'd also advocate we do this *after* Constantinople to reduce any extra complexity or confusion this causes since it will almost definitely require every client to update their test suite.

[2018-08-31 15:28] winsvega commented on #488
I think we could actually do this before the Constantinople. with this changes
https://github.com/ethereum/aleth/pull/5154

[2018-09-05 13:14] norhh opened #498 "push32FillUpInputWithZerosAtTheEnd test doesn't store anywhere"
I have a query. The code for the test seems to be
`0 PUSH32 0xff10112233445566778899aabbccddeeff00112233445566778899aabbccdd`
which doesn't store anything anywhere, also tests doesn't have any stack to check the current stack(correct me if i am wrong), so in that case the test will pass right whatever happens right?

[2018-09-07 17:26] germsvel opened #503 "transactionFromNotExistingAccount does not reflect YellowPaper"
I was looking through the [transactionFromNotExistingAccount test](https://github.com/ethereum/tests/blob/develop/BlockchainTests/bcStateTests/transactionFromNotExistingAccount.json), and it seems to me like it does not accurately reflect the Yellow Paper.

This test seems to execute a transaction with a valid signature (and thus we can get a sender address), but for which the sender's account doe

[2018-09-07 17:47] holiman commented on #503
True. Would be nice to know is this has ever occurred (I suspect it may, we had  brief no-cost-blocks a while back).

If it hasn't occurred, I think it's a pita to change/hardfork to make it different in the future.

If it hasn't occurred, we should change the test and retroactively consider it as always having been in place.

Just an opinion...

[2018-09-10 15:24] germsvel commented on #503
@holiman am I understanding your comment correctly?

Are you saying that:

-  if it _has_ occurred, we should keep the test as is to document reality and make sure clients can sync from genesis.
- if it _has not_ occurred, we should change the test so that it reflects the `S(T) != Null` contraint.

If those are your points, I definitely agree. I think that makes sense.

[2018-09-10 15:51] germsvel opened #504 "Is TransactionNonceCheck state test incorrect?"
I was looking through the [transaction nonce check state test](https://github.com/ethereum/tests/blob/develop/GeneralStateTests/stTransactionTest/TransactionNonceCheck.json) and its [filler](https://github.com/ethereum/tests/blob/develop/src/GeneralStateTestsFiller/stTransactionTest/TransactionNonceCheckFiller.json). And I can't quite understand why it creates the beneficiary's account `2adc256650

[2018-09-10 18:32] germsvel commented on #504
After looking at some of [mana's](https://github.com/poanetwork/mana) Frontier state test failures, it seems that all of the following are tests with invalid transactions,

[code]

If the state tests should not have invalid transactions, should all of those be deleted as well?

[2018-09-11 16:08] winsvega commented on #504
No. Thanks for the list.
And yes you could open a PR that removes it.
I will reimplement those cases in a form of correct blockchain test.

[2018-09-11 16:09] winsvega commented on #503
Looks like we agreed that if majority of the clients pass this test as it is right now, we should change the YP.

[2018-09-11 16:17] winsvega commented on #498
It is a VM test which is unmaintained test suite. I dont see any 0 at the end. But what it does in VM suite is that it could check execgas value.

[2018-09-11 16:19] winsvega commented on #492
fixed in cpp with  https://github.com/ethereum/aleth/pull/5242,  https://github.com/ethereum/aleth/pull/5237
the test is refilled.

[2018-09-11 16:19] #492 closed, assigned to nobody

[2018-09-11 16:22] winsvega commented on #480
implemented

[2018-09-11 16:22] #480 closed, assigned to nobody

[2018-09-11 17:31] holiman commented on #503
Yes those were my points :)

[2018-09-11 17:48] norhh commented on #498
zeros will be appended to the end as the argument for push is less than 32 bytes in this case.We can't verify this behavior in this test right? It might be good if the stack is also stored in the tests

[2018-09-11 19:03] winsvega commented on #498
Looks like noway to verify it. As any instruction after such push will go to the push data instead. I think it is enough to check gas usage. I will add this test to statetests.

[2018-09-11 19:15] norhh commented on #498
Awesome, thanks a lot.

[2018-09-11 19:30] germsvel commented on #503
👍 changing the YP makes sense to me. Does anybody know how we go about doing that (open an issue and point back here)? And should I close this issue?

[2018-09-13 13:09] germsvel commented on #504
@winsvega thanks for all the guidance with this test removal. I opened a PR removing the test (and filler) for the TransactionNonceCheck. If you want me to remove any other tests on the list above, let me know. I'd be glad to help.

[2018-09-14 18:47] winsvega commented on #504
do not remove such tests for now.
we discussed this issue and decided to leave it as it is for now.

the problem you were having is a fake touch to coinbase that imitate mining reward in state tests.
that touch was done because state tests could be executed via rpc like a blockhain test.

[2018-09-14 18:48] #504 closed, assigned to nobody

[2018-09-14 19:42] dwightguth opened #510 "Inconsistent block reward in constantinople"
Currently different BlockchainTests have different values for the block reward on the Constantinople hardfork. ` tests/ethereum-tests/BlockchainTests/GeneralStateTests/stRandom2/201503110226PYTHON_DUP6_d0g0v0.json` expects the block reward to be 3 eth, (in violation of EIP 1234 which reduces it to 2 eth). However, other tests seem to have been refilled with the new value, such as `tests/ethereum-t

[2018-09-17 13:01] holiman commented on #488
:+1: from me

[2018-09-18 04:59] sorpaas opened #512 "GeneralStateTests/stZeroKnowledge/pointAdd not taking account of EIP-1283 in Constantinople"
For example, in test index 5, two `SSTORE` are present to set storage `0x0` twice. However, the hash expected for Byzantium and Constantinople are the same.

[2018-09-18 13:05] winsvega commented on #488
delayed for after Constantinople

[2018-09-19 12:29] winsvega commented on #498
The test
https://github.com/ethereum/tests/pull/508/commits/78dbc922a4a2f0e159a20107462dbadb7967f663

[2018-09-19 12:29] #498 closed, assigned to nobody

[2018-09-25 15:28] germsvel commented on #510
We've also run into this issue. We've been writing tests for Constantinople in [mana](github.com/poanetwork/mana) and have found lots of tests pass if the `block_reward` and the `bomb_delay` are the ones from Byzantium, but they fail with the `block_reward` and `bomb_delay` are the ones defined in [EIP 1234](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1234.md):

<details>
<summary> This

[2018-09-29 14:44] holgerd77 commented on #318
What is the state of difficulty tests for Constantinople? Is it worth wait for that and will there be an additional ``basicTests/difficultyConstantinople.json`` test cases file in the [basicTests](https://github.com/ethereum/tests/tree/develop/BasicTests) directory? Or is there any way to test this?

If this is too much workload, maybe someone else can help out here?

[2018-09-29 15:46] winsvega commented on #318
Yes.additional basic tests will be.
But genesis > 0 is unlikely

[2018-09-29 15:47] winsvega commented on #318
At the moment regenerating blockchain tests for Constantinople

[2018-09-29 15:50] holgerd77 commented on #318
@winsvega Cool, thanks for the update!

[2018-09-30 11:39] 5chdn commented on #510
Same is true for the Ropsten difficulty tests after `DifficultyTest1022`.

[2018-10-01 19:14] germsvel opened #513 "Update state test docs to include need to touch coinbase"
[Mana](https://github.com/poanetwork/mana) had a few state tests that took us a long time to figure out how to pass. After doing some research, we discovered [this conversation in gitter](https://gitter.im/ethereum/tests?at=5b85004aff445156164b685f) that led us to understand that we needed to simulate adding a miner reward and cleaning up empty accounts after EIP-161. The PR introducing those chan

[2018-10-02 12:35] feliam opened #515 "VMTests does not really test logs, or does it?"
Here the logs item is described as a dictionary:
https://github.com/ethereum/tests/blob/develop/docs/test_types/vm_tests.rst#the-logs-section

The ``logs`` sections is a mapping between the blooms and their corresponding logentries.
Each logentry has the format:

* ``address``: The address of the logentry.
* ``data``: The data of the logentry.
* ``topics``: The topics of the logentry, given as an

[2018-10-03 20:49] pipermerriam commented on #515
The value is the hex encoded hash of the rlp encoded log entries, reducing the overall size of the test files while still verifying that all of the data is accurate (at the cost of being able to read what the data should be).

- `keccak(rlp.encode(log_entries))`

See: https://github.com/ethereum/py-evm/blob/7a96fa3a2b00af9bea189444d88a3cce6a6be05f/eth/tools/_utils/hashing.py#L8-L16

[2018-10-03 20:49] #515 closed, assigned to nobody

[2018-10-08 11:51] chfast commented on #483
Can this be closed now?

[2018-10-08 18:50] winsvega commented on #483
No. The cases have not been added to the repo yet.
In fact tests not written yet.

[2018-10-10 18:21] feliam commented on #515
Why not reduce the size all the way and make only test the hash of the rlp of the complete test?
This is making the test loose granularity. With this you can aspire only to "something wrong with the log". Also it is testing rlp encoding (and keckakkk)  in the middle of it. :-1:

[2018-10-11 00:44] feliam commented on #449
Just came here to file the same thing. Remember to remove it also from the docs. (https://github.com/ethereum/tests/blob/develop/docs/test_types/vm_tests.)

[2018-10-11 12:04] winsvega commented on #512
The tets has recently been updated for Constantinople. Issue should be gone by now.
Do you still have any tests failing?

[2018-10-11 12:05] winsvega commented on #510
tests were not updated. please check now.
all tests been updated.

[2018-10-11 12:07] winsvega commented on #503
sup with YP change? @holiman
@pirapira used to update the YP. not sure where is the latest repo now

[2018-10-11 12:08] cheme commented on #512
No the tests are not failing anymore :+1:

[2018-10-11 12:33] #512 closed, assigned to nobody

[2018-10-11 12:36] holiman commented on #503
I have no idea -- have never touched the YP .. :/ We need a new @pirapira

[2018-10-11 12:39] germsvel commented on #503
Would opening an issue in https://github.com/ethereum/yellowpaper be a good step? I'm guessing that's the first step in making that change?

[2018-10-11 13:21] dwightguth commented on #510
This appears resolved.

[2018-10-11 13:21] #510 closed, assigned to nobody

[2018-10-11 13:25] dwightguth opened #521 "stCreate2/RevertOpcodeInCreateReturns_d0g0v0 not refilled"
It would seem that the blockchain test stCreate2/RevertOpcodeInCreateReturns_d0g0v0 was not refilled with the new gas price of CREATE2 which includes the cost of the hashing operation.

[2018-10-11 13:31] dwightguth commented on #521
Testing reveals the same seems to be true of  stCreate2/RevertInCreateInInit_d0g0v0

[2018-10-11 14:22] winsvega commented on #503
yes. I remember there was issue about whos yellow paper is more yellow. Gavin Wood had some authorship issues with us. I guess ethereum/yellowpaper is the latest version. it should also be autocompiled by some script into a webpage.

[2018-10-11 16:51] pipermerriam commented on #515
I don't have an informed opinion on the approach.  If you have a suggestion for a broader change to the test format I'd recommend opening a new issue and speccing it out.

[2018-10-11 17:54] feliam opened #523 "VMTests lacks granularity for _LOG_ tests"
Currently the XML tests in VMTests contain a hex encoded hash of the rlp encoded log entries for testing the logs. Loosing granularity and the ability to read what the data should be.
[code]
IMHO follows..

The documentation for this is in the right direction though not matching the implementation. https://github.com/ethereum/tests/blob/develop/docs/test_types/vm_tests.rst#the-logs-section
[code]

[2018-10-11 17:55] feliam commented on #515
Looks a little redundant. But it's done. ^

[2018-10-11 18:41] cdetrio commented on #515
Just a heads up, some of us would like to deprecate the VM test format.  Here's an open PR moving in that direction:  https://github.com/ethereum/tests/pull/470

Once deprecated, EVM implementations would just run the subset of StateTests that are the VM tests (e.g. the GeneralStateTests/VMTests folder.  VM tests in the StateTest format).

[2018-10-11 19:12] feliam commented on #515
:man_facepalming: thanks for the heads up.

[2018-10-11 20:07] feliam opened #524 "A test that all evm clients must agree with is wrong. Is it?"
There are 2 versions of the same account with conflicting balances and code in this "post" test.

https://github.com/ethereum/tests/blob/0c76bf7d18e63bb65e4b8ffdd20e602e97e1c83b/VMTests/vmSystemOperations/suicideNotExistingAccount.json#L33-L47

[2018-10-11 20:08] feliam commented on #515
Another point in favor of deprecation? https://github.com/ethereum/tests/issues/524.

[2018-10-11 20:10] holiman commented on #524
They're not the same account... Look at the first bytes of the address

[2018-10-11 21:16] feliam commented on #524
Oh those do count?   lol

[2018-10-12 11:58] holiman commented on #524
Btw, in case you have missed it; most discussions about tests happen over at gitter:  https://gitter.im/ethereum/tests

[2018-10-12 13:37] feliam commented on #524
So the SELFDESTRUCT here worked.
0x0f572e5295c57f15886f9b263e2f6d2d6c7b5ec6 gets deleted and it does not appear in the post. And the previously not existing beneficiary account (0xaa1722f3947def4cf144679da39c4c32bdc35681) is created.

All this with 1000 gas ?
```        "gas" : "0x03e5",```

[2018-10-15 19:19] holgerd77 commented on #524
Seems to be solved, will close.

[2018-10-15 19:19] #524 closed, assigned to nobody

[2018-10-15 19:25] holgerd77 commented on #452
Closed by https://github.com/ethereum/tests/pull/516.

[2018-10-15 19:25] #452 closed, assigned to nobody

[2018-10-15 19:34] holgerd77 commented on #411
Should be fulfilled by https://github.com/ethereum/tests/pull/461, please reopen if in doubt.

[2018-10-15 19:34] #411 closed, assigned to nobody

[2018-10-19 21:33] holgerd77 opened #530 "Empty mixHash values resulting in failing blockchain tests"
``mixHash`` is on many tests just filled with 0s, can be seen on the following [search](https://github.com/ethereum/tests/search?q=mixHash&unscoped_q=mixHash), which leads to many failing blockchain tests.

I explicitly tested with [notxs.json](https://github.com/ethereum/tests/blob/develop/BlockchainTests/bcGasPricerTest/notxs.json) test over on ``ethereumjs-vm`` which is now failing due to diffe

[2018-10-19 22:08] holgerd77 opened #531 "[Meta] Test releases for the tests repository"
Hi @winsvega, have you ever thought about making releases on the tests repository, think these could already solve a lot of problems. This can be low-level, e.g. just doing tags on the GitHub [release](https://github.com/ethereum/tests/releases) page and adding some CHANGELOG entry, we are doing this over on our proxy [ethereumjs-testing](https://github.com/ethereumjs/ethereumjs-testing) library a

[2018-10-20 06:13] holiman commented on #530
Those tests have the NoProof engine, so the mixhash shouldn't be checked, as it's part of the PoW.On Oct 19, 2018 11:33 PM, Holger Drewes <notifications@github.com> wrote:mixHash is on many tests just filled with 0s, can be seen on the following search, which leads to many failing blockchain tests.
I explicitly tested with notxs.json test over on ethereumjs-vm which is now failing due to differing

[2018-10-20 09:11] holgerd77 commented on #530
Stuff like this really needs to be documented, otherwise people just have no chance than to stumble over this if they are not following every single commit/PR in the repo (this would even justify some "Attention! Attention!" note in the first lines of the README). Is all described in this issue https://github.com/ethereum/tests/issues/464 now implemented? Then I can prepare a PR towards the docs w

[2018-10-20 09:15] holiman commented on #530
Tagged releases with release-notes sounds like a great idea, imo

[2018-10-20 12:31] holgerd77 commented on #530
Ok, I would write a summary of the latest changes in the repo every two weeks and publish this as a tagged release, if there are no objections from Dimitry. I think I could take half a day of for this every two weeks, can also commit to stick on for this for at least 6+ months. Would also in parallel then do a short post on Reddit for people interested.

I will also try to do accompanying PRs for

[2018-10-22 11:21] holgerd77 commented on #530
Did some PR with doc updates on the seal engine twice, but PR disappeared both times with really strange behavior in-between, don't know, is this some auto-closing after post-checks I am not aware of? @winsvega @holiman

[2018-10-22 12:20] holgerd77 commented on #530
Ah, seems to have been GitHub related outages, just read in the news.

[2018-10-22 17:19] pipermerriam opened #534 "Verify documentation is automatically building via RTD"
It appears that documentation on ReadTheDocs may not be configured to automatically build the latest `develop`.

- verify that this is desired
- verify this is happening and if not, get the webhook installed.

[2018-10-22 17:19] pipermerriam commented on #534
@winsvega I'd be happy to get this done if you aren't opposed.  Kindly add me as a contributor to the readthedocs project.  My username there is `pipermerriam`.

[2018-10-23 10:56] holgerd77 commented on #534
Short note to be sure: this would be latest ``develop``, since this is the actively used branch.

[2018-10-24 09:28] holgerd77 commented on #531
Hi everyone,
here is a proposal for release notes, I would leave this open for discussion and comments for 24 hours and then publish a tagged release. I think this will generally be a good way ensure to not do unintended releases and give @winsvega and others working on the tests the chance for some feedback ("please wait, develop branch not stable", "please wait, would like to merge PR xx",...),

[2018-10-24 09:29] holgerd77 commented on #530
Hi @cburgdorf, @carver, since you expressed interest in the release idea, you might want to join the discussion here https://github.com/ethereum/tests/issues/531, have now put together some release notes for an initial release.

[2018-10-24 09:57] cburgdorf commented on #531
@holgerd77 Thank you very much for jumping on this. :+1:  As someone who has implemented the Constantinople EIPs for Trinity I really appreciate your effort to make the process of upgrading the tests more pleasant. Currently, for me, upgrading the tests usually involves lots of digging through other client implementations to find out about the changes they had to implement to make things work (e.g

[2018-10-24 10:07] holgerd77 commented on #531
Hi @cburgdorf, that's an interesting idea but I wouldn't over-engineer here for now. This requires very much discipline on the commit generation side and I wouldn't want to force everyone into some complete new work structure on a first round, think it's more important to get things off the ground.

This also very much requires meaningful PRs, if at the end this gets just a list of "refill tests",

[2018-10-24 10:46] cburgdorf commented on #531
I totally agree. I brought it up as a vision for how things *could be* as a long term goal. I'm totally on board that improvements need to come step by step.

Yes, basically means either contributors need to learn how to do it or maintainer need to rebase PRs on behalf of those people. Making it harder for external contributors to contribute is basically the main reason why we reject such policy i

[2018-10-24 16:25] winsvega commented on #534
I don't think that I have the access to add you to readethdocs. In fact it's been a long time since I last login to that page. @chfast

[2018-10-24 16:29] winsvega commented on #531
Tests develop branch must always be stable. It is just that this time we created Constantinople tests way before the actuall EIPS were included into the test branch.
If you find a bug in test develop branch then smth is wrong either with the test or with your client. So I am not sure about this releases.

But I like the idea of meta description of what actually hash changed in the tests and where

[2018-10-24 16:30] winsvega commented on #530
could be closed now?

[2018-10-24 18:18] pipermerriam commented on #534
@winsvega turns out @holgerd77 got me added.  If you'll send me a username for RTD we can get you added as well.

[2018-10-24 19:19] #530 closed, assigned to nobody

[2018-10-24 19:22] holgerd77 commented on #531
Yes, main reason for releases are to have descriptions of what has changed and to be better able to exchange about problems and potential bugs, this is not so much about stability. If develop branch is always stable, even better.

[2018-10-24 19:25] holgerd77 commented on #534
@winsvega You actually wanted to verify if "dimitry" is your username on ReadTheDocs, could you verify that and were able to login?

[2018-10-24 20:37] winsvega commented on #534
could you please send the link to login page?

[2018-10-24 22:24] carver commented on #531
Further, [semantic versioning](https://semver.org/) would be helpful here:
- major number updates every time there is a backwards incompatibility for test runners, eg~
  - new fork rules
  - backwards-incompatible change, like dropping the mixhash and setting `sealEngine=NoProof`
- minor number updates when new tests are added that are backwards compatible
- patch number updates if an existing tes

[2018-10-25 08:36] holgerd77 commented on #531
Yes, I think the suggestion from @carver for versioning makes more sense than my stuff, will switch to that.

[2018-10-25 08:39] ayrat555 opened #536 "refill "stRevertTest/RevertInCreateInInit""
This test does not consider eip1283 (gas cost changes for `sstore` operation). When running this test with pre-Constantinople `sstore` gas cost it passes

[2018-10-25 08:54] holgerd77 commented on #534
@winsvega https://readthedocs.org

[2018-10-25 09:19] holgerd77 commented on #531
Have updated the draft release notes from above with the changed versioning and notes from @carver.

[2018-10-25 09:24] holgerd77 commented on #536
This test is also not passing in latest [CI run](https://circleci.com/gh/ethereumjs/ethereumjs-vm/2507?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) on ``ethereumjs-vm`` for Constantinople tests where ``SSTORE`` implementation has already been merged.

This might still be another bug in our implementation, but somewhat hints to the direction that this can also

[2018-10-25 09:29] ayrat555 commented on #536
Yes, the only two Constantinople tests that are not passing in [mana](https://github.com/poanetwork/mana) are `stRevertTest/RevertInCreateInInit` and `stCreate2/RevertInCreateInInitCreate2`

But running `stCreate2/RevertInCreateInInitCreate2` with pre-Constantinople `sstore` gas cost does not make it pass

[2018-10-25 09:59] winsvega commented on #534
No. Looks like my account is winsvega

[2018-10-25 10:10] holgerd77 commented on #531
Have now published a first release [v6.0.0-beta.1](https://github.com/ethereum/tests/releases/tag/v6.0.0-beta.1), have also cross-posted this on [Reddit](https://www.reddit.com/r/ethereum/comments/9r8x36/release_v600beta1_for_ethereum_consensus_tests/).

On a first round I will continue to use this thread on subsequent release note drafts, as I said, will always publish as a draft 24 hours before

[2018-10-25 10:12] holgerd77 commented on #531
(sorry, wrong Reddit link if you got this via mail, use the updated link directly from the post)

[2018-10-25 10:16] holgerd77 commented on #534
Ok, I'll take this as confirmed, please make sure that you can really log in with this account and this is no one else having registered with the name, otherwise the person has complete administrative control on the docs.

Generally no need to go there very often, especially if @pipermerriam gets the auto-triggered rebuild going.

[2018-10-25 11:46] holgerd77 commented on #531
@winsvega what is the status of the ``EXTCODEHASH`` implementation, are you already working on that and plan to finish yourself or are you still looking for someone to help out? Seems [post](https://www.reddit.com/r/ethereum/comments/9r8x36/release_v600beta1_for_ethereum_consensus_tests/) on Reddit is getting some traction, maybe good occasion to ask over there if someone wants to contribute?

[2018-10-25 17:46] pipermerriam commented on #531
@holgerd77 might be good to bake some of this into the project `README.md` or the Sphinx docs.

[2018-10-25 19:59] pipermerriam commented on #534
Docs are now building automatically and I've created dedicated tag builds for the `v6` release.

[2018-10-25 20:09] holgerd77 commented on #534
Ok, great

[2018-10-25 20:47] axic commented on #531
Thanks @holgerd77 & @winsvega (and others) for all this work, this looks great!

[2018-10-26 11:33] ajsutton commented on #536
I suspect https://gist.github.com/holiman/0154f00d5fcec5f89e85894cbb46fcb2 may be helpful here.  The new contract gets an address that already has storage but a 0 balance and 0 nonce so it's allowed to be created. Prior to executing the contract init code, the storage must be cleared and crucially the original value for the storage is considered to be 0 when calculating SSTORE gas cost.

[2018-10-26 13:20] winsvega commented on #531
Extcodehash is not implemented yet. There is a test cases list

[2018-10-26 13:22] winsvega commented on #531
https://docs.google.com/a/ethereum.org/spreadsheets/d/1xat7UI8GtB4ZGVdlK5_XQSHJZaMThi4SrlcL8XMZb5Q/htmlview#

[2018-11-05 14:30] jwasinger opened #540 "Test case: EXTCODEHASH of account without code"
From https://eips.ethereum.org/EIPS/eip-1052 :
`The EXTCODEHASH of the account without code is c5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470 what is the keccack256 hash of empty data.`

[2018-11-05 14:31] jwasinger opened #541 "Test case: EXTCODEHASH of nonexistent account is 0"
From https://eips.ethereum.org/EIPS/eip-1052

[2018-11-06 09:43] ayrat555 commented on #536
We should reset storage for newly created accounts. We were
resetting them in the evm cache but we were reading initial values
from the permanent storage. We should read them from the cache

https://github.com/mana-ethereum/mana/pull/579

[2018-11-06 09:43] #536 closed, assigned to nobody

[2018-11-06 10:51] holgerd77 commented on #536
@ayrat555 Ah ok, thanks for clarification!

[2018-11-08 10:34] #534 closed, assigned to nobody

[2018-11-12 20:30] winsvega commented on #541
please mark it to this page
https://docs.google.com/spreadsheets/d/1xat7UI8GtB4ZGVdlK5_XQSHJZaMThi4SrlcL8XMZb5Q/edit?pli=1#gid=1811198384

[2018-11-12 20:33] winsvega commented on #521
those cases could actually be obsolite. need to check

[2018-11-12 20:35] winsvega commented on #483
https://docs.google.com/spreadsheets/d/1xat7UI8GtB4ZGVdlK5_XQSHJZaMThi4SrlcL8XMZb5Q/edit?userstoinvite=hugo@ethereum.org&ts=5be5af56&actionButton=1#gid=878289780

[2018-11-12 20:35] #483 closed, assigned to nobody

[2018-11-12 20:37] winsvega commented on #540
please post this issues to:
https://docs.google.com/spreadsheets/d/1xat7UI8GtB4ZGVdlK5_XQSHJZaMThi4SrlcL8XMZb5Q/edit?userstoinvite=hugo@ethereum.org&ts=5be5af56&actionButton=1#gid=1811198384

[2018-11-13 12:56] holgerd77 commented on #531
Hi everyone,
here is the draft for release notes for a new release, as announced previously I would leave this open for 24h and then do a release.

My idea for a release path towards a "good enough" ``v6.0.0`` release would be the following:
- This release (with additional ``EXTCODEHASH`` and ``SSTORE`` tests still in the works by @winsvega and @hugo-dc as open PRs) will be another ``beta.x`` rele

[2018-11-14 11:30] holgerd77 commented on #531
Just did the [v6.0.0-beta.2](https://github.com/ethereum/tests/releases/tag/v6.0.0-beta.2) release, [here](https://www.reddit.com/r/ethereum/comments/9wyxmk/release_v600beta2_for_ethereum_consensus_tests/) the associated post on Reddit.

Since I fuddled around with this myself a bit, here some installation instructions, this should probably also be included in the documentation:

[code]

[2018-11-14 14:42] winsvega commented on #531
What submodule folder?

[2018-11-14 18:26] carver commented on #531
Depends on the project: https://github.com/ethereum/tests#clients-using-the-library

It's called `fixtures/` in trinity.

[2018-11-15 00:02] winsvega commented on #318
@holiman at this point we have difficulty checked even with NoProof rules in  a blockchain tests.
only genesis number > 0 is not implemented. do we really ned genesis to be > 0 ?
or could we stick to formula tests for that purpose? (https://github.com/ethereum/tests/blob/develop/BasicTests/difficultyConstantinople.json)

I think we dont really have to support genesis > 0  if we just check the diff

[2018-11-15 18:14] holiman commented on #318
I actually happened to look into that a while back, because I wanted to be able to run `evm` programs with `BLOCKNUMBER` correctly reproducing an on-chain event.
Turns out it was pretty difficult to implement. Cheating the genesis is easy, but then there are various internal invariants, that there is an unbroken chain of blocks all the way back to `0`, which makes the whole thing pretty unstable a

[2018-11-19 11:05] jwasinger commented on #541
Had originally opened this so that the test case could be bountied but @hugo-dc picked it up.

[2018-11-19 11:05] #541 closed, assigned to nobody

[2018-11-19 18:29] #540 closed, assigned to nobody

[2018-11-19 18:35] winsvega commented on #531
would be good to have a text file in test repo called changes.txt
so with each PR you manually add there descriptions of which test cases you covered with your PR.
then once a release bundle is constructed it reads changes from that file and combine them into an info.
like this:

[code]

But all those records you just add manually while commiting PRs to the test repo.
Then after release bundle, th

[2018-11-19 18:40] winsvega commented on #513
Sorry about that. This change is a part of prepearing existing test cases to be able to run as a blockchain tests.

I don't see this change added to the docs, although the issue is referenced in move docs PR.

[2018-11-19 18:43] carver commented on #531
We've discussed doing something like that in trinity (auto-generating the changelog from the merge commits since the last release). AngularJS does something similar, apparently.

It seems like it might be a good idea for trinity to do someday, but the reality is that it is very difficult to get contributors to write good, publicly-readable commit messages. (maybe even tougher to have them make man

[2018-11-19 18:50] winsvega commented on #531
Thats what I say. manually write changes to the file. but automatically mergeit to the change log.

[2018-11-19 18:50] winsvega commented on #531
and if I manage to get contributers to write testFiller.json files it should be easy to have them write reasonable change log entries.

[2018-11-20 16:29] fubuloubu commented on #118
Moving ABI specification and test suite to this org: https://github.com/ethabi

[2018-11-22 20:58] winsvega commented on #427
https://github.com/ethereum/tests/tree/develop/src/BlockchainTestsFiller/TransitionTests/bcByzantiumToConstantinople

[2018-11-22 20:58] #427 closed, assigned to nobody

[2018-11-26 22:18] winsvega opened #553 "Move touch simulation, difficulty and gas calculation - affected tests from State to Blockchain"
With NoProof now supporting Difficulty and BlockGasLimit calculation
some statetests that use difficulty or gaslimit opcodes must be moved into a blockchain tests.

**the issue**
I found out what was the issue with tests.
retesteth do not overwrite blockheader with difficulty and gaslimit while running the state test. it just set those arguments for genesis block and thats it. we have recently cha

[2018-11-26 22:57] ajsutton commented on #553
Pantheon is using option 2 - the 'env' section of general state tests is used to create a `BlockHeader` that provides the context for the transaction to execute in (https://github.com/PegaSysEng/pantheon/blob/5f8059d0559509042944488a611bcf554058d41a/ethereum/core/src/test/java/tech/pegasys/pantheon/ethereum/vm/GeneralStateTestCaseSpec.java#L39)

[2018-11-27 17:02] winsvega commented on #553
Misunderstanding.
Option 2 is about calculating 1st block difficulty and gasLimit from the values provided by env section
as if env section was a previous block. (genesis)

[2018-11-27 17:20] winsvega commented on #553
I found out what was the issue with tests.
retesteth do not overwrite blockheader with difficulty and gaslimit while running the state test. it just set those arguments for genesis block and thats it. we have recently changed noProof to calculate gasLimit and difficulty also. so when retesteth send a transaction it is executed in the next block where those arguments are already calculated / change

[2018-11-28 09:26] holgerd77 opened #555 "[Meta] Documentation Improvements"
I will use this issue to collect different ideas and work tasks for documentation update rounds. If you have ideas for improving the docs coming along with work on issues or PRs optimally make a note there and link to this thread.

[2018-11-28 09:32] holgerd77 commented on #555
Documentation Updates, next round:

- [x] Note on coinbase touch simulation, see [comment](https://github.com/ethereum/tests/pull/539#issuecomment-439998297)
- [x] Move test set sanitation [section](https://github.com/ethereum/tests#test-set-sanitation) from ``README`` to docs
- [x] Add some Yaml test example from @hugo-dc, see https://github.com/ethereum/tests/pull/543#issuecomment-442260739
- [

[2018-11-28 09:43] holgerd77 commented on #531
Good idea, I will directly create a PR with a collection of the previous release notes within a changelog file. I would then also abandon this release preparation concept of posting release note drafts here but directly open a PR with proposed finalized changelog entry against the changelog file. Then this gets in the normal review process and can be reviewed and approved by @winsvega or someone e

[2018-11-28 10:54] holgerd77 opened #556 "Remove PoW tests"
According to a [comment](https://gitter.im/ethereum/tests?at=5bfd8634cfa682348d931f6c) from @chfast on Gitter PoW tests have no great value and should be removed.

To make this super-transparent, I would suggest the following workflow (which can then be also applied to similar cases on a way to clean up the repository):

- We mark these tests as ``DEPRECATED`` in the next release
- Then this gets

[2018-11-28 11:38] chfast commented on #556
Yes.

[2018-11-28 11:42] holgerd77 commented on #556
Cool. 😄

[2018-11-29 19:23] ayrat555 opened #558 "add tests for truncated output in EVM subcalls"
[Our client](https://github.com/mana-ethereum/mana) is passing all common tests for all hardforks but it failed consensus because we didn't truncate subcall outputs when actual output size is bigger than out_size parameter

https://github.com/mana-ethereum/mana/pull/497
https://github.com/mana-ethereum/mana/pull/679

[2018-11-29 23:43] winsvega commented on #555
I think tests affected by coinbase touch simulation should be moved from state tests to blockchain
it is a blockchain logic and misleading to implement it on all state tests.

[2018-11-29 23:46] winsvega commented on #521
need a confirmation from Hive.
@holiman
if those cases are incorrect hive must detect it.

[2018-11-30 12:40] holgerd77 commented on #555
@winsvega yes, that probably makes sense. I will try to state this in the doc section that this is just the "how it currently is" and not the optimal situation and that this might change in the future.

[2018-12-07 14:25] chfast opened #564 "Shift tests"
I don't how to read https://docs.google.com/spreadsheets/u/1/d/1xat7UI8GtB4ZGVdlK5_XQSHJZaMThi4SrlcL8XMZb5Q/htmlview#, but this is my set of the following combination:

- values:
   - 0b0
   - 0b1
   - 0b101
   - 0b100000...
   - 0b101000...
   - 0b010101...
   - 0b101010...

- shift amounts:
   - 0
   - 1
   - 2
   - 254
   - 255
   - 256
   - 257
   - 0xfff...fff
   - 0xfff...ffe

This gives 7 *

[2018-12-07 17:15] veox opened #565 "Likely typo in badOpcodesFiller"
The [first opcode under test](https://github.com/ethereum/tests/blob/v6.0.0-beta.2/src/GeneralStateTestsFiller/stBadOpcode/badOpcodesFiller.json#L63) (`PC`) is of different pattern than the rest:

[code]

(Discovered in [analysis of improper `py-evm` operation](https://github.com/ethereum/py-evm/pull/1181#issuecomment-445290147).)

[2018-12-11 02:24] lithp commented on #556
I did a review of the major clients. As far as I can tell none of Geth, Aleth, Parity, Trinity, Harmony, or Mana run the PoW Tests. I might have missed something though, and there might be other clients which do use them.

I also wasn't able to find any usage of the ABITests or GenesisTests. It might be worth deprecating those at the same time?

[2018-12-11 02:24] lithp commented on #556
Pulling in [a comment from gitter](https://gitter.im/ethereum/tests?at=5c07d259f4880a60a22e3f4d):

[2018-12-11 09:48] holgerd77 commented on #556
Ah, a bit embarrassing, but we are using these tests actually as well ourselves [here](https://github.com/ethereumjs/ethashjs/blob/master/tests/ethash.js#L6) in the ``ethashjs`` library, just looked it up, lol. 😛

Ok, then let's leave the tests.

I'll take this experience as a sign that is is indeed super necessary to go through this deprecation process and not just delete stuff, various potential

[2018-12-11 14:13] winsvega commented on #438
will ``` (EXTCODECOPY  0x0945304eb96065b2a98b57a48a06ae28d285a71b5 1 0x010000000000000000000000000000000000000000 5000) ```  cover this case?
@chfast

[2018-12-11 14:40] chfast commented on #438
Yes, thank you.

[2018-12-11 14:43] winsvega commented on #558
this? https://github.com/ethereum/tests/pull/567

[2018-12-11 15:03] winsvega commented on #438
https://github.com/ethereum/tests/pull/567/commits/f427fd33fd42234c09ffcbdffbfe2ff56cb51cf2

[2018-12-11 17:42] ayrat555 commented on #558
@winsvega  the problem was in `reverted` operation output. does your PR test a reverted subcall's output?

[2018-12-11 19:01] winsvega commented on #558
you mean when a subcall revert return more then subcall return expect?

[2018-12-11 19:07] winsvega commented on #558
I've updated the test case. could you check that it hits your bug?

[2018-12-11 23:34] carver commented on #565
I assume @lithp already saw this, but cc'ing just in case...

[2018-12-12 16:55] winsvega commented on #565
@jwasinger

[2018-12-12 17:01] winsvega commented on #564
is it correct for the first iteration?

[code]

what `...` at the end means?

[2018-12-12 17:13] chfast commented on #564
The `0b` means the binary notation (as in C++).
The `...` means to repeat patterns or zeros. E.g. `0x101000,,,` means to add zeros up to 256 bits so only the most significant and 3rd significant bits are 1, rest is 0. For `0b01010101...` means to repeat `01` pattern to the end. In hex it is all 5s: `0x55555...55555`.

[2018-12-12 17:14] chfast commented on #564
Yes.

[2018-12-12 17:40] winsvega commented on #564
well then it means I have to first  convert 0b0 to hex and then pass to the code.

0b0   -> 0x0000000...000000   (32 bytes)
0b1   -> 0x0000000...000001   (32 bytes)
0b101 ->  0x00000...0000005  (32 bytes)
0b100000..  ->  0x80000000...00000000  (32 bytes)
0b101000...  -> 0xa0000000...00000000  (32 bytes)
0b010101...  -> 0x55555555...55555555  (32 bytes)
0b101010..   -> 0xaaaaaaaa...aaaaaaaa  (32 by

[2018-12-12 18:46] chfast commented on #564
Yes. Typo: ~~6~~5.

[2018-12-13 16:39] winsvega commented on #493
https://github.com/ethereum/tests/pull/569

could not really test codecopy of empty code. I've put codecopy into contract init code maybe this count.

[2018-12-17 21:40] lithp opened #570 "Document "ByzantiumToConstantinopleAt5""
#547 added the undocumented "ByzantiumToConstantinopleAt5" network. This, and other networks, should make an appearance in the documentation.

[2018-12-17 23:04] lithp commented on #531
It's time for the third release!

I've opened #571 which adds a CHANGELOG, and I've also made a draft release, here are the release notes:

This is the third release, which can be used to reference a static snapshot of the tests within your library.

### Potentially breaking changes

- #547 requires your integration to understand the network `ByzantiumToConstantinopleAt5`, which is analogous to ex

[2018-12-18 01:54] winsvega commented on #531
this looks really great! now we could track and refere to a specific pr and tests that covered a specific issue and such much easier. thanks!

but please note that this are not all tests we have merged for constantinople.

[2018-12-18 01:58] lithp commented on #531
Thanks!

By this, do you mean that you want me to add a note saying that these are not all the Constantinople tests, just the ones added during this release cycle? Or do you mean that more tests were added during this cycle and I missed them when making these notes?

[2018-12-18 13:39] winsvega commented on #531
I mean there will be more before the hardfork

[2018-12-18 14:32] #493 closed, assigned to nobody

[2018-12-18 16:32] winsvega commented on #564
https://github.com/ethereum/tests/pull/574
by iterating
[code]

if got this:

[code]

[2018-12-18 20:17] lithp commented on #531
Dropping a link to https://github.com/ethereum/py-evm/issues/1587, there are some good comments in there on ideas for what a changelog should look like.

[2018-12-18 23:07] lithp commented on #531
@winsvega I added a longer description to the release:

and published it here: https://github.com/ethereum/tests/releases/tag/v6.0.0-beta.3

[2018-12-18 23:08] lithp commented on #531
I also updated https://github.com/ethereum/tests/pull/571, please merge it when you get a chance :)

[2018-12-19 00:51] lithp opened #575 "Document expectExceptionALL"
This key is not documented. Client developers would have an easier time understanding test failures if they knew what this key meant.

[2018-12-19 00:55] lithp commented on #575
For example: `ExtraDataIncorrect` means that [this exception](https://github.com/ethereum/aleth/blob/master/libethcore/SealEngine.cpp#L98) occured while processing the block.

[2018-12-19 02:03] winsvega commented on #531
Please notify me if you need specific commit description for auto changelog script. Cause right now I just type a few words in commit title.

[2018-12-20 11:58] chfast commented on #564
Something is wrong. The first value is 0, so the first 9x3 slots should be all zeros.

[2018-12-20 13:56] winsvega commented on #564
here with more debug information:
https://justpaste.it/7cwy4

first line is which opcode was called prefixed by 0x100000
then first argument
second argument
result

zero result is skiped

first few lines:
(0x80 stands for argument 0)
[code]

[2018-12-20 13:59] winsvega commented on #564
looks like sar (0, 2) return 2   `lll (SAR 0 2)`

[code]

could it be argument order misinterpretation? Just in case I rewrite test to run each values with each amount  and vice versa.

[2018-12-20 14:59] chfast commented on #564
There is the arguments swap in `lll`. Shift opcodes are using different argument order than in SUB, DIV, etc.

[2018-12-20 15:04] winsvega commented on #564
so is this looking ok?
https://github.com/ethereum/tests/pull/574/commits/bfe523ccf1babebf610ed727e6eab42ed004c010#diff-9b911bce8130192f701b7c1f32f8a755R2038

[2018-12-20 15:07] chfast commented on #564
Yes, because it's `0 >> 0xaaaaa....`.

[2018-12-20 15:27] chfast commented on #564
LLL issue reported: https://github.com/ethereum/solidity/issues/5714.

[2018-12-20 15:32] winsvega commented on #564
good. that means that implementation is correct anyway. I will just recompile the test after lll is fixed.

[2018-12-20 15:48] axic commented on #564
LLL is not broken, `(shl x y)` is a macro, doesn't even use the opcode. Just use assembly or assembly in LLL: `(asm shl x y)`

[2018-12-20 15:55] winsvega commented on #564
`(SHL x y)` is different from `(SSTORE x y)`  ?

[2018-12-20 16:01] axic commented on #564
Of course, one of them does shift, the other does sstore.

[2018-12-20 18:19] winsvega commented on #564
I mean in the way how lll is putting arguments in the stack

[2018-12-20 19:16] axic commented on #564
There is this list of "builtin" macros: https://github.com/ethereum/solidity/blob/develop/liblll/CompilerState.cpp#L45

If the keyword is matched, such as `shl`, it uses this, otherwise it tries to use it as an "assembly instruction".

[2018-12-21 03:36] lithp commented on #531
Sure thing @winsvega :+1:

I don't have strong opinions on commit message titles for now. I made this release by going through all the PRs and reading their descriptions. As long as all commits go through a PR and they include some kind of description of what they're doing (preferably in a comment in the filler) these notes will be pretty easy to generate.

[2018-12-21 06:19] winsvega commented on #531
Are there any preferences for github merge type? (Merge commit, rebase commit, ..)
I just push merge. By default it seems to create merge commit

[2019-01-10 11:05] holgerd77 commented on #555
Client installation instructions should be added to the docs as well (added the task to the list above), just had to look this up myself here again for `ethereumjs-testing` library update. 😛

[2019-01-15 19:19] chfast opened #581 "Make proper test out of stBugs/randomStatetestDEFAULT-Tue_07_58_41-15153-575192.json"
Hi,

The stBugs/randomStatetestDEFAULT-Tue_07_58_41-15153-575192.json description says

"suicide-created-but-empty account has a non-zero codehash in geth".

It is the only test for this case. It would be good to create a manual state test for the CODEHASH of a "suicide-created-but-empty account".

[2019-02-11 01:15] danjm opened #584 "Possibly incorrect assertion of validity of transaction RightVRSTestF0000000a test"
In my work on adding full support for spurious-dragon to `ethereumjs-tx`, I have come across a handful of transaction tests that claim to be invalid for spurious dragon and later while the properties of the tested tx seem to be valid.

For instance, https://github.com/ethereum/tests/blob/develop/TransactionTests/ttRSValue/RightVRSTestF0000000a.json + https://github.com/ethereum/tests/blob/develop/

[2019-02-12 14:19] chfast opened #585 "Extend call_then_call_value_fail_then_returndatasize"
The test call_then_call_value_fail_then_returndatasize checks interesting case where return data buffer should be cleared even if a call fails quickly by insufficient funds. The same case can happen for CALLCODE and CREATE but are not tested.

[2019-02-13 12:36] Bhargavasomu opened #586 "JSON RPC Tool"
Since we decided to move from `Aleth` to a generic test generation process, we decided on the
`JSON RPC Testing Tool`.
* Should the development of this tool be in a separate repository or in this repository itself? (Like something similar to `Dopple`).
* Some Consensus algorithm could be deployed on the outputs of the `JSON RPC` results from the different clients we are supporting. So ideally, thi

[2019-02-13 12:37] Bhargavasomu commented on #586
/cc @pipermerriam @holiman @winsvega @cdetrio

[2019-02-13 15:05] winsvega commented on #586
I continue on developing this tool.

https://github.com/ethereum/retesteth/
https://github.com/ethereum/retesteth/wiki/RPC-Methods

It basically read json Filler files and run it through RPC using `test_` RPC methods.
Any client could be configured to work with retesteth.
Retesteth could run / generate tests using the client and test Fillers.

[2019-02-13 16:38] pipermerriam commented on #586
cc @wtf

[2019-03-02 17:13] norhh opened #589 "Reason for no post in sstore_load_2 and jumpTo1InstructionafterJump"
In the tests VMTests/vmIOandFlowOperations/sstore_load_2.json and VMTests/vmIOandFlowOperations/jumpTo1InstructionafterJump.json there is no post state, is there any reason for that?

[2019-03-16 17:14] jleni commented on #556
Trying to catch up and understand the long term plan.
Does it make sense that I look at adding Clique (PoA) as another engine and generate tests for this?
How are most implementations testing Clique if it is not through the json files provided here?

[2019-03-16 17:46] chfast commented on #556
Not relevant, @jleni,
These tests only check PoW mining and verification which PoA obviously does not have.

[2019-03-23 21:21] winsvega commented on #565
status: trying to reach. jwasinger.
but probably a typo. looks like a push instruction should be there

[2019-03-23 21:24] winsvega commented on #488
need to come up with a fork naming procedure.
renaming forks retrospectively is a bother.
https://github.com/ethereum/EIPs/pull/1848

[2019-03-23 21:26] winsvega commented on #521
test renamed to `RevertOpcodeInCreateReturnsCreate2` and refilled

[2019-03-23 21:26] #521 closed, assigned to nobody

[2019-03-23 21:27] #564 closed, assigned to nobody

[2019-03-23 21:31] jwasinger commented on #565
hey... my apologies.  Let me get out a fix for this.

[2019-03-23 21:32] winsvega commented on #584
you mean geth will accept a transaction with such V - value on a mainnet ?

[2019-03-23 21:34] winsvega commented on #553
fixed some gasLimit issues in general state tests. it appears to be that all tests has gasLimit change if run as a blockchain. but only a few tests rely on that chagne in a post condition. therefore most tests could be fixed. but some still need to be moved.
https://github.com/ethereum/tests/pull/590

[2019-03-23 21:48] winsvega opened #591 "StateTests: change post hash calculation"
The ongoing RPC test run development require to run GeneralStateTests as if it was a blockchain test. because this is a correct way to simulate a state change. (setup state in the chain. send transaction to the client with that state. see the result. a transaction result is finalized in the block)

**The issue:**
All General State Tests has poststate hash field having a hash of state calculated wi

[2019-03-24 00:56] jwasinger commented on #565
https://github.com/ethereum/tests/pull/592

[2019-03-24 07:23] holiman commented on #591
No please don't change the tests again.  You already did once, and gst is NOT a blockchain test, if if made into one it becomes less. Avoid, please

[2019-03-24 09:58] winsvega commented on #591
Another option would be to make test tool being able to calculate hash of state itself. (Means it should know how to construct state trees and stuff) which I think is not a good option for the test tool.

Changing the state tests hash filled would not affect hive.

[2019-03-24 09:59] winsvega commented on #591
I would actually want to depricate State Tests in a move towards a uniformed test format

[2019-03-24 15:46] holiman commented on #591
I know you do. Imo that's like deprecating unit tests and replacing with integration tests. The latter cannot possibly test everything the former can. Both have a place.

[2019-03-24 15:47] holiman commented on #591
At least if you want to replace statetests with blockchain tests only

[2019-03-24 15:59] winsvega commented on #591
It kind of already replaced. Hive run blockchain tests only. Currently the issue is that via rpc tool I could not generate a state test, because via rpc its being run as a blockchain transaction with mining rewards. I could extend the state tests with additional hash of a state with mining reward, but that I could only generate with testeth.

[2019-03-24 16:09] holiman commented on #591
Hive is a end to end integration test. It cannot test everything, that's why other test formats are required, other than blockchain tests.

[2019-03-24 17:47] winsvega commented on #591
**The solution 2**
(Filled) State Tests are only supported by testeth and get deprecated as testeth.
All tests are updated in blockchain format by rpc filling tools.

[2019-03-24 18:47] holiman commented on #591
In converting state tests to block tests, some lose their meaning. We've been over this...

[2019-03-25 09:15] chfast commented on #591
I'm also not convinced. The state tests are already bad for EVM testing because they require at least Trie and RLP implementations. Please do not add PoW to that list.

[2019-03-25 11:57] winsvega commented on #591
what do you mean? I am not speaking about PoW. only the mining reward to the coinbase account (it is neglected in state tests. thus post state hash is different from blockchain analog of a test)

[2019-03-25 17:31] winsvega opened #593 "Convert VMtestFillers into StateTestFillers"
vmtests are depricated, however having all test cases in state tests is good.
state tests then also get depricated but the state test fillers not. fillers could be converted into blockchain tests.

https://github.com/ethereum/tests/pull/470