[2019-04-24 12:52] winsvega commented on #591
at the current state. retesteth could not generate stateTests. or run stateTests. because such test does not has postHash with rewards. running state tests as blockhain is impossible on the fly (need to convert to blockchain test first)

[2019-04-24 12:52] #591 closed, assigned to nobody

[2019-05-09 16:53] jacekv opened #596 "Question regarding test/trieanyorder.json "hex""
Hi, I am currently implementing my own trie and I am testing it against your test data. I am not really sure where I can ask a question regarding this so I am going to do it here.

My implementation is having a problem when it comes to the "hex" test cases. I am wondering if I am misunderstanding there something.
What does the hex value represent? Is it just a hex string?
0x0123456789 Could be als

[2019-05-14 09:37] jacekv commented on #596
The problem has been solved :)
It actually works the same way. In case the key is a hex string, remove the 0x and transform the rest into nibbles. All fine. In case the value is a hex value, I just used `bytes.fromhex(value)` without the 0x in python. That worked like a charm too :)

[2019-05-14 09:37] #596 closed, assigned to nobody

[2019-05-16 11:32] veox commented on #565
Closing, as PR #592 has been merged.

[2019-05-16 11:32] #565 closed, assigned to nobody

[2019-05-22 14:48] chfast opened #597 "Coverage of EVM by state tests"
I have run state tests on [evmone](https://github.com/chfast/evmone).
There is the report: https://codecov.io/gh/chfast/evmone/src/a4c5403f282a32de0fa0cc9ad7923858f21fae76/lib/evmone/execution.cpp
([PR](https://github.com/chfast/evmone/pull/60) for tracking updates).

Tests revision: https://github.com/ethereum/tests/commit/5018b8f30e9e57a0d136ed40bc6ceab51b61e144.

[2019-05-22 14:54] axic commented on #597
Relevant #459 and https://github.com/ethereumjs/ethereumjs-vm/pull/270#issuecomment-362871486

[2019-06-28 11:36] winsvega opened #604 "Split stBad Opcodes test"
Split huge data set into several smaller tests ordered by opcode.
Single test is executed on one thread. Splitting tests with many transactions increase multithread performance

[2019-07-12 20:17] acoglio opened #611 "Test format check failure in just-cloned repo."
I just cloned the repo and `make RLPTests.format` results in a `git diff` error. The `.json` files under the `RLPTests` directory show up as modified.

Have I missed some steps? I followed the instructions under 'Test Set Sanitation' at https://github.com/ethereum/tests.

Background: I'd like to make a PR with some new RLP tests and I understand that I should ensure that the sanitation tests pass

[2019-08-06 15:04] winsvega commented on #553
resolved with
https://github.com/ethereum/tests/pull/607

apart from touch simulation

[2019-08-06 15:04] #553 closed, assigned to nobody

[2019-09-01 16:58] winsvega commented on #611
Oh. I don't support this scripts. And it is probably way outdated. Also would not recommend using this scripts for the test filling. Consensus test execution is a separate tooling. Currently there is `testeth` from `aleth` to run most of this tests.

To check RLP tests:
[code]

Another project to run consensus tests against different client implementations:
https://github.com/ethereum/retesteth

[2019-09-01 17:00] #586 closed, assigned to nobody

[2019-09-01 17:01] winsvega commented on #531
Are this releases still supported?

[2019-09-01 17:08] winsvega commented on #463
I have sealed all the tests for networks <= Constantinople into LegacyTests  folder. Those tests are no longer need to be refilled. Only to execute (using retesteth -t LegacyTests)

A test must be refilled if the hash of a filler file is changed. That usually means that something in the postCondition section of the test has changed. New fork expectations added or some changes to the pre state.

I

[2019-09-01 17:08] #463 closed, assigned to nobody

[2019-09-01 17:10] winsvega commented on #556
sub protocol implementations tests could potentially be added to rpc debug methods. so this tests could be run with a universal test tool: https://github.com/ethereum/retesteth/wiki/

[2019-09-01 17:10] #556 closed, assigned to nobody

[2019-09-01 17:21] winsvega commented on #417
fixed with latest testeth and retesteth

[2019-09-01 17:21] #417 closed, assigned to nobody

[2019-09-01 17:25] winsvega commented on #488
the actual fork names for setChainParams could now be configured with retesteth configs.
https://github.com/ethereum/tests/tree/develop/Retesteth/default/genesis

so the test repo could use existing names

[2019-09-01 17:25] #488 closed, assigned to nobody

[2019-09-01 17:29] winsvega commented on #227
moved to https://github.com/ethereum/tests/blob/develop/src/BlockchainTestsFiller/ValidBlocks/bcStateTests/OverflowGasRequireFiller.json

should be changed to check that the transaction is actually rejected with an error code.

[2019-09-01 17:29] #227 closed, assigned to nobody

[2019-09-01 17:32] winsvega commented on #377
this is the issue for a script to execute tests using js test runners.
test runners outdated and removed.

[2019-09-01 17:32] #377 closed, assigned to nobody

[2019-09-01 17:49] winsvega commented on #503
any updates?

[2019-09-03 12:27] germsvel commented on #503
@winsvega I never opened an issue on https://github.com/ethereum/yellowpaper for this. I think I misread your answer back in October of last year, and I thought we weren't sure what would be the best place to fix this. Looking back at it now, I see the "yes" there.

I haven't dealt with ethereum in a little while. @ayrat555 would opening an issue for the yellow paper be something you'd be willing

[2019-09-03 15:10] winsvega commented on #503
I am quite busy with tests right now. if there is smth we should do about this issue please tell, otherwise could just close.

[2019-09-03 15:52] #503 closed, assigned to nobody

[2019-09-05 09:48] axic commented on #488
What is the resolution? I'm still much in favour of @pipermerriam's proposal, was it implemented?

More specifically I think the test suit should always use the "codename" from the hardfork metas:
- homestead
- daofork
- tangerine whistle
- spurious dragon
- byzantium
- constantinople
- petersburg
- istanbul
- berlin

So basically rename:
- EIP150 -> TangerineWhistle
- EIP158 -> SpuriousDragon
- C

[2019-09-08 13:52] winsvega commented on #488
It doesn't really matter cause the tests are like closed eco system. Clients could not to care about this.

[2019-09-08 13:59] axic commented on #488
Tests aren't a closed ecosystem, since every client supposed to run them. I'm confused by this.

[2019-09-08 20:39] holgerd77 commented on #488
Yes, I would also very much suggest to still do this, doesn't need to be now in the current `Istanbul` stress - but at least mid-term after dust from `Istanbul` has settled.

[2019-09-08 21:03] pipermerriam commented on #488
I think it should be done now if it's going to happen (which I'm in agreement that it should).  All of the clients are or have recently been updating their test suites so this one extra name change should be an easy extra change for them to make.

[2019-09-08 21:16] winsvega commented on #488
'''
Tests aren't a closed ecosystem, since every client supposed to run them. I'm confused by this.
'''

Retesteth read tests and execute with chainparams. Chainparams could be configured on for any client separately with retesteth. Clients don't have to parse the tests. Therefore tests does not interact eith the clients directly. Hive do the same.

[2019-09-08 21:16] winsvega commented on #488
''
All of the clients are or have recently been updating their test suites so this one extra name change should be an easy extra change for them to make.
'''
Not for the legacy tests folder

[2019-09-09 11:27] axic commented on #488
Agree. It was postponed last year for the same reason. And it will be postponed again if it is not done :wink:

[2019-09-09 11:28] axic commented on #488
@winsvega clients don't use retesteth to run tests. Retesteth was only supposed to be used to generate the tests. There are some clients which don't even have RPC support, such as ethereumjs, yet they run the tests.

[2019-09-09 11:55] holiman commented on #488
I totally agree that we should _not_ consider retesteth a replacement for actually running tests in client-specific test harnesses. In those cases that clients do implement retesteth, it can replace it somewhat. However, most clients, I would assume, run statetests in their CI flows, and use whatever testing infrastructure their platform supports. For go, it's `go test`, which does not lend itself

[2019-09-09 15:12] pipermerriam commented on #488
@winsvega I think the hanging question is where you stand.

- `-1` you are opposed and we need to come to agreement to move forward
- `-0` you are opposed but you'll go with whatever group decides
- `+0` you are in favor but you'll go with whatever group decides
- `+1` you are strongly in favor and we need to come to agreement to move forward

If we can move forward then either you can make the ne

[2019-09-09 16:11] winsvega commented on #488
-1
The renaming will require to change testeth/retesteth and to regenerate the legacy tests. I don't want to touch and change any of legacy tests so not to break anything in it.

Especially if that tests could be executed by hive/retesteth with any fork names replaced by config scripts

[2019-09-09 17:09] pipermerriam commented on #488
Thanks @winsvega

I'm happy to respect that decision.  I'll consider this issue closed as "wontfix".  :+1:

[2019-09-09 17:11] axic commented on #488
Why is there a need to regenerate anything? Cannot this be done with a simple sed script?

[2019-09-09 18:52] winsvega commented on #488
all tests have source and verified by source hash.
although.. you could replce the name in already generated test while not touching the source but that would be like a hardfork for any test tool. an exeption rule in a code. I don't really get why is it so crucial, if you have your own test tool you could just parse the test whatever you like

[2019-09-17 12:25] MrChico opened #637 "BlockchainTests format changed"
With https://github.com/ethereum/tests/commit/f386934ce509fa0a4dbd1c68421b3361b01b2efa (and the corresponding deletion https://github.com/ethereum/tests/commit/f11c47462ffc48203b8b588ab35e9ccb3cc79e04#diff-1a427fc3f925eef4e65fb0650dc712f7 ) the format of the `transactions` in BlockchainTests changed, from signed to unsigned.

Was this breaking change was intended? It has rendered both https://gith

[2019-09-17 13:44] dvdplm commented on #637
Parity also expect `r, s, v` to be present, and considers `secretKey` optional. See https://github.com/paritytech/parity-ethereum/blob/d311bebaeee3793dc2aa433dbe060fe4c873367f/json/src/transaction.rs#L38-L43

We can work around that particular quirk by changing the parsing code, but there seems to be other problems with the recent updates.

[2019-09-17 14:02] dvdplm commented on #637
Another issue is that some tests seem to have change the format of `postState` to be a hash (?) rather than a map, e.g. [this](https://github.com/ethereum/tests/blob/f386934ce509fa0a4dbd1c68421b3361b01b2efa/BlockchainTests/GeneralStateTests/stRecursiveCreate/recursiveCreateReturnValue.json#L45) and [this](https://github.com/ethereum/tests/blob/f386934ce509fa0a4dbd1c68421b3361b01b2efa/BlockchainTes

[2019-09-17 14:31] holiman commented on #637
:+1: on that -- If poststates are too large, then it would be better to add a new field `postStateHash` instead of changing a `map` to a `string`. However, it seems kind of moot, since the `postStateHash` obivously is identical to the `stateRoot` of the last successfull block. E.g. https://github.com/ethereum/tests/blob/f386934ce509fa0a4dbd1c68421b3361b01b2efa/BlockchainTests/GeneralStateTests/stR

[2019-09-17 14:34] holiman commented on #637
Anyway, the `postState` for blockchain tests are moot in general, and can be ignored. They only serve to validate that the test itself is correctly generated (has expected stuff).

A client actually running the test need only verify the lastBlockhash after importing the rlp:ed blocks.

[2019-09-18 05:48] FrankSzendzielarz commented on #637
Had the same issue in Hive. Patched by ignoring poststate. IMO this is an error in the data format that needs correcting as the tests now adhere to differing types of metadata.

[2019-09-18 06:40] dvdplm commented on #637
Debugging failing tests is a significant time sink so I think keeping the data format as simple as possible to parse is valuable.

[2019-09-18 09:24] holiman commented on #637
Geth also chokes on the change:
https://travis-ci.org/ethereum/go-ethereum/jobs/586074502#L587

[2019-09-18 10:25] winsvega commented on #637
You don't need to parse the transaction in blockchain tests. That field is for humans. All you do is import block rlps one by one and compare the lastblockhash.

All other fields are just supplementary. Huge post state was replaced by hash because validation/retrival of it over RPC during test generation takes way too much time

[2019-09-18 10:27] FrankSzendzielarz commented on #637
@winsvega Actually the problem is that the poststate for most tests was not replaced, resulting in an inconsistent data format. In the Blockchain tests folder only about 5 or 6 files exhibit the new format.

[2019-09-18 10:28] winsvega commented on #637
For the debugging the idea is to use retesteth + new rpc method of evm trace.
Using 2 clients retesteth could detect a particular byte instruction on which clients go different paths.

[2019-09-18 10:29] winsvega commented on #637
Only huge post states are affected. Smaller post states kept in the tests for debug.

[2019-09-18 10:30] FrankSzendzielarz commented on #637
Sure but now we have two incompatible data types. It's patched in Hive by ignoring poststate completely, but now we have a test suite with tests that have differing formats.

[2019-09-18 10:31] winsvega commented on #637
I think the test repo needs master branch of stable consensus test format.

[2019-09-18 10:31] FrankSzendzielarz commented on #637
Ah I see. It's a Develop branch.

[2019-09-18 10:34] winsvega commented on #637
So having a field with multiple allowed formats is difficult in other parsers?
Should it be deleted then?

[2019-09-18 10:35] winsvega commented on #637
There is no master branch currently

[2019-09-18 10:38] FrankSzendzielarz commented on #637
Yes unmarshalling from JSON is usually automated based on some strong type, and it's not always easy to declare a field as something abstract over both string and array type. The existing unmarshaller (deserialiser) in Hive was expecting a target type of array. The fix for me was to ignore the field as it is irrelevant for Hive, but I don't know if that is always the case for others. I think yes t

[2019-09-18 10:38] MrChico commented on #637
I think clients should be able to make their own decisions in how they run these tests. RPC support should not be a prerequisite for running these tests. Indeed, `hevm` and `KEVM` do not have particularly extensive rpc support, they are only implementing an EVM.

[2019-09-18 10:43] winsvega commented on #637
Well at least someone must support evm trace dump feature. The problem would be to store it. The dump is too huge for the test repo

[2019-09-18 11:03] winsvega commented on #637
Also a scheme is like this

TestParserTool -rpc-> Client -lib-> EVM

And yes. Having multiple test parser tool should be safer in case one of them get a bug you could validate it with another.

[2019-09-18 11:58] MrChico commented on #637
According to the documentation [here](https://ethereum-tests.readthedocs.io/en/latest/test_types/blockchain_tests.html#test-implementation)

and [here](https://ethereum-tests.readthedocs.io/en/latest/test_types/transaction_tests.html#sections)

clients implementing these tests are meant to verify transactions (given with `r,s,v`) against the RLP.

Is this no longer the case? If so, this documentat

[2019-09-18 12:36] winsvega commented on #637
This actually not required. Cause rlp already has signed transaction. You could verify the fields if you wish.

Is the issue that transactions with priv key instead of vrs got into blockchain?

[2019-09-18 12:38] MrChico commented on #637
That's one issue where the current head diverges from the documentation and the previous versions of this repo, yes

[2019-09-18 18:29] dvdplm commented on #637
At Parity we're currently blocked by the format changes to `postState`. Needed or not, the way we're running the tests requires `postState` to be a map or all tests are aborted. We can:

1. halt work on updating the tests until this format discussion comes to a conclusion and pick back up when the dust settles
1. refactor our code to skip invalid JSON (e.g. where `postState` is not a map)
1. refac

[2019-09-18 20:43] winsvega commented on #637
The huge post state could not be generated via rpc. So options are

1) support both hex and jsobject for the post state field
2) make the field optional and do not place the field if state is too huge
2.a) add explicit field when post state is not present. Such as poststatehash.

[2019-09-18 20:44] winsvega commented on #637
The workplan:

Make master branch for tests repo
Update private key transactions to vrs if such transaction only produced by retesteth
Come to consensus on huge post states in bc tests

[2019-09-19 11:45] dvdplm commented on #637
For my part I don't have a strong opinion but I do think we should pick a path forward asap. A slight preference for 1, "support both hex and jsobject for the post state field".

Just to make sure I understand you correctly: the purpose of this is to have a "stable" branch where breaking changes occur only after due process (whatever that ends up being)?

[2019-09-19 11:50] winsvega commented on #637
@dvdplm @FrankSzendzielarz

select the option:   (I am up for 2/3)
1) remove postState if its huge replace with postStateHash
2) put hash into postState if state is too huge  (current version)
3) put hash into postState like this postState: {   "hash" : "0x0123abc..."   } instead of full state map. for a huge state

master branch for releases, yes.

@MrChico
the tests would be updated not to have

[2019-09-19 11:57] holiman commented on #637
I am in favour of option 1.
I don't particularly like option 3, since currently geth expcets the key-value in postState to be a map, so putting non-hex 'hash' in there complicates things.

Why not use option 1? Instead of changing anything (aside from dropping `postState` in some tests), just introduce a new field.

EDIT: note, though, that as I've expressed before, I don't really see any reason t

[2019-09-19 12:25] winsvega commented on #637
A new field would be for debug. So you don't have to look manually and seek for state root in corresponding block.

Didn't get what geth expects and why putting json object with hash is not an option

[2019-09-21 18:19] winsvega commented on #637
check out the tests in https://github.com/ethereum/tests/pull/639

[2019-09-21 18:19] winsvega commented on #611
https://github.com/ethereum/tests/pull/631

[2019-09-21 18:19] #611 closed, assigned to nobody

[2019-09-21 18:24] dvdplm commented on #637
It is not easy to review PRs that large. Can you perhaps provide a description of what the relevant changes are on the PR with pointers to help reviewers?

[2019-09-21 19:26] holiman commented on #637
Ok, I updated the PR for geth: https://github.com/ethereum/go-ethereum/pull/20082  -- let's see how Travis feels about the tests

[2019-09-21 20:26] winsvega commented on #637
by check out I mean run your client against tests on that branch.
the GeneralStateTests

[2019-09-21 20:49] holiman commented on #637
Yes, but that's what travis does :)

[2019-09-21 21:42] winsvega commented on #637
hm?
well theoretically I can configure the geth + retesteth to be built by travis and check the tests. however since I do this manually I dont relly need this )

however other client test tools sometimes report issues. for example this blockchain format change I was not aware of.

[2019-09-21 22:59] #604 closed, assigned to nobody

[2019-09-23 10:01] holiman commented on #637
Still getting errors:
[code]

[2019-09-23 11:06] MrChico commented on #637
I believe `geth` expects a map of addresses in postState, not a string. If we are doing a hash of the poststate it should be in a field with a different name, like option 1) above

[2019-09-23 12:07] voith commented on #637
Since the format for `postState` is not the same in all tests, I had to make the following change in `py-evm`: https://github.com/ethereum/py-evm/pull/1852/files#diff-c612162bc50e8ecd75eec2251fa6ae5dR378-R381.
Will this issue be fixed?

[2019-09-23 12:14] winsvega commented on #637
So about postState a solution:

1) if postState exist, it contains account map (as it wad always)
2) if it doesn't exist the postStateHash field must be defined instead with the hash of a huge state (json string) (account map is to huge to print to the test case)

Agreed?

[2019-09-23 12:14] holiman commented on #637
@MrChico yes, exactly. As Frank put it:

[2019-09-23 12:16] holiman commented on #637
Yes, works for me. Although I don't care about bullet 2, we will just ignore it, but that's fine too

[2019-09-23 12:31] FrankSzendzielarz commented on #637
As an aside, we could also consider some kind of open standard metadata format and version the tests, in order to avoid such problems in future and perhaps help with onboarding. Right now I think the test metadata is implicit?

 _For example_, we could define a GetTests OpenAPI method that could be used against Swagger codegen to generate the test objects in the language of preferred choice, and m

[2019-09-25 08:17] holiman commented on #637
@winsvega are you going to fix this or are we going to have to work around it ?

[2019-09-25 08:24] winsvega commented on #637
Going to fix. BCGeneralStateTests already fixed.

[2019-09-25 12:04] winsvega commented on #637
BlockchainTests fixed.

[2019-10-06 00:01] #637 closed, assigned to winsvega

[2019-10-07 03:40] #118 closed, assigned to axic

[2019-10-08 02:44] #119 closed, assigned to nobody

[2019-10-17 12:32] veox opened #644 "`ByzantiumToConstantinopleFixAt5` transition does not check that it's actually a transition to Petersburg"
Fallout from https://github.com/ethereum/py-evm/pull/1858#pullrequestreview-301910619.

`py-evm` was erroneously transitioning to `Constantinople`, not `Petersburg` (a copy-paste error).

The test that checks the transition [doesn't seem to have anything `Petersburg`-specific](https://github.com/ethereum/tests/blob/v7.0.0-beta.1/src/BlockchainTestsFiller/TransitionTests/bcByzantiumToConstantinople

[2019-10-21 19:09] evertonfraga opened #645 "CircleCI misconfiguration leads to inaccurate test reporting"
Github shows that some tests have failed, but digging just a bit, I found that an empty circleCI build is causing it. Maybe it can just be turned off for now?

Is there any plans to port travis over to circleci?

Cheers!

https://circleci.com/gh/ethereum/tests/93?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

![image](https://user-images.githubusercontent.com/4

[2019-11-03 16:38] winsvega commented on #645
I would love to. I can't figure out how. looks like this issue pops up only from my PRs

[2019-11-03 16:41] winsvega commented on #644
You right. the initial test was done to see the difficulty bomb change from Byzantium to Constantinople
and the mining rewards + uncle rewards.

the solution is to add more sstore operations to this test

[2019-11-05 08:56] chfast opened #652 "Add more tests for EXTCODEHASH of "empty""
Related to https://github.com/ethereum/EIPs/pull/2144.

### Test cases

1. CALL an nonexistent account, then get EXTCODEHASH of it.
2. CREATE empty account, then get EXTCODEHASH of it.
3. CALL an account which will SELFDESTRUCT, then get EXTCODEHASH of it.

[2019-11-05 16:11] evertonfraga commented on #645
Correct, it only pops up for your own PRs. CircleCI does not build from external forks by default.

You can disable it by heading to repo settings, `Webhooks and Services`, and delete the CircleCi webhook.

cheers!

[2019-11-07 19:33] gumb0 opened #653 "retesteth alethIPCDebug: don't hardcode absolute path to the socket"
https://github.com/ethereum/tests/blob/59490b4fbcfc8cf2279029146193b252a2432b7e/Retesteth/alethIPCDebug/config#L4

This works only for wins.

[2019-11-08 20:38] winsvega commented on #653
You supposed to change it to your local path.

[2019-11-08 20:39] winsvega commented on #645
Should be fixed now

[2019-11-08 20:40] evertonfraga commented on #645
Great! :)

[2019-11-08 22:44] winsvega commented on #652
@chfast check the tests
https://github.com/ethereum/tests/pull/654/commits/429716a4f9e35181fad91a3a2e9288c3a0805296

[2019-11-08 22:55] #645 closed, assigned to nobody

[2019-11-08 22:58] winsvega commented on #464
of this changes implemented is "NoProof" seal engine

[2019-11-08 22:58] #464 closed, assigned to nobody

[2019-11-09 10:26] #652 closed, assigned to nobody

[2019-11-11 11:31] gumb0 commented on #653
Perhaps this should be a command line argument to retesteth instead of config file. With a default being `~/.ethereum/geth.ipc`

[2019-11-11 12:00] gumb0 commented on #653
On the other hand, if user is supposed to edit these files locally often, I think it shouldn't happen inside the git repo. retesteth should copy them on the first run into some dir like maybe `~/.retesteth` and then read them from there always.

[2019-11-11 14:29] gumb0 commented on #653
I don't really understand why these configs live here in tests repo, either. They're very retesteth-specific, it seems they should be there.

[2019-11-12 12:01] chfast opened #657 "Change Call50000bytesContract tests"
From some HF, the contract size limit is 0x6000 (24576). It is impractical to have tests for a contracts of size 50000 being over 2x larger than the limit.
Please modify the tests to use the limit 0x6000 instead of 50000.

[2019-11-12 17:09] gumb0 commented on #653
It's very annoying to deal with local changes in git repo, when you want to update tests / change tests branch etc.

Also there's no reason to tie changes in config formats to the changes in tests - say I want to try various versions of tests, switching between the branches. But if you also make changes to what is the correct format of configs, only some branches will work, only those where config

[2019-11-13 09:19] winsvega commented on #653
perhaps move it to the retesteth repo?

you are not supposed to change this configs often actually.

[2019-11-13 09:27] winsvega commented on #657
ah so the contract still could be 50k bytes theoretically if it was deployed before, but not anymore?
the quadratic complexity tests were done by Vitalik to test the execution speed. if it is still possible that a network has such a code could be worth keeping it the way it is.

are this tests cause a problem in evm ?

[2019-11-13 09:33] chfast commented on #657
Yes, because evmone expects the max code size to be smaller.

[2019-11-13 09:47] winsvega commented on #657
what if a contract been deployed with a bigger code size before the HF and evm needs to parse it?

anyway since we have the legacy tests this could be updated to a smaller codesize

[2019-11-13 09:49] chfast commented on #657
At least it did not happen on mainnet.

[2019-11-13 10:24] gumb0 commented on #653
retesteth repo would be a better place, I think

[2019-11-13 10:33] winsvega commented on #657
check this fix: https://github.com/ethereum/tests/pull/658
if its good I shrink the other tests the same way

[2019-11-14 16:36] winsvega commented on #653
Then it looks like if to move this configs to retesteth repo it will integrate it on compilation time and then a binary deploy to . retesteth config folder

[2019-11-14 16:41] gumb0 commented on #653
Sounds good to me.

[2019-11-16 13:47] winsvega commented on #657
@chfast

[2019-11-25 09:38] #657 closed, assigned to nobody

[2019-11-29 12:50] winsvega commented on #653
now retesteth issue

[2019-11-29 12:50] #653 closed, assigned to nobody

[2019-12-02 20:07] ehildenb opened #668 "Erroneous key "postStateHash"?"
Most of the tests just use `"postState"` key, but some of them use `"postStateHash"`. Is it on purpose:

[code]

[2019-12-17 21:32] veox commented on #306
FTR (from https://github.com/ethereum/solidity/issues/1230#issuecomment-559116361):

[2020-01-09 10:33] winsvega commented on #668
when the `postState` is too huge (like a few megabytes) it is replaced with `postStateHash`.
TODO: update documentation https://ethereum-tests.readthedocs.io/en/latest/test_types/blockchain_tests.html

[2020-01-10 11:55] #668 closed, assigned to nobody

[2020-02-19 09:26] jafri opened #675 "Storage Duplicate Create2OOGafterInitCodeReturndata2Filler"
https://github.com/ethereum/tests/blob/de158eea2198217cb2132eabddd7470d4a022c40/src/GeneralStateTestsFiller/stCreate2/Create2OOGafterInitCodeReturndata2Filler.json#L69-L70

Still browsing around tests,  it seems that this filler has two storage slots in pre with the same key 0x01, is this expected?

[2020-03-02 12:16] winsvega commented on #675
probably left from when before '//' sections been implemented. the json file read will treat the last read value if the key is same. to avoid confusion the first one should be removed.

[2020-04-10 20:12] winsvega commented on #593
https://github.com/ethereum/retesteth/pull/84

[2020-04-10 20:12] #593 closed, assigned to nobody

[2020-04-10 20:16] winsvega commented on #433
Not really. And id it would it supposed not to change anything. Right now lllc is not supported so perhaps better find a new way of writing simple bytecode instructions

[2020-04-10 20:21] winsvega commented on #306
Is yul a good option now?

[2020-04-10 20:22] winsvega commented on #205
Chain params are configurable by retesteth and I am looking foward to implement more flexibility in its configuration

[2020-04-10 20:22] #205 closed, assigned to nobody

[2020-04-12 23:42] axic commented on #306
Depends. Yul doesn't give you access to some low-level opcodes (e.g `JUMP`, `PC`) but provides other constructors to achieve them (such as functions).

[2020-04-22 11:28] MrChico opened #683 "test STATICCALL violation in call to precompile"
Found a [bug in hevm](https://github.com/dapphub/dapptools/pull/360) where CALLs with nonzero values to precompiles were violating the staticmode flag correctly. This does not seem to be covered by any tests right now. As clients often have special logic for dealing with calls to precompiles, it could be valuable to test various CALLs to precompile cases explicitly.

[2020-05-12 07:34] holgerd77 opened #686 "Berlin HF Release Planning"
Hi guys,
this issue is for release planning around the Berlin HF. I would like to do at most two releases here, one final `v7.0.0` release finishing up on [v7.0.0-beta.1](https://github.com/ethereum/tests/releases/tag/v7.0.0-beta.1) and providing some stable ground to update the test runners to on a pre-Berlin state.

We have re-started to run the tests from the current `develop` state against Eth

[2020-05-12 09:51] holgerd77 commented on #686
Update: have written some release notes together for a `v7.0.0` pre-`Berlin` HF release here https://github.com/ethereum/tests/pull/687/files. This can already be used by client devs to update their tests and eventually adopt to test format changes.

[2020-05-21 16:12] adria0 opened #690 "Balance overflowing in sha3_memSizeNoQuadraticCost31"
In the https://github.com/ethereum/tests/blob/v7.0.0/BlockchainTests/ValidBlocks/VMTests/vmSha3Test/sha3_memSizeNoQuadraticCost31.json test

the initial balance is

https://github.com/ethereum/tests/blob/5e4539b1b50747e699a5990b3f8696c9267e6c31/BlockchainTests/ValidBlocks/VMTests/vmSha3Test/sha3_memSizeNoQuadraticCost31.json#L15

and after sending `0x7c`, the final balance is

https://github.com/e

[2020-05-21 18:50] karalabe commented on #690
Weeell, I think that's undefined behavior which we should not test. A gazillion things can go wrong all over the place if balances start overflowing, something which cannot ever happen in a live network. It would be a pointless can of worms to start speccing what clients should do in these cases.

[2020-05-23 10:02] ayrat555 opened #691 "Common tests for ABI encoding"
RLP tests are very useful for developing RLP implementations.  Why doesn't this repo have common tests for Contract ABI aside from three basic tests?

[2020-05-28 12:02] adria0 commented on #690
related https://github.com/ethereum/tests/pull/688

[2020-05-28 12:30] holgerd77 commented on #686
Update: preparatory pre-Berlin HF has been released as a final [v7.0.0](https://github.com/ethereum/tests/releases/tag/v7.0.0) version.

PR for a first Berlin HF `v8.0.0-beta.1` release with EVM subroutine tests (not merged yet): https://github.com/ethereum/tests/pull/692

[2020-05-29 10:09] cburgdorf opened #694 "Incorrect test case"
I believe the following test is incorrect:

https://github.com/ethereum/tests/blob/develop/BlockchainTests/InvalidBlocks/bcUncleHeaderValidity/incorrectUncleTimestamp5.json

Py-EVM doesn't recognize anything wrong here and the comment suggests geth doesn't either.

https://github.com/ethereum/tests/blob/66b1043d0dd011f541d41331e9bd81b4ae66705a/BlockchainTests/InvalidBlocks/bcUncleHeaderValidity/in

[2020-05-29 11:42] holiman commented on #694
This is the uncle from that rlp
[code]
So I think the uncle timstamp is `0x03e9` == `1001`. So the uncle timestamp is earlier than the parent.

[2020-05-29 13:18] cburgdorf commented on #694
Oh I see. But is that even relevant? Aren't we only supposed to check that the timestamp of the header is greater than the timestamp of the parent?

[2020-05-29 14:50] holiman commented on #694
Right.. Yeah I think you're correct, it isn't relevant.

[2020-05-30 21:17] winsvega commented on #691
looks like more of a solidity field.
here some tests: https://github.com/ethereum/solidity/blob/develop/test/libsolidity/ABIEncoderTests.cpp

[2020-06-05 11:42] winsvega commented on #690
Fixed
https://github.com/ethereum/tests/pull/695

[2020-06-05 11:42] #690 closed, assigned to nobody

[2020-06-05 11:44] #694 closed, assigned to nobody

[2020-06-05 11:45] ayrat555 commented on #691
I don't think this issue should be closed. Solidity is a part of Ethereum. People are writing the implementation of ABI in different languages so they should have a test set to test against

[2020-06-05 11:47] ayrat555 commented on #691
We had bugs in Elixir implementation for a couple of years

[2020-06-05 12:48] winsvega commented on #691
@chriseth

[2020-06-09 10:27] chriseth commented on #691
@ayrat555 which format are you proposing that could be language-independent?

[2020-06-09 10:37] ayrat555 commented on #691
@chriseth I think any representation will work. If people won't like it, they can just convert to any format they want. the problem is in absence of tests, not its representation.

About test structure. I think something like RLP tests will work:
- type of params
- params
- output

[2020-06-09 11:18] chriseth commented on #691
We could start with some tests for an existing ABI encoder implementation.

[2020-06-09 11:36] ayrat555 commented on #691
It would be great. The same tests can be used for decoder tests
[code]

[2020-06-09 14:03] axic commented on #691
Have a look at the earlier discussion (#118) too. I also think there was a relevant issue on the Solidity repository from 2-3-4 years ago.

[2020-06-09 14:15] ayrat555 commented on #691
It seems it didn't get far

[2020-06-09 16:53] winsvega commented on #691
ok. had an overview of existing tests. we actually have a lot of structure tests here. for rlp,difficulty,transactions,genesis  whatever which are not being run on the actual client.

I push the idea of having a test framework/ test suite. preferably rpc protocol through which I can manage and execute all this tests. (currently it is only the state test generation that is done that way)

But it se

[2020-06-09 16:59] ayrat555 commented on #691
Recently I've been fixing bugs for Elixir implementation (https://github.com/poanetwork/ex_abi) so I have a lot of test cases. Which format do you want for them?

[2020-06-19 19:39] winsvega commented on #513
fixed by https://github.com/ethereum/tests/pull/698

[2020-06-28 14:09] jochem-brouwer opened #705 "EIP 2537 tests"
EIP 2537 state tests are missing. Please add (complete) tests in the official ethereum state test suite. Some test vectors can be imported from [the linked test vector directory in the EIP](https://github.com/matter-labs/eip1962/tree/master/src/test/test_vectors/eip2537), although these have to be converted to official state tests instead of csv input/output files.

[2020-06-29 11:56] jochem-brouwer commented on #705
Hey, after a reply from @shamatar on the above linked repository where I opened a similar issue, I found out that return values are actually not part of the `receiptsTrie` and that this is an argument why it is hard to do state tests. But if I check some VM tests it seem that these work just fine (i.e. check `DUP` opcodes, where result is dumped in a storage slot) with a few "tricks" (create a con

[2020-06-29 12:13] winsvega commented on #705
The storage trick we use a lot in state tests.

The vmtests allowed to see the actual vm output, but that only supported by old testeth which is discontinued.

[2020-06-29 12:18] shamatar commented on #705
It would not be a problem for my particular case as I can just abuse SSTORE and hashing, but larger problem is how to check the gas schedule. If just use gasleft() before and after staticcall() it will be a mix of STATICCALL, memory size, stack manipulations, etc

[2020-06-29 12:21] jochem-brouwer commented on #705
We could use `CALL` here, set `out` / `outsize` both to 0 (so we do not create any more memory), then `CALL` should have constant (?) gas cost and we do not get in problems if these `STATICCALL` repricing gets in the Berlin fork. I get that the idea here is that we use `gasleft()` before/after the call and store the difference as well? I actually like this idea.

[2020-06-29 12:47] holiman commented on #705
Gas paid for is reflected on the state root

[2020-06-29 12:52] jochem-brouwer commented on #705
@holiman I think @shamatar refers to that we want to know how much was paid on the call itself, not the entire transaction. So we don't care about the gas cost of any stack manipulations, only about the gas cost of the `CALL` itself.

[2020-06-29 13:05] winsvega commented on #705
Here is asm lll to measure gas of chainid into storage cell 1:
""//codeLLL"": ""(asm GAS CHAINID GAS SWAP1 POP SWAP1 SUB 5 SWAP1 SUB 0x01 SSTORE)"","

[2020-06-29 14:12] holiman commented on #705
What does that matter? The total gas will include the call-gas, the stateroot will reflect if it's correct or notOn Jun 29, 2020 2:52 PM, Jochem Brouwer <notifications@github.com> wrote:
@holiman I think @shamatar refers to that we want to know how much was paid on the call itself, not the entire transaction. So we don't care about the gas cost of any stack manipulations, only about the gas cost o

[2020-06-29 14:20] jochem-brouwer commented on #705
It doesn't matter that much. I don't really care if we check against gas costs of the entire transaction or if we use this `gasLeft()` thing. I am super keen on getting official tests of this EIP in this test repository, so clients are actually testing against the same vectors.

[2020-06-29 17:00] #683 closed, assigned to nobody

[2020-06-29 17:03] winsvega commented on #575
https://github.com/ethereum/tests/pull/698/files#diff-aef791a7cc39a7e07b1d44a0f17fbd32R73

[2020-06-29 17:29] #575 closed, assigned to nobody

[2020-06-29 17:31] winsvega commented on #513
https://github.com/ethereum/tests/commit/fd7ba2d23911855a9a988755877b2b39f74552d5#diff-60e4f9cfbacdcc41ce1a5c1829992a44L11

[2020-06-29 17:31] #513 closed, assigned to nobody

[2020-06-29 17:45] winsvega commented on #203
Current state:

All fields in tests are 0x prefixed hex. (with exception of blocknumber field in bc tests and srcHash in _info section)
code/data/input/extraData fields are "0x" if empty, 0xbytes if not.
0 values are 0x00
no leading 00 seen.

[2020-06-29 17:45] #203 closed, assigned to nobody

[2020-06-30 07:59] holgerd77 commented on #575
We've actually lately integrated the `expectException` field into our test runner: https://github.com/ethereumjs/ethereumjs-vm/pull/752

[2020-07-05 15:23] shamatar commented on #705
It does not even look possible to specify modern forks for `retesteth` to run the precompiles without monkey patching

[2020-07-05 21:14] winsvega commented on #705
There is .retesteth config folder. You can set any new fork name and its translation for the client.

[2020-07-05 22:46] shamatar commented on #705
At the moment Geth’s “retesteth” startup option and “test_” RPC do not accept MuirGlacier and YoloV1 block numbers from RPC requests, so I had to patch it to start making tests.

[2020-07-05 23:25] winsvega commented on #705
geth retesteth support discontinued on geth side.

Test's Berlin is configured as YoloV1 for geth evm t8n (retesteth -- --clients "t8ntool")

If you need support with configs please ping me on https://gitter.im/ethereum/tests
We can make this better with your feedback

retesteth branch develop

[2020-07-13 11:45] jochem-brouwer opened #714 "EIP-150 tests with wrong stateRoot?"
Hey there - we are [implementing Tangerine Whistle (EIP-150)](https://github.com/ethereumjs/ethereumjs-vm/pull/807) and I cannot get [this specific](https://github.com/ethereum/tests/blob/84b071cd3747b8fec6918f04430660eecf951aa2/LegacyTests/Constantinople/GeneralStateTests/stSystemOperationsTest/doubleSelfdestructTest.json) test to work. I do not understand why.

I'm assuming here that the `hash`

[2020-07-13 17:38] jochem-brouwer commented on #714
The issue is resolved; the problem was that our VM did not put an empty coinbase account in the Trie. After Tangerine Whistle, this is not a problem, as it would be cleaned up when removing empty "touched" accounts. An empty coinbase account in this case should exist, because the test suite expects that the miner account gets touched and all gas fee get put into this account - in this case, these

[2020-07-13 17:38] #714 closed, assigned to nobody

[2020-07-15 07:39] holgerd77 commented on #714
Will just state the name of the test here in case someone with similar problems does a repo-wide search:
`doubleSelfdestructTest`

[2020-08-10 16:38] winsvega commented on #589
a vmexception is happening.

[2020-08-11 12:13] winsvega commented on #459
Add test with mulmod a,b,0
https://github.com/ethereum/tests/pull/647

[2020-08-11 14:46] winsvega commented on #585
testcases:
(same as in the test but with CALLCODE/CREATE/CREATE2

* tr ->  contractA -> CALL contractB (return memory);   contractA continue:  -> { CALLCODE | CREATE | CREATE2 } to the same contract and fails (due to funds or subcall error) returns.   contractA continue: check the value of memory should be empty.

[2020-09-05 18:21] winsvega commented on #691
https://github.com/ethereum/tests/tree/develop/ABITests

[2020-09-07 05:54] ayrat555 commented on #691
I knew about these tests. I think they are not complete

[2020-09-07 11:29] winsvega commented on #691
Yes. I mean this is the format. If you have more tests please share.

[2020-10-31 21:55] winsvega commented on #705
close? https://github.com/ethereum/tests/tree/develop/src/GeneralStateTestsFiller/stEIP2537

[2020-11-01 17:46] jochem-brouwer commented on #705
Yep 👍

[2020-11-01 17:46] #705 closed, assigned to nobody

[2020-11-01 23:12] winsvega commented on #555
there was major documentation iprovement:
https://ethereum-tests.readthedocs.io/en/latest/

[2020-11-01 23:12] #555 closed, assigned to nobody

[2020-11-02 07:30] holiman opened #754 "TestOpcode failures"
It seems that both geth (https://hivetests.ethdevops.io/?page=v-pills-results-tab&suite=1604297886-a25d6be8ebadf09c45c7b6b9f9db18a2.json) and besu (https://hivetests.ethdevops.io/?page=v-pills-results-tab&suite=1604262811-5fefe26d48ca5648989132f32b1bc576.json) are failing the `Test_Opcode_xx_Berlin` tests. Since geth and besu appears in agreement, I think the tests are wrong.

[2020-11-02 18:00] winsvega commented on #754
Yes it was filled with yolov1 version

An update for bc tests is coming

[2020-11-05 15:44] winsvega commented on #754
merged fix. check now

[2020-11-05 15:44] winsvega commented on #436
outdated

[2020-11-05 15:44] #436 closed, assigned to nobody

[2020-11-14 01:26] shemnon opened #755 "Berlin ModExp tests need YOLOv3 update"
YoloV3 implemented eip-2565, modExp precompile repricing.  To nobody's shock all of the modExp tests for Berlin are broken and some other tests that rely on that precompile (BlockchainTests/GeneralStateTests/stRevertTest/RevertPrecompiledTouchExactOOG.json and maybe a few others).  450+ tests total.

Besu currently imlements EIP-2565, not sure when other clients will for comparison.

[2020-11-14 08:09] holiman commented on #755
Geth haven't defined yolov3, to activate 2565, but that's a very trivial PR. Can be done very quickly. Will fix next week or this weekend

[2020-11-14 09:52] winsvega commented on #755
Which besu branch? Can I have a look.

[2020-11-14 16:06] shemnon commented on #755
master branch at https://github.com/hyperledger/besu, or hyperledger/besu:develop on docker.  It will be in in 20.10.1 that should release next week too.

[2020-11-23 22:21] winsvega commented on #380
https://github.com/ethereum/tests/pull/761

[2020-11-24 11:39] holgerd77 opened #762 "More frequent Releases"
Apparently this HF-centric release process from e.g here #686 doesn't work any more (maybe never was a good idea, not sure) with a potential Berlin release at  #692 now being open for months.

I would therefore suggest that we reconsider the approach and just switch to a normal [semver](https://semver.org/) release model where we simply do breaking releases if some changes are anticipated to break

[2020-11-24 13:21] winsvega commented on #762
I think its a good idea to make test repo release in case of a breaking format change.

But such changes are rare. (For the filled tests). Filler format is updated rather often.
New tests contributions are coming all the time so doesn't make sense to close them in bundle because its important to be on the recent commit.

[2020-11-27 19:38] winsvega commented on #755
https://github.com/hyperledger/besu/issues/1611

[2020-11-27 19:45] winsvega opened #763 "The recent tests changes"
**The recent tests changes:**
EIPS covered with **Berlin** test configuration (geth YOLOv2, YOLOv3)

**Update all:**
PR https://github.com/ethereum/tests/pull/723
PR https://github.com/ethereum/tests/pull/775

Gas cost increases for state access opcodes
PR https://github.com/ethereum/tests/pull/760
PR https://github.com/ethereum/tests/pull/756
PR https://github.com/ethereum/tests/pull/745

Precomp

[2020-11-27 20:07] qbzzt commented on #431
Added in PR https://github.com/ethereum/tests/pull/764

[2020-11-28 18:12] qbzzt commented on #380
Also https://github.com/ethereum/tests/pull/765

[2020-11-29 14:04] #380 closed, assigned to nobody

[2020-11-29 14:06] #431 closed, assigned to nobody

[2020-11-29 14:45] qbzzt commented on #438
Solved by https://github.com/ethereum/tests/pull/761 and https://github.com/ethereum/tests/pull/765

[2020-11-29 15:23] chfast commented on #438
Many thanks.

[2020-11-29 21:03] #438 closed, assigned to winsvega

[2020-11-29 21:18] #754 closed, assigned to nobody

[2020-11-29 21:20] winsvega commented on #456
the tests are now verified by retesteth --checkhash command. to be updatated. that means that new tests are generated by retesteth and therefor validated by retesteth to have a valid test schema.

yaml format is supported

[2020-11-29 21:20] #456 closed, assigned to nobody

[2020-11-29 21:23] winsvega commented on #306
added solidity support. as I understand solc has yul parser ?

[2020-11-29 21:26] winsvega commented on #415
I would suggest the `vmmode`  while executing a state test. to just compare the trace logs coming from its execution.
this way should be possible to run any state test as vmtest.

for remote clients can add explicit field in the generated test stating the gas usage because not able to check against posthash I suppose.

[2020-11-29 21:27] winsvega commented on #318
difficulty hash field checks are disabled. the difficulty formula is still verified but with no proof.
genesis > 0 is not implemented.
instead have separate test files for difficulty formula in difficulty tests folder.

[2020-11-29 21:27] #318 closed, assigned to nobody

[2020-11-29 21:29] winsvega commented on #408
the develop branch is like that because we constantly develop new tests.
now have occasional releases but it does not make sense. you must always stay update with recent develop branch.

[2020-11-29 21:29] #408 closed, assigned to nobody

[2020-12-01 12:11] holiman commented on #763
EIP 2565 (modexp repricing)
Looks like 2537 is not going to be included
EIP 2930  + 2817 (still being finalized)

[2020-12-01 12:13] holiman commented on #763
Sorry, GH didn't update the page, so I didn't see your edits until after I posted

[2020-12-05 15:29] qbzzt commented on #644
Added in https://github.com/ethereum/tests/pull/768

[2020-12-11 11:27] leonardostsouza opened #770 "Possible wrong post state root on ZeroCallTests"
Some of the tests seem to be considering empty accounts to calculate the post state root. From what I understand about the protocol, the empty accounts should be treated similar to non-existing accounts, so this would be incorrect behavior. Is there any exception to this rule I am not aware of?

A quick example to illustrate what I am talking about:
[code]
Correct final state root according to the

[2020-12-11 11:50] winsvega commented on #770
The empty account present in a state for the root hash by default. Unless after eip158, if it was touched during the call, it is removed from state.

https://github.com/ethereum/eips/issues/158

[2020-12-14 08:41] leonardostsouza commented on #770
I see. Thanks for the clarification. It was very helpful

[2020-12-14 08:41] #770 closed, assigned to nobody

[2021-02-01 09:34] holgerd77 commented on #762
For people reading along, see also this comment here https://github.com/ethereum/tests/pull/692#issuecomment-770715855.

[2021-02-22 18:57] carver opened #787 ""Invalid" uncle seems to be valid"
This issue looks similar to: https://github.com/ethereum/tests/issues/694

I am testing py-evm using v7.0.1

The following test is asserting that if a block with timestamp 3001 and parent timestamp 2001 includes an uncle with timestamp of 1001, that it is invalid:
https://github.com/ethereum/tests/blob/v7.0.1/BlockchainTests/InvalidBlocks/bcUncleHeaderValidity/incorrectUncleTimestamp.json

Why wou

[2021-02-24 19:03] winsvega commented on #787
there was this rule before transition tool:
```Error importing raw rlp block: BlockHeader timestamp is less then it's parent block```

the question is is uncleHeader with timestamp less or equal then it's parent block is allowed.

[code]

so the uncle is rejected because it has number 2 and timestamp 1001 but there was already block number 1 and timestamp 1001. and the distance between blocks is v

[2021-02-25 07:17] holiman commented on #787
The uncle is verified much like a regular header, meaning,
- The parent (header@1) of the header (uncle@2), needs to be _before_ the header (uncle@2).

From what @winsvega writes, it looks like that rule is violated, if indeed `block1` is parent of `uncle`, and `block1` and `uncle2` both have timestamp `1001`.

The `evm t8n` has nothing to work with here. It's for state transitions, but this test

[2021-02-25 09:07] holiman commented on #787
Yeah, geth rejects this on hive: https://hivetests.ethdevops.io/viewer.html?file=results/go-ethereum/client-1352abdf.log#L76

[2021-02-25 16:25] carver commented on #787
:+1: Thanks for reviewing

[2021-02-25 16:25] #787 closed, assigned to nobody

[2021-02-25 16:27] carver commented on #787
Ah, but this test should be valid against all old forks right, not just Istanbul-forward?

[2021-02-25 17:02] holiman commented on #787
Yes, all

[2021-02-25 22:02] jochem-brouwer opened #789 "EIP1559 tests"
It would be great to have EIP1559 tests. Especially if it is decided that we want EIP1559 in the London fork (see https://github.com/ethereum/pm/issues/254), we should get tests ASAP.

CC @lightclient
@timbeiko
@tkstanczak
@abdelhamidbakhta

[2021-02-25 22:20] jochem-brouwer commented on #789
These tests should also cover the transition from Berlin to London, so a network with a name like `BerlinToLondonAt5` should be added here.

[2021-02-26 08:48] winsvega commented on #789
Ah thats the hottest discussion eip over there.

https://www.reddit.com/r/ethereum/comments/lk1rjp/this_is_why_eip_1559_is_good_and_why_vitalik/?utm_medium=android_app&utm_source=share

[2021-02-26 21:20] winsvega commented on #755
udpated

PR: #775
PR: #779
PR: #777

[2021-02-26 21:20] #755 closed, assigned to nobody

[2021-02-26 21:21] winsvega commented on #762
can be found in release section. post frequent updates as pre-releases.

[2021-02-26 21:21] #762 closed, assigned to nobody

[2021-02-26 21:21] winsvega commented on #763
moved to pre releases

[2021-02-26 21:21] #763 closed, assigned to nobody

[2021-02-26 21:22] winsvega commented on #686
switched to github release system now

[2021-02-26 21:22] #686 closed, assigned to nobody

[2021-03-01 02:52] qbzzt commented on #415
Note that almost all the VMTests will be GeneralStateTests as soon as @winsvega merges https://github.com/ethereum/tests/pull/791

[2021-03-01 02:55] qbzzt commented on #348
Not so simple, because `LOG<n>` doesn't produce a clear trace that the EVM can see. We might be able to do this with a blockchain test that looks at the blockhash.

[2021-03-01 03:12] qbzzt commented on #415
Do you mean `--vmtraceraw`?

BTW, in case somebody doesn't know it yet, http://retesteth.ethdevops.io/web/index.php lets you generate the traces on the web without having to run anything locally. Better usability.

[2021-03-01 03:17] qbzzt commented on #306
Neither does LLL. In those cases we just write `code: :raw 0x<whatever>` and put the assembler version in comments.

[2021-03-01 03:22] qbzzt commented on #249
It's in the EIP process: https://eips.ethereum.org/EIPS/eip-3155

[2021-03-01 03:24] qbzzt commented on #186
https://github.com/ethereum/tests/pull/786

[2021-03-01 03:25] qbzzt commented on #138
Solved by https://github.com/ethereum/tests/pull/786

[2021-03-01 03:26] qbzzt commented on #133
Solved by #786

[2021-03-01 03:26] qbzzt commented on #132
Solved by #786

[2021-03-01 07:45] winsvega commented on #332
@qbzzt this is more then just a comment.
having more comments in tests would be nice.

the issue is the whole index we need to have so to be able to tell what is covered and where.

[2021-03-01 07:50] winsvega commented on #348
in state tests there is loghash calculated for each transaction.

[2021-03-01 09:52] #644 closed, assigned to nobody

[2021-03-01 09:54] #131 closed, assigned to nobody

[2021-03-01 09:54] #132 closed, assigned to nobody

[2021-03-01 10:01] winsvega commented on #133
this was about VMTests not state tests. since we transfer VMTests into state tests it kind of solved, but as a part of more complex state test in 786

[2021-03-01 10:01] #133 closed, assigned to nobody

[2021-03-01 10:02] #138 closed, assigned to nobody

[2021-03-01 10:02] winsvega commented on #186
786 does not solve this.

[2021-03-01 10:02] holgerd77 commented on #763
Hi,
thanks so much for this, these new releases are really great! 😄

One small suggestion: I think it would be better to not do pre-releases at all but just do everything as a normal release. I realized lately that for us as a user a "final" release has very much low relevance since we just update from release to release and at the same time it is unfortunate with the pre-releases that this leads

[2021-03-01 10:04] #317 closed, assigned to pirapira

[2021-03-01 10:05] winsvega commented on #364
@qbzzt ori need to review the test and possibly extend the cases

[2021-03-01 10:09] winsvega commented on #459
@qbzzt check if we need more tests around this (with better commenting)
but basically it is a vm test for opcode (x,y,z)   with different values of x,y,z
can be done by generator script

[2021-03-01 10:09] winsvega commented on #558
@qbzzt check if the issue case is covered

[2021-03-01 10:10] winsvega commented on #570
Ori updated the documentation

[2021-03-01 10:10] #570 closed, assigned to lithp

[2021-03-01 10:10] winsvega commented on #589
the vm tests are updating to state test format

[2021-03-01 10:10] #589 closed, assigned to nobody

[2021-03-01 10:18] holgerd77 commented on #763
Ah, and as a side note: this suggestion is also influenced by the experiences from #692 where we (so you guys and me)were waiting for a final release for months, which made not so much sense since the clients needed to update the tests anyhow, being towards a "final" release or not.

So I guess it's not really worth to focus so much on final releases as I initially did, hardfork planning is often

[2021-03-01 10:19] holgerd77 commented on #589
Totally impressed that one can work down three issues in < 1 minute. 😜

[2021-03-01 10:29] winsvega commented on #589
there are bunch of vm tests issues that we are gonna close as the support of VMTests is ending.
the cases are now covered by state tests.

[2021-03-01 10:30] winsvega commented on #306
actually if YUL is supported by solc  then it is already implemented

[2021-03-01 19:18] #130 closed, assigned to qbzzt

[2021-03-01 19:33] qbzzt commented on #348
How do I check this loghash? I looked all over `tests/src`, and there is no `loghash` (or `logHash`) anywhere.

[2021-03-01 20:24] qbzzt commented on #306
It is implemented, but it isn't user friendly. Lets say I want to check `sstore(1,1)`. I need to put this code in the `solidity:` section:

[code]

Four lines of prefix and three lines of postfix to be able to use Yul. If we want to encourage people to use it, it needs to be easy. For example, imagine this structure:

[code]

Then retesteth can add all the necessary syntax to create the actual Sol

[2021-03-01 20:51] axic commented on #306
You do not need to use inline assembly to access Yul in the compiler. I'm not sure what you are using, the CLI or standard json, but there are options to invoke the assembler and pass Yul code directly.

[2021-03-01 20:55] axic commented on #306
(Julia was renamed Yul years ago. Changed title to reflect that.)

[2021-03-02 09:35] winsvega commented on #453
Vm tests are being updated to state test format

[2021-03-02 09:35] #453 closed, assigned to nobody

[2021-03-02 09:37] winsvega commented on #448
@qbzzt apparently there is evm byte instruction unreachable from lll. And there was some issue around it

[2021-03-02 09:41] winsvega commented on #415
@qbzzt here the problem was that some clients using vmtests while not supporting calls or some specific evm opcodes.

[2021-03-02 09:41] winsvega commented on #306
We use solc.

[2021-03-02 15:00] qbzzt commented on #448
There is a `BYTE` opcode (https://web.archive.org/web/20201109185700/https://ethervm.io/#1A), but it is reachable from LLL (https://github.com/qbzzt/tests/blob/vmtests-for-merge-20210228/src/GeneralStateTestsFiller/VMTests/vmBitwiseLogicOperation/byteFiller.yml).

Most tests just write the results of `BYTE` to storage, but the test that is now in contract 0x010A has dup.

[code]

  I think we can

[2021-03-02 15:00] #448 closed, assigned to nobody

[2021-03-02 23:49] qbzzt commented on #348
Doesn't work, because adding revert would be enough to change the state hash anyway. I am going to verify this behavior with `--poststate` and then check the block hash that has this behavior. If it changes, the block hash would change.

Note that other things, such as opcode repricing, can also change the block hash. I'll add a note how to update for that to the test.

[2021-03-03 09:38] qbzzt commented on #186
Oops, you're right - my bad.

Is the problem in the Filler files, or the Filled files that are actually used to run the tests? If the second then retesteth could take care of it by including a unique identifier (for example, the first four bytes of the hash of the pathname).

[2021-03-03 12:11] winsvega commented on #186
The problem was is copy paste. We actually need to review tests and rename same tests. (Different folder, same name)

[2021-03-03 12:23] axic commented on #306
You can use `solc --assemble <file.yul>` where `file.yul` is a simple block (can also use functions):
[code]

[2021-03-06 02:36] qbzzt commented on #348
#794 has this test, so I'm closing it.

[2021-03-06 02:36] #348 closed, assigned to qbzzt

[2021-03-06 02:58] qbzzt commented on #581
It's not just suicide created but empty. If a contract is completely empty (all fields are equal to zero) then `EXTCODEHASH` returns zero. But if there's anything there, such as a balance or a nonce, then `EXTCODEHASH` returns the Keccak-256 of an empty buffer,
0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470 (see https://medium.com/@ConsenSys/are-you-really-using-sha-3-or-old-co

[2021-03-07 20:48] #581 closed, assigned to qbzzt

[2021-03-15 19:33] winsvega opened #809 "precompiled address check tests"
From holiman discord

[code]

[2021-03-22 09:23] #459 closed, assigned to qbzzt

[2021-03-22 11:01] #675 closed, assigned to qbzzt

[2021-03-22 18:20] qbzzt commented on #558
Yes, covered in https://github.com/ethereum/tests/blob/develop/src/GeneralStateTestsFiller/stReturnDataTest/subcallReturnMoreThenExpectedFiller.yml

[2021-03-22 22:09] #585 closed, assigned to qbzzt

[2021-03-22 22:11] #558 closed, assigned to qbzzt

[2021-03-23 15:50] qbzzt commented on #306
I vote we add Yul support. The reason is LLL is no longer updated, and eventually we'll have new opcodes. It isn't a problem with EIP 2315 (https://eips.ethereum.org/EIPS/eip-2315) because flow control isn't something we test in lll anyway, we test it in machine language. But when a new calculation opcode comes around we'll want Yul. Might as well get used to it already.

[2021-03-23 16:09] qbzzt commented on #306
BTW, this is a retesteth issue really. Shall I open an issue there?

[2021-03-23 16:11] axic commented on #306
![Screenshot](https://user-images.githubusercontent.com/20340/112179121-4de2fc80-8bf2-11eb-8283-b76efe7b3fcd.png)

You can also click on `transfer issue` if you think it belongs there, but I think it actually belongs to both, as the testing format may require a change, such as a language field?

[2021-03-23 16:39] qbzzt commented on #306
I don't think we need a breaking change, any more than we needed one for Solidity (https://ethereum-tests.readthedocs.io/en/latest/state-transition-tutorial.html#solidity-tests). We might want to do something like:

[code]

With LLL code it always looks like this:
[code]

[2021-03-25 13:13] #340 closed, assigned to nobody

[2021-03-25 13:14] winsvega commented on #233
We don't  have the tests in ttTransaction form. In fact those are quite unmaintained for a while now

[2021-03-25 13:41] qbzzt commented on #233
Exactly. WE don't have ttTransaction tests, we don't care about life before Spurious Dragon, there is no reason to keep this issue.

[2021-03-25 13:41] #233 closed, assigned to nobody

[2021-03-27 18:58] qbzzt commented on #433
Using Yul (#306) might be better for future tests, or at least some of them.

But changing the existing tests, or moving lll in comments to the code, is probably too much work to be worth doing. I think we should close this.

[2021-03-27 19:05] qbzzt commented on #415
Do we want a tool that you can ask "give me all the GeneralStateTests/VMTests without these opcodes" and get the list?

[2021-03-27 19:12] qbzzt commented on #584
We don't have transaction tests, and we don't plan on having them. I think we can close this.

[2021-03-27 19:46] #809 closed, assigned to qbzzt

[2021-03-27 21:14] #458 closed, assigned to qbzzt

[2021-03-27 22:22] #364 closed, assigned to qbzzt

[2021-03-27 22:25] winsvega commented on #584
we have transaction tests in ttTransaction.
it is a scheme test. meanin it is up to devs to implement this tests and go throug the jsons.

however, if we really want to we can forge blocks with transactions having this v values and see what client error code is returned.

[2021-03-27 22:29] winsvega commented on #433
ok. the original issue was about having some raw bytes in lll code backed up as coments in json.
is not critical, and such cases are a few and the code is not too big to decompile anyway.

now we learned to write lll code inside lll code and it should be fine and nice in yml files.

[2021-03-27 22:29] #433 closed, assigned to nobody

[2021-03-29 17:46] winsvega opened #815 "testcase: what if uncle header in rlp has number of block 5 but parentHash of block 4"
some blockchain ideas

[2021-03-29 17:48] winsvega opened #816 "some client other then geth support t8ntool protocol for test generation / vmtracing"
Total 4208 (100%)
[code]
https://www.ethernodes.org/

[2021-03-30 01:26] qbzzt commented on #816
Asked openethereum at https://github.com/openethereum/openethereum/issues/340

[2021-04-02 02:44] qbzzt commented on #816
We decided to do the emulation at the t8ntool layer so we'll be able to use the openethereum also to generate tests and do whatever features we add in the future.

[2021-04-02 10:10] winsvega commented on #306
A yul would actually be a downside as we don't know how to add new opcode to it.

[2021-04-02 13:55] qbzzt commented on #306
1. Do you know how to add opcodes to LLL?
2. Yul is still in active development, so I assume we won't have to add opcodes to it.

[2021-04-04 14:05] winsvega commented on #306
Yes. We have custom repo of solidity whete we add any required opcode to lll.

[2021-04-07 01:20] qbzzt commented on #816
Just a note to myself, to create a Docker with openethereum, use:

[code]

[2021-04-07 11:55] winsvega commented on #523
VMTests are converted to StateTests.
@qbzzt  make a new issue if you want vmtrace information check from the expect section

[2021-04-07 11:55] #523 closed, assigned to nobody

[2021-04-07 11:56] winsvega commented on #597
GitHub API: Not Found

[2021-04-07 11:57] winsvega commented on #531
test releases are now done by github releases

[2021-04-07 11:57] #531 closed, assigned to nobody

[2021-04-07 13:19] winsvega commented on #415
not really.
the VMTests are now moved to Legacy.
all the cases are migrated to GeneralStateTests

[2021-04-07 13:19] #415 closed, assigned to pirapira

[2021-04-07 13:19] winsvega commented on #449
VMtests are moved to Legacy
cases migrated to GeneralStateTests

[2021-04-07 13:19] #449 closed, assigned to nobody

[2021-04-07 17:22] winsvega commented on #306
added YUL support:

https://github.com/ethereum/tests/pull/819/commits/dd6b122dddf07f5f0372bd3a7935da0f106a6665#diff-b66d7b0a699eddd78aaf5f8b2d9e35ee24b71aa255f14d7c6d3f80a37ff7d9e8R34

[2021-04-07 17:22] #306 closed, assigned to nobody

[2021-04-08 13:10] chfast commented on #597
I can produce new report based on evmone + silkworm + blockchain tests.

[2021-04-08 14:12] qbzzt commented on #789
Tests:

1. Check if EIP 1559 is running. Run a transaction, and see if any wei disappear. This can be a state test (with hardwired expected results) or a blockchain test with a program that looks at the balances.

2. Check what happens if we have a bunch of nearly empty blocks (`gas_target` >>> `gas_used`). The same transaction, with the same gas price, should give the coinbase more wei after such

[2021-04-08 16:46] timbeiko commented on #789
AIUI, @garyschulte is working on some tests, so he can chime in. For the scenarios above:

I'm not sure how the testing framework is set up, but a stricter condition here would be that the amount burnt is `base_fee_per_gas` * `gas_used`.

I'm not sure this will actually result in a higher reward to the coinbase. If the `base fee per gas` ends up below the `max fee per gas`, then at most the coinba

[2021-04-08 18:28] SuburbanDad commented on #789
@qbzzt and I have conferred a bit about the 1559 tests.  I have a draft hackmd where I am describing the current state of reference tests, modeled after your 1559 status hackmd @timbeiko

https://hackmd.io/@SduYUIHbT6a6DHUpikAcFQ/BJP9arcB_/%2FuID06YEhSj2uFzEviDIaJQ

I haven't focused too much on writing the test cases yet, since it seems that retesteth has a fair bit of work pending to support the

[2021-04-08 22:26] winsvega commented on #789
With t8ntool you can only process 1 block at a time. And no chain logic. If there is a specific chain logic for eip1559 please write it down so I can implement it in retesteth

Also need 1 client that support 1559 types in order to feed new type of tests to it

[2021-04-09 06:32] chfast commented on #597
You can start with https://codecov.io/gh/ethereum/evmone/src/74dd26af6c428bf04c38f69783af7c8425e50f1c/lib/evmone/instructions.hpp, just disable "unittests" flag to see only coverage by blockchain tests.

[2021-04-10 23:30] qbzzt commented on #816
Another note to self.

Naturally, `t8ntool` doesn't get the expected output. A json state test, OTOH, **must** have that output.

The solution is to have synthetic output:

[code]

However, the transaction is supposed to have the private key, and that isn't in txs.json.

[2021-04-13 01:29] qbzzt commented on #816
Almost working

[package.json.txt](https://github.com/ethereum/tests/files/6300648/package.json.txt)
[t8n_oe.js.txt](https://github.com/ethereum/tests/files/6300649/t8n_oe.js.txt)

[2021-04-13 12:39] chfast opened #823 "EIP-2929 missing cases"
The [EIP-2929](https://eips.ethereum.org/EIPS/eip-2929) is missing test coverage for OOG case in the newly added cold access checks in state access instructions. I can observer these at least for `EXTCODESIZE`, `EXTCODECOPY` and `EXTCODEHASH`. But also `SLOAD` may be affected (because of the different implementation this is not visible in the code coverage report).

![image](https://user-images.gi

[2021-04-14 17:33] garyschulte commented on #789
besu master supports 1559 transactions

[2021-04-14 22:21] #823 closed, assigned to qbzzt

[2021-04-17 11:19] LeoNCKU opened #827 "Is there any update on VMTests?"
Dear all:
I found that some testsuite are not enough in VMTests. For example the opcode 0x10 LT instruction has only 4 testsuite (lt0.json, lt1.json, lt2.json, lt3.json), will the testsuite added more in the future?

[2021-04-17 13:20] qbzzt commented on #827
The original VMTests are deprecated. Instead, we are going to work on the state tests that include the VMTests (https://github.com/ethereum/tests/tree/develop/GeneralStateTests/VMTests) because they can run with our automated tools.

In addition to the four tests in https://github.com/ethereum/tests/blob/develop/src/GeneralStateTestsFiller/VMTests/vmBitwiseLogicOperation/ltFiller.yml,
In https://g

[2021-04-17 22:58] winsvega opened #828 "Deprecate "transaction" section in filled GeneralStateTests"
How about we deprecate "transaction" section in filled general state tests? Since we have it in a filler source and with a new txbytes field it doesn't really needed

[2021-04-20 21:51] winsvega commented on #249
Devs and protocols are quite incompatible as we found out. Also being a top second cryptocurrency the teams can't afford or find the devs to work on concensus non critical issues. Everyone on their own. You want a vmtrace standard - you dig into everyones code and impliment it as your own fork. Fund an organization. Make public demonstrations, become a president to propose thise idea.

[2021-04-21 09:15] holgerd77 commented on #249
@winsvega I've taken action and opened a new issue for that https://github.com/ethereumjs/ethereumjs-monorepo/issues/1215 (so maybe no need to become president here, we'll see). 😛

[2021-04-26 08:24] chfast commented on #823
I confirm these cases I covered now.

[2021-04-26 11:04] chfast opened #831 "Missing memory copy out-of-gas cases"
Hi there,

I'd like to report some missing test cases for instructions which copy memory and the out-of-gas failure is directly result of the additional memory copy cost:
- `KECCAK256`,
- `CODECOPY`,
- `EXTCODECOPY`,
- `RETURNDATACOPY`.

---
![image](https://user-images.githubusercontent.com/573380/116072321-35518080-a68f-11eb-853f-da0cce9a6393.png)
---
![image](https://user-images.githubuserconte

[2021-04-27 10:24] chfast commented on #831
The case for `RETURNDATACOPY` is still not covered. The rest is, thanks.

[2021-04-27 10:48] qbzzt commented on #831
The test is in https://github.com/ethereum/tests/blob/a92affb177712ebb9b45cf54aee6aa72d25fdf45/src/GeneralStateTestsFiller/stMemoryTest/oogFiller.yml#L66. The call for it is in https://github.com/ethereum/tests/blob/a92affb177712ebb9b45cf54aee6aa72d25fdf45/src/GeneralStateTestsFiller/stMemoryTest/oogFiller.yml#L306.

[2021-04-27 11:08] chfast commented on #831
Maybe it fails for some other reason than the cost of memory copy inside `RETURNDATACOPY`. Do you have a trace?

[2021-04-27 12:18] qbzzt commented on #831
You're right, my bad. I forgot to account for the fact that in Berlin calls are more expensive than they were in Istanbul. I'll fix it.

[2021-04-30 12:16] jochem-brouwer commented on #789
Quick trick to use all gas; just create a contract with the init code `0xFE` this asserts and consumes all gas.

Bugs on Aleut related to this EIP so far; (good test cases)

- Blocks where `gasUsed > gasTarget`
- Anything related to `GASPRICE` (GASPRICE PUSH1 0 SSTORE borked Aleut)

What's also interesting is that the spec does not state if it is OK to use a Transaction where the gasLimit of this

[2021-05-01 17:29] qbzzt commented on #827
@LeoNCKU , do you have additional tests? If not, may I close this ticket?

[2021-05-03 04:44] LeoNCKU commented on #827
@qbzzt Sorry, I don't have. Thanks for fixing my problem.

[2021-05-03 13:48] #827 closed, assigned to qbzzt

[2021-05-06 18:47] #831 closed, assigned to nobody

[2021-05-07 22:23] winsvega commented on #816
hm. not really http://retesteth.ethdevops.io/results/log//2021-05-03-1620016370-oewrap.txt
well we gave it a try. Lets focus on tests and besu client support. as its essential for proper eip1559 testing.
besu has implemented rpc so we can test blockchain rules directly on the client

[2021-05-07 22:27] winsvega commented on #789
https://hackmd.io/NNforJS7SMmjJ1t6jA8pgQ

[2021-05-07 22:30] winsvega commented on #474
@qbzzt  thats basicaly what you did, right?
bullet 1 and 4 are all done

[2021-05-07 22:34] winsvega commented on #584
hm. the transaction test suite went kind of unsipported. because there is no test protocol we can't really run or generate those tests anymore. I think its about to go to legacy.

(the ttTransaction test suite tried to test the transaction struct on all kinds of crazy data in transaction fields without the context of State or EVM and blockchain)

[2021-05-07 22:35] winsvega commented on #441
that would be a great research work. I think with the coverage analizer we can run and see which tests are covering what exactly.
and would be nice to have a quiery engine for that

[2021-05-07 22:36] qbzzt commented on #474
I did bullet 4. I think you did bullet 1 before I even got here.

Bullet 2 we usually do with comments, but as they are in `# <whatever>` lines, they aren't propagated into the filled tests. Is that a problem?

[2021-05-07 22:37] winsvega commented on #597
Can help with https://github.com/ethereum/tests/issues/441

[2021-05-07 22:40] winsvega commented on #828
If no discussion here I will just delete the transaction section from gtests soon.
As IMHO there is no need for excessive information in state tests. we already abuse the space with txbytes field that make transaction section obsolite. all the data could be read from txbytes field and is much more intuitive which transaction has which post state hash.

[code]

[2021-05-08 07:15] chfast commented on #597
I report these cases one-by-one and this works.

[2021-05-08 07:15] #597 closed, assigned to nobody

[2021-05-14 15:54] gumb0 opened #845 "Some ideas for more tests with invalid bytes"
1. Creation transactions deploying a contracts with all possible values in a first byte, similar to tests for `CREATE` in https://github.com/ethereum/tests/pull/843 (probably will require a blockchain test for this)

2. Init codes starting with a byte with all possible values
2.1. In creation transaction (one invalid byte value is checked in https://github.com/ethereum/tests/pull/842)
2.2. in the

[2021-05-15 16:08] qbzzt commented on #845
3. In contracts that are called by other contracts (might behave differently from contracts that are called directly)
     3.1. CALL
     3.2. CALLCODE
     3.3. DELEGATECALL
     3.4. STATICCALL

This is starting to be a lot of cases. Maybe we need a generator that creates the test file for us (similar to https://github.com/ethereum/tests/blob/develop/src/BlockchainTestsFiller/ValidBlocks/bcState

[2021-05-18 16:36] winsvega opened #848 "more tests around SELFBALANCE"
we have a contribution but I think this needs to be covered more

btw. lllc supports it

[2021-05-23 13:22] qbzzt commented on #845
#851 now includes these tests, which check for the reaction to an invalid opcode in a bunch of contexts: https://github.com/ethereum/tests/blob/84d42b6f6b757b6f0cde4d812db0569c76245c8a/src/GeneralStateTestsFiller/stBadOpcode/manyContextsFiller.yml

The next version of solidity (0.8.5) will have in Yul a `verbatim` function that lets us specify arbitrary machine language code. I think we should lea

[2021-05-23 20:30] qbzzt commented on #848
You mean simply running SELFBALANCE is a many contexts of the template, or something else?

[2021-05-26 11:54] axic opened #854 "Add test for access list with the coinbase address"
It would be nice to have three test cases:
1. A contract transferring to the coinbase and no access-list is present
2. A contract transferring to the coinbase with an access list *excluding* the coinbase address
3. A contract transferring to the coinbase with an access list *including* the coinbase address

See https://ethereum-magicians.org/t/eip-2929-gas-cost-increases-for-state-access-opcodes/4

[2021-05-28 21:58] qbzzt opened #858 "Transaction testing rules in EIP 1559"
proposed new validation rules for consensus:
      [1] maxFeePerGas < 2^256
      [2] maxPriorityFeePerGas < 2^256
      [3] maxFeePerGas >= maxPriorityFeePerGas
      [4] sender.balance >= gasLimit * maxFeePerGas

[2021-05-31 21:53] qbzzt commented on #858
Closed by #862

[2021-05-31 21:53] #858 closed, assigned to nobody

[2021-06-01 10:05] yperbasis opened #863 "Incorrect 1559BlockImportImpossible_InitialGasLimitInvalid in BerlinToLondonTransition"
`BlockchainTests/TransitionTests/bcBerlinToLondon/BerlinToLondonTransition.json` has a block that is supposed to fail with `1559BlockImportImpossible_InitialGasLimitInvalid`, but its gas limit of 6283185 should be instead accepted, according to [EIP-1559](https://eips.ethereum.org/EIPS/eip-1559#specification), as being well within 1/1024 of `parent_gas_limit=self.parent(block).gas_limit * ELASTICI

[2021-06-01 10:20] yperbasis commented on #863
https://discord.com/channels/595666850260713488/753271902520213625/848522467739566110

[2021-06-01 18:56] #854 closed, assigned to nobody

[2021-06-01 19:00] holiman opened #865 "Gaslimit errors on blockchain tests"
I'm gettting these failures, which all seem to stem from the gaslimit calculations. Are there any known errors around these, or should I investigate the geth side more?

[code]

[2021-06-01 19:09] winsvega commented on #828
Ok so we discussed to leave the state test format as is.
as many devs use state test format without filler. so having human readable transaction might be fine.
also it is a little bit of space and all the runners are built to read it

[2021-06-01 19:09] #828 closed, assigned to nobody

[2021-06-01 19:13] winsvega commented on #865
the InvalidBlocks are being worked on. the TransitionTest should have been fine whch block is it?

[2021-06-01 19:23] holiman commented on #865
[code]
The gasLimit is
[code]
And the parent gas limit is
[code]
At the fork block, the doubling becomes:
[code]

[2021-06-01 19:37] winsvega commented on #865
ah. I see. I didn't commit the changes. I rember fixing it but probably didnt commit.

[2021-06-02 07:14] holiman opened #868 "Tests for 1559 extended requirements"
I don't know where to put these, if we want to just place them in the same location as the random-tests, or somehow make a filler for them, so for now I'll just open a ticket and we can see where to go from here.

These two tests checks the two necessary preconditions for transaction validity in EIP-1559

`1559_MaxFeePerGasExceedsBalance.json`:
[code]
and `1559_MaxPriorityFeePerGasExceedsMaxFeePer

[2021-06-02 07:16] yperbasis commented on #863
Fixed by https://github.com/ethereum/tests/commit/c34cab0b8279671a337c9cd2938f41269b1adc89

[2021-06-02 07:16] #863 closed, assigned to nobody

[2021-06-02 07:22] yperbasis opened #869 "coinbaseT01 shouldn't contain baseFee for Berlin"
After https://github.com/ethereum/tests/commit/52ff7015f7c8cf43d4a50765d4117542a89b9e5e `BlockchainTests/GeneralStateTests/stEIP2930/coinbaseT01.json` has `baseFee` in block's RLP even for Berlin (e.g. `coinbaseT01_d0g0v0_Berlin`). Valid blocks shouldn't contain `baseFee` prior to London.

[2021-06-02 07:31] yperbasis commented on #865
@winsvega I'm still experiencing the same issues in [Silkworm](https://github.com/torquem-ch/silkworm/pull/251) even with the latests commit https://github.com/ethereum/tests/commit/c34cab0b8279671a337c9cd2938f41269b1adc89. The issue is not resolved yet, is it?

[2021-06-02 08:05] winsvega commented on #865
No, now should be fine

[code]

[2021-06-02 08:06] winsvega commented on #869
Isn't it fixed?

Should add more checks

[2021-06-02 08:08] yperbasis commented on #869
Not fixed yet in the latest develop (https://github.com/ethereum/tests/commit/c34cab0b8279671a337c9cd2938f41269b1adc89)

[2021-06-02 08:14] holiman commented on #865
I think it works for me too (waiting for CI to let me know if everything is good)

[2021-06-02 08:17] holiman commented on #869
Can confirm, the basefee is present both in json and rlp on Berlin

[2021-06-02 08:18] holiman commented on #869
We don't catch it in geth, because we don't run the `BlockchainTests/GeneralStateTests/*`, as blockchain tests, since we run them as state tests instead.

[2021-06-02 09:01] holiman commented on #865
I think the lower bound is miscalculated by retesteth, it has an off-by-one
The block #2 insertion into chain failed:
[code]
 so retesteth thinks `19980469` is ok, geth thinks `19980470` is the lowest allowed

[code]
From EIP
[code]
So block.gas_limit must be greater than `19980469`.This logic was changed, as part of https://github.com/ethereum/EIPs/pull/3566

[2021-06-03 09:20] yperbasis commented on #869
Fixed by https://github.com/ethereum/tests/commit/b39fa441a3d655d32fa87c561a3e3658cc843f06

[2021-06-03 09:20] #869 closed, assigned to nobody

[2021-06-03 23:16] qbzzt commented on #868
I agree we need to have tests for these conditions, but I already wrote them.

Filler: https://github.com/ethereum/tests/blob/develop/src/BlockchainTestsFiller/ValidBlocks/bcEIP1559/transFailFiller.yml
Filled: https://github.com/ethereum/tests/blob/develop/BlockchainTests/ValidBlocks/bcEIP1559/transFail.json

Account balance check: https://github.com/ethereum/tests/blob/develop/src/BlockchainTests

[2021-06-06 21:09] qbzzt commented on #868
And now we also have state tests, #875

[2021-06-06 21:10] qbzzt commented on #868
@holiman , sorry I didn't use your tests, but it was easier for me to just to yml

[2021-06-07 07:21] holiman commented on #868
No worries at all! I just wanted to get the test covered, I don't care if you use my code or something else entirely. Feel free to close this when it's covered

[2021-06-07 13:38] holiman commented on #868
Running the first one on `besu`, I get
[code]
Running it on `nethtest`, I get
[code]

cc @RatanRSur @tkstanczak

[2021-06-08 08:11] MarekM25 commented on #868
@holiman Did you use master branch? The last 1559 checks haven't been merged. We'll do it today I think. I'll check this test https://github.com/ethereum/tests/pull/875 from this PR: https://github.com/NethermindEth/nethermind/pull/3090

[2021-06-10 09:13] holiman commented on #868
Edit: _besu_ now matches geth
[code]
[code]

[2021-06-10 09:16] holiman commented on #868
@MarekM25 And nethermind also is in sync with geth:
[code]

[2021-06-10 10:03] #865 closed, assigned to nobody

[2021-06-10 10:04] #868 closed, assigned to nobody

[2021-06-15 16:41] winsvega commented on #584
now when we have transaction tests with invalid invalid expections we can work towards malformed transaction tests with crazy signatures to be expected rejected

[2021-06-21 17:06] #845 closed, assigned to nobody

[2021-06-21 17:06] #848 closed, assigned to nobody

[2021-06-25 10:52] mzabaluev opened #889 "vm-ref.rst is outdated, lacks definition of post results"
The virtual machine test reference in the RST documents does not cover recent schema changes, even those that are already described in `internals-tutorial.rst`. Specifically, the `post` section of a generated test is still described as is if were a state map like the one in `pre`. The reference should be updated to describe the current structure of fork-specific results.

It would also help to exp

[2021-06-25 10:53] mzabaluev commented on #474
Added #889 to expand on bullet 4.

[2021-06-28 03:06] qbzzt commented on #889
The VM tests are out of date and therefore deprecated. I forgot to add that to the documentation, thank you for reminding me (see #891).

If you need the VM tests, they are now under `GeneralStateTests/VMTests`.

[2021-06-29 03:04] qbzzt commented on #816
OE is deprecated, so that work is no longer relevant, but besu works great with retesteth these days. So I don't think we need this issue anymore.

[2021-06-30 11:20] #889 closed, assigned to nobody

[2021-07-22 16:09] winsvega opened #899 "invalid structure RLPs test"
generate inalid rlps with values >256

[2021-07-22 16:10] winsvega opened #900 "invalid blocks with messed up parameters"
find a way to generate the block which makes view that it is correct.
but have lets say nonce overwritten from 1 to 2
and hashes fixed accordingly

such block must be invalid.

[2021-07-27 12:36] norswap commented on #584
It will not accept such values on mainnet (where the chain id has to be 1), but may accept them if the chain ID is different. [Relevant geth code](https://github.com/ethereum/go-ethereum/blob/33ca98ece985f5085ac8ec19a49239d726850004/core/types/transaction.go?plain=1#L203-L227).

Small question: why is the test called `RightVRSTestF0000000a`? I don't see F0000000a being featured anywhere (`v` is 0x

[2021-07-27 16:37] norswap opened #906 "Clarify hard fork names in transaction tests"
Currently, in the `TransactionTests`, multiple names are confusing:

See for instance [this logic](https://github.com/norswap/nanoeth/blob/master/test/com/norswap/nanoeth/transactions/OfficialTransactionData.java#L57-L72) I implemented in my toy client:

[code]

The left column are the names used in the transaction test JSON files.
1. The "EIP" names should be the proper forks name, and "Constanti

[2021-07-27 16:52] axic commented on #906
This was previously discussed in #488, and probably the people sharing your view are still on that opinion.  Here was my suggestion https://github.com/ethereum/tests/issues/488#issuecomment-528288516.

[2021-07-27 17:04] norswap commented on #906
I see, I guess it's going to stay the same! I can live with it.

The argument that it's closed doesn't really work for new client implementations, as you need to implement everything including networking, JSON-RPC, etc to be able to run retesteth.

Feel free to close then, although I'd still like to know the answer of question (3) about the Berlin fork.

[2021-07-30 11:34] holiman opened #908 "Remaining sender-with-code"
We're almost ready to merge the change to not have senders with code. As far as I can tell, there's only one occurrence of this still in the codebase (aside from the Legacy tests).
I think this should fix it:
[code]

[2021-08-03 13:09] chfast opened #909 "Add test for CREATE2 init code hashing OOG"
Add a test with CREATE2 where OOG happens directly because of the cost of hashing the init code.

![image](https://user-images.githubusercontent.com/573380/128020942-d751a7fe-14b0-4210-962d-daf65c274428.png)

[2021-08-03 13:14] chfast opened #910 "Add more tests for SSTORE at Constantinople"
The case where SSTORE in Constantinople cost 200 is not covered by state tests.

![image](https://user-images.githubusercontent.com/573380/128021611-803f3eba-bae5-4f9c-9aef-b30232e76040.png)

[2021-08-04 09:18] winsvega commented on #906
About the https://github.com/ethereum/tests/issues/488
fork names in the tests are internal for the tests. the names can be different in clients. there is a config with replacement map for each client. in retesteth.

implementing retesteth support does not mean implementing the whole client. retesteth just feed the test data via rpc / t8ntool protocol. so devs don't have to implement test parser.

[2021-08-04 10:58] qbzzt commented on #910
Is there any point in writing tests for Constantinople? It's over a year and a half in the past at this point.

[2021-08-04 11:00] qbzzt commented on #909
I'll try to have it done by the weekend.

[2021-08-04 12:02] chfast commented on #910
Just for completeness. This is my last uncovered line.

[2021-08-04 12:55] norswap commented on #906
Understood.

To clarify, if one wants to write a new Ethereum client, this means you have to implement the JSON-RPC endpoint before you can run any tests on your WIP implementation. My implementation is very early stage, so I can only create transactions and validate their format & signature. So I'm only interested in pure transaction tests. It sounds like I could implement a JSON-RPC end points t

[2021-08-04 13:41] qbzzt commented on #906
By "stateless transaction test" you mean that you just want the transaction bytes in RLP format and what they mean?

You can get this from our state tests. For example, take https://github.com/ethereum/tests/blob/develop/GeneralStateTests/VMTests/vmLogTest/log1.json. You can see the transaction's fields in `log1.transaction`. Some fields are lists because they can have multiple values.

[code]

Th

[2021-08-04 16:20] winsvega commented on #906
to make transaction structure tests that you saying we need to come up with a protocol that I can feed to t8ntool or by rpc
with the meyoaning of
"is this transaction structure could possibly be legit:   0xfc24586....235adda990"

by possibly legit I mean according to the YP. (without dependence on state)
so nonce is not validated against sender's account nonce. balance is not validated either.
wha

[2021-08-04 16:36] norswap commented on #906
@qbzzt That's nice! Questions:
1. Does it include negative tests also? That's one of the most important things to test, that you don't let through invalid things, especially on tricky boundary cases.
2. I am guessing however that these tests are not geared towards testing the format of transctions right? (Which the `TransactionTests` tests are, e.g. `AddresMoreThan20.json`)

@winsvega
I *think* I

[2021-08-05 03:17] qbzzt commented on #906
No negative tests that fail on the data structure. You can find those in the [TransactionTests](https://github.com/ethereum/tests/tree/develop/TransactionTests), the ones without a hash for any fork are invalid data.

Yes. The state tests are geared towards testing complete clients, not just data parsing, so they don't include invalid examples.

The `TransactionTests` haven't been touched in over

[2021-08-05 13:41] norswap opened #912 "Transaction potentially rejected for the wrong reasons"
First of all, I know transactions tests are not being maintained, see #906

Nevertheless, I thought I'd report some issue with them, in case someone is interested.

The issue is that some transactions in those tests have a "malleable signature", essentially, a signature `s` that is higher than the ellipctic curve parameter `N` divided by 2. This should be rejected after [EIP-2](https://eips.ethere

[2021-08-05 19:05] winsvega commented on #908
should be fixed now

[2021-08-05 19:05] #908 closed, assigned to nobody

[2021-08-06 00:08] winsvega commented on #912
Hm. Transaction tests currently not supported as there is no legitimate way to generate it.

You can open a PR, we could pretend that it is still being filled from changed fillers.

Ideally there would be a mechanism to provide data from filler to the client and get the result if a transaction is legit. But apparently its much less relevant then the core transition tests.

[2021-08-06 00:14] winsvega commented on #906
Now we have some invalid transactions in state tests.

[code]
So to the other devs. But have you ever thought how those JSONs appeared initially?
Its not handwritten. We used aleth implementation. Now to generate the tests I can write my own transaction implementation but that would be bad as I might make a mistake. Like ori just recently found what might be a bug in my difficulty formula on edge

[2021-08-06 21:38] qbzzt commented on #909
Look at PR #913 . It runs CREATE2 (as well as a few other operations) with 0 gas, 100 gas, 200 gas, etc. until it finally works out. Hopefully, this means it catches all the different places where those operations can run out of gas.

If there are any other opcodes with multiple OOG failure points, please tell me and I'll add them.

[2021-08-07 11:38] norswap commented on #912
Will do the PR then!

I might make such a tool - are you attached to the current JSON format, or could it be changed?
Of course, it wouldn't be useful immediately, since my "client" is itself being implemented and almost assuredly has bugs.

[2021-08-08 22:05] winsvega commented on #912
Also the existing ones are verified by aleth constantinople implementation. Are you sure the signature is incorrect?

[2021-08-08 22:07] winsvega commented on #909
Basically create/create2 and call opcodes.

[2021-08-08 22:43] qbzzt commented on #909
Then we're covered, because I check all those opcodes, and a few others. https://github.com/ethereum/tests/pull/913/files#diff-a103df4405faf19e07ec21f5b5815ad292df63b52481d1f695a9e7422ccf903eR11-R21

[2021-08-12 13:07] norswap commented on #912
To clarify: these are negative tests, meaning that the transaction should be rejected for the tests to pass.

Are you saying that you check the signature (and _**only**_ the signature) with aleth, and aleth says that all signatures are valid (even on these negative tests)?

I would be very surprised if it's a bug on my side — it would mean I'm parsing the signature values incorrectly. But if that

[2021-08-20 10:03] #909 closed, assigned to qbzzt

[2021-08-20 14:21] drospa opened #928 "Mantis using ETS library"
Hello,

I am from IOHK Mantis team https://mantisclient.io/. We support ETC network and we have added compatibility with ETS

Mantis (Scala): https://github.com/input-output-hk/mantis
Docshttps://docs.mantisclient.io/
Test location:  mantis/tree/develop/ets in https://github.com/input-output-hk/mantis/tree/develop/ets

Can you add it to the list of clients using the library? Thanks!

[2021-08-20 23:40] #910 closed, assigned to nobody

[2021-08-22 22:45] winsvega opened #932 "Move Legacy tests into sub repository"

[2021-08-28 09:59] winsvega commented on #912
just checked this file DataTestNotEnoughGASFiller.json and filled DataTestNotEnoughGAS
the test is correct with s/2 requirements, what is the issue?

Those tests clearly say that transaction is expected to be rejected.

[2021-09-01 08:20] holiman opened #935 "Geth v.1.10.8 consensus issue test - filler wanted"
The consensus-issue which caused geth versions < 1.10.8 can be hit by this state-test
[code]
Would be great if we can get this into the reference tests, also with more forks than 'Berlin'. @MariusVanDerWijden can provide more info about how this was generated, so we can make a filler for it.

[2021-09-01 10:20] MariusVanDerWijden commented on #935
That's the code I used to generate the state test in goevmlab
[code]
	Basically you call the identity precompile with inOffset 0, inSIze 8, outOffset 2, outSize 8,
	Then Copy the returndata, hash it and store it to the trie (in order to create an invalid state root)

[2021-09-02 12:20] winsvega opened #937 "Rework existing ttTransaction tests to a new format"
Example of a new format
https://github.com/ethereum/tests/pull/936

Using latest retesteth develop branch and geth master branch once the support PR is merged
https://github.com/ethereum/go-ethereum/pull/23494

Exception names are in .retesteth config folder

[2021-09-02 12:22] winsvega commented on #935
interesting. thanks for the source code
@qbzzt

[2021-09-03 02:37] qbzzt commented on #935
There are three overlapping buffers here:

1. The input buffer (0-8)
2. The output buffer (2-10)
3. The RETURNDATACOPY buffer (0-6)

That's not necessary. It's enough for the first two to overlap, and then we can use RETURNDATACOPY to an unrelated buffer to show it is corrupt.

I created this filler, which I think is simpler. I need to rebuild by Docker with geth 1.10.8 to be able to create the fi

[2021-09-06 09:35] holiman opened #939 "Test wanted: modexp(0,0, >1)"
Looking at https://github.com/ethereum/tests/tree/develop/GeneralStateTests/stPreCompiledContracts, we don't seem to have a modexp-test for `modexp(0,0, nonzero)`.

This is an issue found in py-evm, by @guidovranken

[2021-09-06 09:35] holiman commented on #939
cc @pipermerriam

[2021-09-06 14:17] qbzzt commented on #939
The modulo here is 0x61bb60057f00000000000000000001000015fd60cf3b, I don't think there's anything special about it. Should I just run a bunch of tests with different modulos, or is there something special in this modulo that I'm missing?

I'll see what's already tested and add some more, probably later today.

[2021-09-06 14:20] guidovranken commented on #939
Correct, there is nothing special about it. This is the raw fuzzer finding.

Op ma 6 sep. 2021 om 16:17 schreef Ori Pomerantz ***@***.***>

[2021-09-06 17:07] qbzzt commented on #939
BTW, `modexp(0,0,0) = modexp(0,0,1) = 0`. It's only `n>1, modexp(0,0,n) = 1`

At least in geth.

[2021-09-06 17:40] holiman commented on #939
If I interpret the naming right, we have these
![Screenshot 2021-09-06 at 19-38-25 tests GeneralStateTests stPreCompiledContracts at develop · ethereum tests](https://user-images.githubusercontent.com/142290/132249676-491f4db7-8d0e-4fd8-b6a3-3fb4553a7def.png)

So tests for `0,0,0`, `0,1,0`, but not `0,0,1`, `0,0,2`. In general, we should have all permutations of `0`, `1`, `2` in all three position

[2021-09-06 17:47] qbzzt commented on #939
I don't see the point in gas permutations. My test runs the precomp once per triad of values, and checks the gas cost.

I didn't think about adding specifically permutations with two, thank you. I'll add them.

BTW, I'm removing the old tests and folding them all into one test.

[2021-09-07 10:39] holiman opened #941 "Test wanted: ecRecover failure for py-evm"
Reported by @guidovranken.  cc @carver @pipermerriam

Here's a repro of a testcase that apparently fails on py-evm, but succeeds on geth and nethermind. The test calls `ecRecover`, and the signature recovery fails on geth and nethermind, but succeeds on py-evm
[code]

The code is
[code]
so it just creates the input `6b8d2c81b11b2d699528dde488dbdf2f94293d0d33c32e347f255fa4a6c1f0a9000000000000000000

[2021-09-07 10:40] holiman commented on #941
@carver can you ACK whether py-evm indeed fails this test or not?

[2021-09-07 10:49] holiman opened #942 "Test(s) wanted"
Bug report by @guidovranken, concerning py-evm:

## Report

When there is insufficient funds for a CREATE/CREATE2 call, Create::__call__ aborts here:

https://github.com/ethereum/py-evm/blob/efa07f743db4437a2762dfcd05535177046507e7/eth/vm/logic/system.py#L162-L164

That way, it never reaches the call to apply_create_message():

https://github.com/ethereum/py-evm/blob/efa07f743db4437a2762dfcd055351

[2021-09-07 13:35] MariusVanDerWijden commented on #941
Succeeds on OpenEthereum and Besu too

[2021-09-07 13:45] guidovranken commented on #941
The test, or the ECRECOVER call?

[2021-09-07 13:48] MariusVanDerWijden commented on #941
The test, it executes in the same way that geth and nethermind execute it

[2021-09-07 23:34] carver commented on #941
Yes, I believe @kclowes is working on this and it has been reproduced locally. She or I will link the PR when it's posted to github.

[2021-09-08 02:32] qbzzt commented on #941
Did you mean for `hash` and `s` to be the same value? If so, here's a filler file that implements that test.

[ecRecoverFiller.yml.txt](https://github.com/ethereum/tests/files/7125309/ecRecoverFiller.yml.txt)

[2021-09-08 02:58] qbzzt commented on #942
Why would CREATE2 overwrite the return data? It doesn't have an output buffer the way the CALL opcode family does.

[2021-09-08 06:17] holiman commented on #942
https://eips.ethereum.org/EIPS/eip-211:

I think the actual reason for this 'quirk' is this:

[2021-09-08 15:01] kclowes commented on #941
Here's the PR for py-evm: https://github.com/ethereum/py-evm/pull/2024. I'll make sure these test cases are pulled in too!

[2021-09-08 17:31] holiman commented on #941
That fix doesn't look like it fixes the right thing. The data size is correct, isn't it?

[2021-09-08 17:39] kclowes commented on #941
Based on the email that came through, I thought it shouldn't succeed because the r and s values were too long. Is that wrong? I'm new to the EVM side of things :)

[2021-09-08 18:03] holiman commented on #941
Yes the actual values provided in the email didn't match up with what happened when executing the code that was also provio. Could you try the values given in this issue description?

[2021-09-08 18:06] kclowes commented on #941
Ah, okay. Yep, will do!

[2021-09-08 18:40] holiman commented on #941
That is, how does py-evm handle the input `6b8d2c81b11b2d699528dde488dbdf2f94293d0d33c32e347f255fa4a6c1f0a9000000000000000000000000000000000000000000000000000000000000001b79be667ef9dcbbac55a06295ce870b07029bfcdb2dce28d959f2815b16f817986b8d2c81b11b2d699528dde488dbdf2f94293d0d33c32e347f255fa4a6c1f0a9` to ecrecover?

[2021-09-08 19:42] fselmo commented on #942
Thanks for sending this in. I just pinged the testing discord channel about this test and came here and saw it was already added. Just as an fyi, the changes has for py-evm for this have been merged, just not yet on a release.

PR with the changes here: https://github.com/ethereum/py-evm/pull/2023

[2021-09-08 21:08] kclowes commented on #941
@holiman py-evm does send back an address (3f17f1962b36e491b30a40b2405849e597ba5fb5) with the input from above. It isn't clear to me though why those values/that input should fail?

[2021-09-08 22:00] kclowes commented on #941
~~Actually, looks like r and s are too big?~~

EDIT: I deleted the content of this comment because it was wrong. I copy/pasta'ed the wrong secp256k1n locally 🤦‍♀️

[2021-09-09 02:46] qbzzt commented on #942
I found something interesting and unexpected.

When `CREATE` fails with `REVERT` in the constructor and a collision(1), it clears the return data buffer (https://github.com/ethereum/tests/blob/5197679fb9b47b6817357aa95e969853fc508e75/src/GeneralStateTestsFiller/stCreateTest/createFailResultFiller.yml#L493)

But when `CREATE2` fails in the same circumstances (`REVERT`, and collision), OTOH, the ret

[2021-09-09 07:41] holiman commented on #942
In geth, the collision is checked prior to executing the initcode. Therefore, there should be no `REVERT` executed, if you indeed managed to create a collision.
If you provide the t8n inputs (or the filled test), I can investigate this a bit further.

[2021-09-09 07:50] holiman commented on #942
Ok, found the test in your PR. Running the test(s), I see this:
[code]
So there are 4 legacy `CREATE`, two of them cause collision.
There are 4 `CREATE2`, and only one of them cause collision.

[2021-09-09 11:02] qbzzt commented on #942
Oops, you're right, thank you for finding it. Consider it fixed, and the weird phenomena to have disappeared.

[2021-09-10 22:13] kclowes commented on #941
@holiman why should that input fail?

[2021-09-11 06:51] holiman commented on #941
I was hoping you'd tell me :)I'l try to figure it out.

[2021-09-11 12:24] #789 closed, assigned to nobody

[2021-09-11 12:26] winsvega commented on #906
the transaction tests are being reworked. fork names identical to state tests.

[2021-09-11 12:26] #906 closed, assigned to nobody

[2021-09-11 13:36] #935 closed, assigned to qbzzt

[2021-09-11 13:41] #942 closed, assigned to nobody

[2021-09-11 20:35] kclowes commented on #941
Ah, okay. I’ll keep looking too. I didn’t want to spend a bunch of time if you knew!

[2021-09-11 21:03] holiman commented on #941
EDIT: nevermind, investigating...

[2021-09-11 21:06] holiman commented on #941
I don't see why that isn't rejected by py-evm at this point: https://github.com/kclowes/py-evm/blob/master/eth/precompiles/ecrecover.py#L47

[2021-09-11 22:33] holiman commented on #941
As far as I can tell, it has something to do with points at infinity. It fails this check https://github.com/ethereum/go-ethereum/blob/master/crypto/secp256k1/libsecp256k1/src/modules/recovery/main_impl.h#L120

I updated the statetest, please try it on py-evm.

[2021-09-12 10:29] norswap opened #944 "hexEncoded flag in `hex_encoded_securetrie_test.json` is redundant"
(This is a very minor nitpick.)

The trie test file `hex_encoded_securetrie_test.json` has this `hexEncoded: true` flag, which means we should interpret the `"0x1234"` style strings as hex strings describing a sequence of bytes. Fair enough.

The issue is that many other trie test also has such strings which have to be treated in the same way for the tests to pass. These tests do not have the `hex

[2021-09-12 19:57] jochem-brouwer commented on #942
Checked this in EthereumJS - we do not have this bug.

[2021-09-15 19:29] #939 closed, assigned to nobody

[2021-10-11 18:04] marioevz opened #952 "Include tests for EIP-3607"
Include set of tests that verify that clients have implemented https://eips.ethereum.org/EIPS/eip-3607.

[2021-10-15 21:54] #932 closed, assigned to nobody

[2021-10-15 21:54] winsvega commented on #912
reworked

[2021-10-15 21:54] #912 closed, assigned to nobody

[2021-10-17 10:29] #952 closed, assigned to marioevz

[2021-10-18 15:06] marioevz opened #965 "Add test cases for Arrow Glacier Network Upgrade including EIP-4345"
This issue tracks implementation of test cases for the Arrow Glacier Network Upgrade:
https://github.com/ethereum/execution-specs/blob/master/network-upgrades/mainnet-upgrades/arrow-glacier.md

Includes test cases for EIP-4345: https://eips.ethereum.org/EIPS/eip-4345

[2021-10-23 21:51] rakita opened #971 "Strange "0x:bigint 0x1000...0001""
Found this as JSON value in:
https://github.com/ethereum/tests/blob/fbff6fee061ade2358280a8d6f98f67b4ae2b60e/GeneralStateTests/stTransactionTest/ValueOverflow.json#L181

[2021-10-27 16:07] marioevz commented on #971
This prefix ("0x:bigint ") is used by retesteth for it to be able to properly parse and then format the RLP transaction, which then will be sent via RPC to the client.

[2021-10-27 18:55] rakita commented on #971
It does have usage but I feel that `value` field is misused here for some custom solution.

For me, i will just ignore this test.

Maybe a better way is to have an additional optional JSON field "big_value", but either way if this is intentional then this 'issue' can be closed

[2021-10-27 18:58] #971 closed, assigned to nobody

[2021-10-28 16:56] silkPK opened #974 "[documentation] Broken link in test/README.md documentation"
In the README.md in the paragraph https://github.com/ethereum/tests/blob/develop/README.md#contribute-to-the-test-suite

shall be update the link "[section](https://ethereum-tests.readthedocs.io/en/latest/generating-tests.html)"

should be this
https://ethereum-tests.readthedocs.io/en/latest/how2contribute.html

[2021-10-30 16:38] winsvega opened #975 "move old difficulty formula tests in BasicTests folder into LegacyTests repo"
move old difficulty formula tests in BasicTests folder into LegacyTests repo

don't forget

[2021-11-01 18:03] winsvega opened #978 "make sure there are transaction tests for nonce"
https://github.com/ethereum/tests/pull/934

check if there are transaction tests for nonce:

- [ ] maxAllowedNonce         must fail
- [ ] maxAllowedNonce + 1  must fail
- [ ] maxAllowedNonce - 1   must pass
- [ ] pow(2,256)-1                 must fail
- [ ] > pow(2,256)                 must fail
- [ ] 00 before the nonce value  must fail
 empty rlp string  80 or 00 in transaction rlp  (one of thi

[2021-11-01 18:43] wow6699 commented on #978
S

[2021-11-01 23:20] marioevz commented on #978
The following tests are covered:
- maxAllowedNonce: TransactionTests/ttNonce/TransactionWithHighNonce64
- maxAllowedNonce + 1: TransactionTests/ttNonce/TransactionWithHighNonce64Plus1
- maxAllowedNonce - 1: TransactionTests/ttNonce/TransactionWithHighNonce64Minus1
- pow(2,256)-1: TransactionTests/ttNonce/TransactionWithHighNonce256
- \> pow(2,256): TransactionTests/ttNonce/TransactionWithNonceOver

[2021-11-02 21:04] #975 closed, assigned to nobody

[2021-11-02 21:13] winsvega commented on #941
Does those tests cover the case enough?

[2021-11-02 21:35] holiman commented on #941
cc @kclowes does the test https://github.com/ethereum/tests/pull/973 'work' on pyevm?

Also, is there a statetest which implements the one I posted in the issue description @winsvega ?

[2021-11-02 21:38] winsvega commented on #941
Yes there is

`GeneralStateTests/stTransactionTest/PointAtInfinityECRecover.json`

That calls ECRecover precompile

[2021-11-03 22:05] winsvega commented on #928
did you implement RPC/t8ntool test protocol?

[2021-11-04 22:08] kclowes commented on #941
@holiman I _think_ so, but need to double check that I'm running the right thing. I should be able to get to it tomorrow.

[2021-11-06 21:18] qbzzt commented on #928
It looks like they run their client and then wait for the RPC interface (https://github.com/input-output-hk/mantis/blob/develop/ets/run#L9-L14), so they are using RPC.

[2021-11-06 21:26] qbzzt commented on #928
You mean to add a `config` file for it? Sure, we can do that. It will probably be similar to the [besu one](https://github.com/ethereum/retesteth/blob/master/retesteth/configs/clientconfigs/besu.cpp#L5-L43). The main configuration is the URL to access the client.

But if you want to also fill tests with Mantis, it would help if we knew [the responses to various exception conditions](https://github

[2021-11-06 21:35] qbzzt commented on #974
Thank you, I'm about to submit a PR to fix it.

[2021-11-07 11:41] drospa commented on #928
Hello, I will close this request. Mantis client repo will no longer be continued. Thanks for the comments, we will consider them if we use ETS in the future.

[2021-11-07 11:41] drospa commented on #928
Hello @qbzzt , I will close this request. Mantis client repo will no longer be continued. Thanks for the comments, we will consider them if we use ETS in the future.

[2021-11-07 11:41] #928 closed, assigned to qbzzt

[2021-11-11 23:01] winsvega commented on #937
done

[2021-11-11 23:01] #937 closed, assigned to nobody

[2021-11-11 23:02] #974 closed, assigned to nobody

[2021-11-11 23:04] winsvega commented on #944
this test folder is not supported. feel free to open a PR with a fix.

[2021-11-11 23:04] #965 closed, assigned to marioevz

[2021-11-11 23:05] winsvega commented on #965
but think about more test vectors
we now have the whole new filler class just for that

[2021-11-11 23:05] winsvega opened #983 "PoS tests"
figure out the test system for PoS chain validation methods

[2021-11-15 12:48] winsvega opened #985 "codesize tests for dynamic contract creation"
Test create / create2 contract creation (abort on code size limit)

Plus can check this case:

Create a contract with large code but still valid. Destroy it and then revert the transaction

[2021-11-19 09:56] winsvega opened #991 "Max account nonce check"
In addition to what we already have:

- [ ] transaction coming from account with maxNonce (should fail), maxNonce-1 (should work)
- [ ] A delegate call B, B create/create2 contract     A has maxNonce, B has maxNonce  (create should fail)
- [ ] A delegate call B, B create/create2 contract     A has maxNonce-1, B has maxNonce  (create should work)
- [ ] A delegate call B, B create/create2 contract

[2021-11-19 22:35] marioevz commented on #983
I have added several test cases that we could use as a starting point here:
https://github.com/marioevz/kintsugi_testing/tree/main/tests

They execute using a Python script, but ideally we could port them to something retesteth or hive can execute.

Basically we need retesteth support for engine_* calls:
https://github.com/ethereum/execution-apis/blob/main/src/engine/specification.md

[2021-11-22 16:18] marioevz commented on #991
Test cases 2 through 9 will be covered by PR #989.
Test cases 10 through 12 will be covered by PR #992

[2021-11-24 14:50] chfast opened #993 "Test wanted: CREATE properly clears dirty return data"
Scenario:
1. At depth 0 we execute `CREATE` or `CREATE2` instruction.
2. Inside the "create" we invoke somethings what produces non-empty return data. Can be a call to other contract, reverting create, call to a precompile. After this the `RETURNDATASIZE != 0`.
3. Initial "create" finishes successfully.
4. After "create" check if correctly `RETURNDATASIZE == 0`.

This is tested for `CREATE` but on

[2021-11-29 13:57] chfast opened #995 "Add "origin" field to "transaction" in State tests"
Hi there,

I have a State test format extension request. Currently there is no direct information about the transaction origin address in the State test format. There is however, `"secretKey"` field which represents EC private key and the origin address can be recovered from the private key.

### Specification
In the State test format provide `"origin"` field with an address matching the EC privat

[2021-11-30 14:11] gumb0 opened #996 "Documentation: State tests format spec is not up to date"
https://ethereum-tests.readthedocs.io/en/latest/test_types/gstate_tests.html#info-section

`info` section doesn't mention `labels` field.

[2021-11-30 17:13] gumb0 commented on #996
`post` section doesn't mention `txbytes`

[2021-11-30 20:54] chfast opened #997 "Why is ":label" included in label names?"
I'm not sure what the original idea, but look labels can be only used for data indexes although you can also have multiple values and gas prices.

Anyway, I'd like to use these for better logging, and it would be better if the `:label` is omitted in the final test file:
https://github.com/ethereum/tests/blob/38d5c93203e84da1611739b4736ca816cb193407/GeneralStateTests/stCodeSizeLimit/createCodeSizeL

[2021-11-30 21:01] chfast opened #998 "Add "output" to State test "post" sections"
For single-call state tests (like obsolete VM tests) it is worth to check EVM output on depth 0. This output is discarded by blockchain but should be worth-checking in this case.

I propose to add `"output"` field in `"post"` entries with hex-encoded bytes.
[code]

[2021-12-01 03:26] qbzzt commented on #997
The reason we don't have labels on `gas` and `value` is that we rarely create huge lists there. OTOH, many of my tests have dozens of data values, each triggering a slightly different variant of the test.

I agree that it makes sense to modify `retesteth` not to have `:label` in the filled tests, because it is there in all cases. Dimitry, do you agree?

[2021-12-01 13:09] chfast commented on #997
Thanks for the response. The labels are going to be very handy for my use case - I'm porting EVM benchmarks to State test format and I have named input cases.

However, I wander, why didn't you just use YAML dictionary:
[code]

[2021-12-03 20:43] yperbasis opened #1001 "Illformed value in GeneralStateTests/stTransactionTest/ValueOverflow.json"
In GeneralStateTests/stTransactionTest/ValueOverflow.json:
[code]
For comparison, in GeneralStateTests/stTransactionTest/CreateMessageReverted.json:
[code]

[2021-12-05 22:23] qbzzt commented on #997
Mostly because we didn't want to change the format that much when we added them.

[2021-12-07 11:47] #996 closed, assigned to qbzzt

[2021-12-10 02:31] qbzzt opened #1002 "Check that RETURNDATACOPY(a,b,<bigger than RETURNDATASIZE()) reverts"

[2021-12-10 18:24] chfast commented on #998
Anything? Can we at least add it as optional to the spec?

[2021-12-13 18:39] gumb0 commented on #998
I think tests usually wrap such calls in another contract doing a CALL and saving result into storage.

[2021-12-15 14:05] #998 closed, assigned to nobody

[2021-12-17 15:33] #993 closed, assigned to qbzzt

[2021-12-17 17:15] winsvega commented on #1001
thats a new feature
this way it is possible to create rlps with transaction values more than 256bits

if you parse or read transaction in filled tests, read `txbytes`
it does not require for you to build vrs from secret and indexes, and it is exactly the data that being tested.
`transaction` section is to be used to human read the values inside transaction.

[2021-12-17 17:19] winsvega commented on #997
also you can assign one label to mutliple data elements.
labels was ori's idea which came up to be very handy.

the end result you see is not as optimal as it is the result of test format evolution. indeed we didn't want to introduce new fields or format change.

[2021-12-17 17:20] winsvega commented on #997
I agree in filled test in _info section the word label can be omited to save disk space.

[2021-12-17 17:22] winsvega commented on #995
ok. that would touch all existing files though
and 99% of tests has the same sender.

https://github.com/ethereum/retesteth/pull/157/commits/ee2b9e8cdf6f24095c554d5273f08c281a4bae51

[2021-12-17 17:22] #991 closed, assigned to nobody

[2021-12-17 17:22] #985 closed, assigned to marioevz

[2021-12-17 17:23] #978 closed, assigned to nobody

[2021-12-17 17:24] winsvega commented on #941
status?

[2021-12-17 17:25] #1001 closed, assigned to nobody

[2021-12-17 17:27] kclowes commented on #941
Fix has been merged and released in py-evm (v0.5.0a2) via https://github.com/ethereum/eth-keys/pull/76. I am working on getting the changes into eth-account now! This issue can probably be closed though. Thanks!

[2021-12-21 13:24] q9f commented on #691
This is kind of a chicken and egg problem, if you want to write an ABI encoder/decoder it is ofter very useful to look at spec tests. The given tests are barely scratching the complexity of ABI. So, for more complex cases, such as nested, dynamically sized arrays, I can just hope that my encoder works, because there is little to test against.

[2021-12-26 23:06] rakita commented on #995
If needed here are hardcoded mapping of `key->address` found in `GeneralStateTest`:
https://github.com/bluealloy/revm/blob/00d3b05e58dcd80204980fece5cfcdac419d0561/bins/revme/src/statetest/runner.rs#L80-L108

having origin field would simplify it.

[2021-12-28 15:09] chfast commented on #995
Thanks, this is helpful.

[2022-01-04 14:37] winsvega commented on #997
will remove from filled test files.
also -d selector will not require :label prefix in a string.

[2022-01-04 14:37] #997 closed, assigned to nobody

[2022-01-08 15:53] winsvega commented on #995
updated the tests with sender field having the origin address for the transaction

[2022-01-08 16:11] chfast commented on #995
Thank you.

[2022-01-08 16:11] #995 closed, assigned to nobody

[2022-01-15 10:15] winsvega commented on #1002
wasn't it done?

[2022-01-16 04:51] qbzzt commented on #1002
Apparently not. Life got crazy and I forgot to do it. Thank you for reminding me.

[2022-01-20 08:26] chfast commented on #997
Thank you.

[2022-02-01 11:50] #941 closed, assigned to nobody

[2022-02-01 11:51] winsvega commented on #816
Yes. Just that they wont fix the errors in test execution I report

[2022-02-01 11:51] #816 closed, assigned to nobody

[2022-02-02 18:59] #1002 closed, assigned to qbzzt

[2022-02-16 03:37] kansas1295 opened #1016 "Kalianda"
[code]

[2022-02-16 03:51] #1016 closed, assigned to nobody

[2022-02-19 18:28] chfast commented on #997
Will you release retesteth with these changes?

[2022-02-21 16:52] chfast commented on #995
can you make a retesteth release with these changes?

[2022-02-22 20:06] marioevz opened #1017 "EC Recover precompile state tests might be missing edge cases"
Some edge cases that might be missing from the EC Precompile:

R == secp256k1N + 1
R == secp256k1N
R == secp256k1N - 1
R == secp256k1N - 2

S == secp256k1N + 1
S == secp256k1N
S == secp256k1N - 1
S == secp256k1N - 2

[2022-03-02 21:02] winsvega opened #1020 "ttTransaction tests for 1559/access lists"
Make a field sanity, strucutre tests in ttTransaction tests for new typed transactions

[2022-03-05 14:21] #1017 closed, assigned to marioevz

[2022-03-05 14:21] marioevz commented on #1017
Resolved by #1018

[2022-05-16 07:43] chfast opened #1029 "Move stTransactionTest.ValueOverflow to transaction tests"
https://github.com/ethereum/tests/blob/develop/GeneralStateTests/stTransactionTest/ValueOverflow.json

Nothing executes in this test because the transaction is rejected at the RLP decoding phase. It should be more suitable for transaction tests.

Moreover, this is the only test containing undocumented prefix `0x:bigint `.

[2022-05-18 17:44] shemnon opened #1032 "Test name wrong"
Test name for `maxPriorityFeePerGas00prefix` in the file `maxPriorityFeePerGass32BytesValue` but it should match the file name.

https://github.com/ethereum/tests/blob/develop/TransactionTests/ttEIP1559/maxPriorityFeePerGas00prefix.json#L2

This is something the filler generator should catch?  At least duplicates?

[2022-05-24 15:40] winsvega commented on #1032
I think no. Because one ttTest file can have many test cases inside.
@MarcusWentz

[2022-05-24 18:20] MarcusWentz commented on #1032
Corrected in this PR: https://github.com/ethereum/tests/pull/1035

[2022-05-24 18:29] MarcusWentz commented on #1032
@shemnon YAML generated tests can detect inconsistent Filler test names with their file names. JSON generated tests don't seem to detect test/file naming differences.

[2022-05-25 15:49] shemnon commented on #1032
Thanks for fixing it.  It lead to a very confusing debug session. ;)

[2022-05-25 15:49] #1032 closed, assigned to nobody

[2022-05-28 16:17] gurukamath opened #1037 "Some `InvalidBlocks` tests for Istanbul have a completely valid chain"
The following tests which are under `BlockchainTests/InvalidBlocks` seem to contain completely valid chains at least for Istanbul.

    `timestampTooLow_Istanbul`
    `timestampTooHigh_Istanbul`
    `wrongStateRoot_Istanbul` (from bcUncleHeaderValidity)
    `incorrectUncleTimestamp4_Istanbul`
    `incorrectUncleTimestamp5_Istanbul`
    `futureUncleTimestamp3_Istanbul`

These tests pass without rai

[2022-05-30 15:16] MarcusWentz commented on #1020
https://github.com/ethereum/tests/pull/1035

[2022-06-04 14:04] #1020 closed, assigned to nobody

[2022-06-08 00:25] axic opened #1039 "Improve ecrecover tests"
The negative tests seem to be mostly concerned by checking dirty bits for the `v` value, but there aren't many trying out various 1-byte values. On example was discussed under #941.

The goal would be to include cases with `v` values 0, 1, 2, 3, 29, 30 and a bunch of other random values, plus potentially those used with chainid based signing.

`stPreCompiledContracts2/CALLCODEEcrecoverV_prefixedf0

[2022-06-13 14:52] marioevz opened #1042 "Add tests for upcoming difficulty bomb push fork"
As the title says, the following bomb push will happen in the upcoming weeks and will likely be a 700,000 block push.
Appropriate tests will be added to this repository.

[2022-06-13 15:51] jochem-brouwer commented on #1042
Is there an EIP or spec somewhere? And a fork name?

[2022-06-13 15:54] marioevz commented on #1042
None that I know of yet, but will keep this issue updated once I have all the final values and the EIP number.
@timbeiko do you know if we have an EIP yet ? Thanks.

[2022-06-13 19:39] timbeiko commented on #1042
See the spec for the fork here: https://github.com/ethereum/execution-specs/pull/537

I think unless someone has an objection, it's unlikely to change, but want to wait until wednesday to merge.

[2022-06-13 23:58] marioevz commented on #1042
Added PR #1043 for this.

[2022-07-13 17:07] #1042 closed, assigned to marioevz

[2022-07-13 17:09] winsvega commented on #1037
InvalidBlocks assume there might be an invalid block, but not guaranteed.

[2022-07-14 00:23] qbzzt commented on #1037
It is necessary to have tests in InvalidBlocks if they are invalid for *any* fork. They could be valid for earlier or later forks.

[2022-07-14 09:25] gurukamath commented on #1037
In that case, could only those forks be included where the the tests are invalid? i.e. where the blocks provided in the tests fail to process. Eg - Could we just skip `Istanbul` for the above mentioned tests

[2022-07-14 14:48] winsvega commented on #1037
the point is actually that you should pass all tests with blocks being rejected and ideally reject it for the same reason, because if you accept an invalid block thats not good.

[2022-07-14 15:53] winsvega commented on #1039
we have more transaction signature tests here
https://github.com/ethereum/tests/tree/develop/src/TransactionTestsFiller

have you run it?

[2022-07-14 15:58] winsvega commented on #1029
this is a test. `0x:bigint` prefix basically disables structure field checks and allows to encode any value into the rlp.
geth btw failed on calculating the balance, not decoding rlp.
since Transaction tests are neglected by most of the teams I was thinking to add more this invalid RLP generations to State/Blockchain tests and see how clients behave on Hive.

[2022-07-14 16:24] chfast commented on #1029
Ok, so maybe convert Transaction tests to Blockchain tests?

I'm not convinced these tests will be particularly good. Because they will test JSON → internal transaction representation transition instead of intended RLP → internal transaction representation.

[2022-07-15 17:56] gurukamath commented on #1037
Thanks for the details.

[2022-07-15 17:56] #1037 closed, assigned to nobody

[2022-09-06 10:33] gurukamath opened #1078 "retesteth does not produce vm trace for some `ValidBlock` tests"
I came across a handful of tests within the `ValidBlocks` folder that do not produce an evm trace with retesteth. I presume this is because these tests have invalid blocks in them. Is there any way of identifying such tests without running them through geth?

Also would it be more appropriate to have those tests in `InvalidBlocks`?

Example - [test](https://github.com/ethereum/tests/blob/develop/B

[2022-09-08 14:33] winsvega commented on #1078
in that test trace is not retrived because imported block does not belong to the TOP difficulty chain, therefor thransaction is not found in the latest block.

actually vmtrace in blockchain tests not tested. it is implemented but never tested. see if other cases work.

I think I can fix it to look up for transaction in all known chains and print the vmtrace anyway. but does it make sense if chain

[2022-09-09 20:28] winsvega commented on #1029
testers are supposed to parse txbytes now in state tests.
all state tests are converted to blockchain to be executed on hive.
the evm t8n tool protocol parses the RLP

this test is PoC example because I am not convinced that devs run ttTransaction tests properly.

[2022-09-16 19:59] #1039 closed, assigned to qbzzt

[2022-09-16 20:04] winsvega commented on #584
hm. It was a really long time ago. looks like not even my tests. the idea is to have V value correct but with some garbage prefix I see.

now with expect exception the validity is clear

[code]

[2022-09-16 20:06] #584 closed, assigned to nobody

[2022-09-16 20:07] #815 closed, assigned to nobody

[2022-09-16 20:08] #944 closed, assigned to nobody

[2022-09-16 20:08] #983 closed, assigned to nobody

[2022-09-16 20:09] winsvega commented on #983
engine calls are out of the scope of this repo

[2022-09-27 13:21] holiman opened #1083 "Besu consensus failure-test"
See https://github.com/hyperledger/besu/security/advisories/GHSA-4456-w38r-m53x and write-up https://hackmd.io/@shemnon/besu-gas-leak .
Here is the state-test that triggered the bug:

[code]
And output when executing it on geth `evm`:
[code]
This statetest should be added to the reference-tests, not sure where you want it, so just filing it as a ticket for now.

[2022-10-13 11:10] #1083 closed, assigned to marioevz

[2022-10-13 22:09] xinifinity opened #1086 "GeneralStateTests.stackLimitPush31_1025 should expect the transaction to fail"
In the [stackLimitPush31_1025](https://github.com/ethereum/tests/blob/develop/src/GeneralStateTestsFiller/stMemoryTest/stackLimitPush31_1025Filler.json) test, IIUC its intention is to check when reaching stack depth limit, which should be 1024, the transaction will fail with stack overflow error. However in the [expect](https://github.com/ethereum/tests/blob/develop/src/GeneralStateTestsFiller/stM

[2022-10-14 02:14] jochem-brouwer commented on #1086
The transaction will fail because of a stack overflow error. However, the transaction will still succeed and will be logged (the nonce will be increased). Otherwise, it would be possible to "conditionally" send transactions: if X happens then stack overflow and the tx did not happen, but if Y happen execute the transaction.

This is the same as if a transaction goes OOG. You sign a transaction, it

[2022-10-14 05:56] holiman commented on #1086
U got this :)

[2022-10-14 05:56] #1086 closed, assigned to nobody

[2022-10-20 04:54] xinifinity commented on #1086
Makes sense, thanks a lot for the explanation!

[2022-11-07 18:14] winsvega opened #1090 "test case: empty coinbase"
what if a block has 0 mining reward (and tx fees are burned, no priority fee) blockchain test
1) coinbase is empty and present in the state, will it be deleted? (by 0 reward touch)
2) coinbase is absent in the state (should not be created)

[2022-11-10 17:36] gumb0 opened #1093 "EIP-4200 test vectors"
Test vectors extracted from [evmone implementation](https://github.com/ethereum/evmone/pull/389) unit tests.

### EOF validation

#### Valid cases

| Bytecode                                           | Comment                                 |
|----------------------------------------------------|--------------------------------------------------|
| `EF0001 010004 00 5C000000`

[2022-11-10 18:24] gumb0 opened #1094 "EIP-4750 test vectors"
Test vectors extracted from [evmone implementation](https://github.com/ethereum/evmone/pull/497/files#diff-f3435433f73536d1892709b197a467bd24dbe248ff8cda5ed0aedc69bd814145) unit tests.

### EOF validation

#### Valid cases

| Bytecode                                           | Comment                                 |
|----------------------------------------------------|-------------------------

[2022-11-16 22:35] gumb0 opened #1100 "EIP-3540 additional test ideas"
- [x] EOF-lookalikes, bytecode that looks like a valid EOF except first byte of magic, e.g. `ED000101000402000100060300000000000002600160015500` - suggested in https://github.com/ethereum/tests/pull/847#issuecomment-1291827144
  - Such cases were not part of EIP-3540, because this is not an EOF bytecode.

[2022-11-16 23:04] gumb0 opened #1101 "EIP-3860 additional test ideas"
- [ ] Transaction tests for creation transaction of  various types, not only legacy, but also 1559, 2930
- [ ] State tests to check that CREATE/CREATE2 charge for initcode - suggested in https://github.com/ethereum/tests/pull/990#issuecomment-1301092167
- [ ] State test with invalid creation transaction with not enough gas for initcode charge

[2022-11-22 16:00] winsvega opened #1104 "new field in generated tests: txtrace"
**Suggestion:**

add optional field `txtrace`
[code]

`txtrace` that represents vm instructions log.

**why**

with this field information we can query all existing tests if they ever executed an opcode1 folloved by opcode2 and so on.

**downside**

this process takes a long time to generate the test, gathering vmtrace information from geth t8n
increase overall tests size with this debug informati

[2022-11-22 16:13] qbzzt commented on #1104
I expect very often what people care about isn't "opcode1 followed by opcode2", but "opcode 1 followed by opcode2, under condition-set 3". That would require a much longer trace.

Did any execution client team ask for this? Or for something this will enable?

[2022-11-22 16:17] winsvega commented on #1104
under condition set  we implement in a search engine. what we need is this opcode trace history. so it is possible to analyze if condition has happened.

`like regex.    CALLCODE->CREATE2->SUICIDE    =   is there a tests where inside callcode happens create2 and inside create2 init code suicide is executed`

no, no team request. just a research work

[2022-11-22 17:03] qbzzt commented on #1104
Then it makes sense. Maybe have it only generate if you have a special command line flag after `--filltests`. That way it doesn't make the test repository bigger, you'll just do a second generation for the search engine.

[2022-11-26 08:32] winsvega commented on #249
Currently geths evm trace is a standard.
Just run tests with --vmtraceraw on geth to see the format

[2022-11-26 08:32] #249 closed, assigned to cdetrio

[2022-11-26 08:35] winsvega commented on #441
Since yul tests there are many description comments in the yul file itself outside of json fields. The tests classification remains open

[2022-11-26 08:36] winsvega commented on #1029
This test actually helped us to discover a bug in the evm t8n accounts touch

[2022-11-26 08:36] #1029 closed, assigned to nobody

[2022-11-26 14:46] winsvega commented on #1090
https://github.com/ethereum/tests/pull/1088
https://github.com/ethereum/tests/pull/1097

[2022-11-26 14:46] #1090 closed, assigned to nobody

[2022-11-29 11:01] winsvega opened #1106 "EIP folder naming"
**Option 1:**
  Put all dependent eips as subfolders into each other

[code]

Option 2:
  Merge eip names into folder name `stEIP3670+4200+xxxx`, hoping that there wont be 50 eips around the same topic.
  this is because you can clearly see what eips are covered in this folder. compared to option1, there it still kind of hidden, but better organized.

[code]

Option 3:
Group the test into folders.

[2022-11-29 12:14] gumb0 commented on #1106
Option 1 seems too complicated, what if EIP depends on two others (like 4200 does), which folder to put it...

One folder is convenient, but we would name it `stEOF`, we don't know which set of EIPs will be included in the end. It's not going to be 50 of them, but it can be `st3540+3670+4200+4750` or it can be `st3540+3670+4200+4750+5450`...

Also note that EOF related EIPs currently all have pref

[2022-11-29 12:42] qbzzt commented on #1106
I'm with @gumb0 . Multi-EIP changes should probably be named `st<functionality>`.  When it's one or two EIPs, `stEIP<n>+<m>` makes more sense.

[2022-11-29 13:06] winsvega commented on #1106
So stEOF  and then inside testEIPxxxx

[2022-11-29 13:10] holgerd77 commented on #1106
Suggestion from @gumb0 also makes sense to me, also from a practical perspective

[2022-11-29 14:09] winsvega commented on #1106
subfolders yes or no?

[2022-11-29 14:43] qbzzt commented on #1106
For my money, no. The concern about EIP a depending on both EIP b and EIP c
is valid.

On Tue, Nov 29, 2022 at 4:09 PM winsvega ***@***.***> wrote:

[2022-11-29 15:05] winsvega commented on #1106
then it is like this
[code]

[2022-11-30 17:10] winsvega commented on #1106
Suggest:
[code]

[2022-11-30 17:15] gumb0 commented on #1106
Subfolders seem to be convenient when we work on the tests for one EIP and want to regenrate tests for it.

[2022-11-30 17:17] winsvega commented on #1106
also since I have now 2 contributions around the same topic.
gumb0 did 3540 folder. but now there is another 3670. so for you not to mess with each other tests.
and then if you want even more tests. you can add stEIP3540_jan2023 or smth.
because if it all stays in one folder we will get lost

[2022-11-30 17:41] winsvega commented on #1106
Even more. Can make a general subfolder:
`src/GeneralStateTestsFiller/Shanghai`
And inside of it tests

[code]
and so on. this way we know ok. all the tests for upcoming Shanghai eips are in Shanghai folder.
so you go there and run it without picking up folders from GeneralStateTestFiller
then once EIPS are settled. we rename networks in tests to just Shanghai
and for unsettled it will remain Merg